<div class="container-fluid">
    <div class="row mt-1">
        <label class="col-md-3 col-form-label">Spinner</label>
        <div class="col-md-9">
            <systelab-spinner [spinValues]="touchSpinValues1" id="touch2"></systelab-spinner>
        </div>
    </div>

    <div class="row mt-1">
        <label class="col-md-3 col-form-label">Spinner negative values</label>
        <div class="col-md-9">
            <systelab-spinner [spinValues]="touchSpinValues3" id="touch2"></systelab-spinner>
        </div>
    </div>

    <div class="row mt-1">
        <label class="col-md-3 col-form-label">Next to each other</label>
        <div class="col-md-9">
            <div class="d-flex">
                <systelab-spinner [spinValues]="touchSpinValues1" id="touch2" class="mr-1"></systelab-spinner>
                <systelab-spinner [spinValues]="touchSpinValues1" id="touch2"></systelab-spinner>
            </div>
        </div>
    </div>

    <div class="row mt-1">
        <label class="col-md-3 col-form-label">Spinner disabled</label>
        <div class="col-md-9">
            <systelab-spinner [spinValues]="touchSpinValues3" id="touch2" [disabled]="true"></systelab-spinner>
        </div>
    </div>

    <div class="row mt-1">
        <label class="col-md-3 col-form-label">Spinner with decimals</label>
        <div class="col-md-9">
            <systelab-spinner [spinValues]="touchSpinValues4" id="touch3"></systelab-spinner>
        </div>
    </div>
</div>
