<div class="container-fluid">
    <div class="row mt-1">
        <label class="col-md-3 col-form-label"> Context Menu with icons and styles</label>
        <div class="col-md-9">
            <div class="border" style="width: 50px">
                <systelab-context-menu [contextMenuOptions]="contextMenuOptions"
                                       [fontSize]="'45px'"
                                       [fontColor]="'rgb(255, 0, 0)'"
                                       (action)="executeContextMenuAction($event)">
                    <div #ngcontent style="max-height: 60px" class="slab-overflow-container">
                        <div>Esta es una prueba de poner algo en el ngContent</div>
                        <div>Esta es una prueba de poner algo en el ngContent</div>
                        <div>Esta es una prueba de poner algo en el ngContent</div>
                        <div>Esta es una prueba de poner algo en el ngContent</div>
                        <div>Esta es una prueba de poner algo en el ngContent</div>
                        <div>Esta es una prueba de poner algo en el ngContent</div>
                        <div>Esta es una prueba de poner algo en el ngContent</div>
                        <div>Esta es una prueba de poner algo en el ngContent</div>
                        <div>Esta es una prueba de poner algo en el ngContent</div>
                    </div>
                </systelab-context-menu>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label"> Context Menu with divider</label>
        <div class="col-md-9">
            <div class="border" style="width: 25px">
                <systelab-context-menu [contextMenuOptions]="contextMenuOptionsDivider"
                                       (action)="executeContextMenuAction($event)">
                </systelab-context-menu>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label"> Context Menu with children</label>
        <div class="col-md-9">
            <div class="border" style="width: 25px">
                <systelab-context-menu [contextMenuOptions]="contextMenuOptions2"
                                       (action)="executeContextMenuAction($event)">
                </systelab-context-menu>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label"> Context Menu with scroll</label>
        <div class="col-md-9">
            <div class="border" style="width: 25px">
                <systelab-context-menu [contextMenuOptions]="contextMenuOptions5" [overflow]="true"
                                       (action)="executeContextMenuAction($event)">
                </systelab-context-menu>
            </div>
        </div>
    </div>
</div>
