<div class="container-fluid">
    <div class="row align-items-top mt-1">
        <label class="col slab-label-215">Column</label>
        <div class="col-sm">
            <div>
                <input name="status-radio" type="radio" id="radio-urgent">
                <label for="radio-urgent"> Urgent</label>
            </div>
            <div>
                <input name="status-radio" type="radio" id="radio-not-urgent">
                <label for="radio-not-urgent"> Not Urgent</label>
            </div>
        </div>
    </div>


    <div class="row mt-3">
        <label class="col slab-label-215">Inline (using a grid)</label>
        <div class="col-sm-2">
            <input name="status-radio2" type="radio" id="radio-urgent2"> <label
                for="radio-urgent2">Urgent</label>
        </div>
        <div class="col-sm-2">
            <input name="status-radio2" type="radio" id="radio-not-urgent2"> <label
                for="radio-not-urgent2">Not Urgent</label>
        </div>
    </div>
</div>