$icon-header-size: 40px;
$icon-header-margin: ($slab-app-header-height - $icon-header-size) / 2;
$sidebar-width: 200px !default;

.slab-app-header-bar {
  height: $slab-app-header-height;
  background-color: white;
  border-bottom: 1px solid $background-secondary;

  > div:first-of-type {
    -webkit-flex-shrink: 0;

    /* Safari */
    flex-shrink: 0;
  }

  .slab-app-header-modulab-icon {
    @include size($icon-header-size);

    margin: $icon-header-margin;
    font-size: $icon-header-size;
    color: $primary;
  }

  .slab-app-header-user-icon {
    @include size($icon-header-size - 4px);

    margin: $icon-header-margin;
    border-radius: 50px;
    border: solid 2px $medium-gray;
    overflow: hidden;
    z-index: 1;
    position: relative;
    padding: 0;
    background-color: transparent;

    i {
      position: relative;
      top: 3px;
      left: -1px;
      color: $medium-gray;
      font-size: $icon-header-size - 10px;
    }
  }

  .slab-app-header-labels-container {
    padding: 5px;

    .slab-app-header-hospital-name {
      display: block;
      font-size: 20px;
      margin-bottom: 0px;
    }

    a {
      color: #ACACAC;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .slab-app-header-user-container {
    box-sizing: border-box;
    border-left: 1px solid $background-secondary;

    &:hover {
      background-color: $background-secondary;
    }

    .dropdown-toggle {

      > label {
        width: $slab-app-header-user-width - $slab-app-header-height - 1px;
        display: none;

        @media (min-width: $slab-ipad-width + 1px) {
          display: inline-block;
        }
      }
    }

  }
}

.slab-app-sidebar-menu-container {
  @include position(fixed, $top: $slab-app-header-height);

  background-color: $background-secondary;
  width: $sidebar-width;
  height: calc(100% - #{$slab-app-header-height});

  .slab-app-sidebar-tabs-container {
    margin-top: 45px;
    padding-left: 5px;
    width: 100% !important;
    background-color: $background-secondary;

    .slab-app-sidebar-tab {
      @include size(95%, 50px);

      display: block;
      background-color: white;
      margin-bottom: 2px;
      float: right;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: 1px solid $background-secondary;
      border-top: 1px solid $background-secondary;
      border-bottom: 1px solid $background-secondary;

      .slab-app-sidebar-tab-decoration {
        @include size(15px, 100%);

        display: inline-block;
        background-color: $table-gray;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      span {
        @include user-selection(none);

        position: absolute;
        margin-left: 15px;
        margin-top: 15px;
        color: black;
        cursor: default;
      }

      &.selected,
      &:hover {
        border-right: 1px solid white;
        border-top: 1px solid $primary;
        border-bottom: 1px solid $primary;

        .slab-app-sidebar-tab-decoration {
          background-color: $primary;
        }

        span {
          color: $primary;
        }
      }
    }
  }

  .slab-app-sidebar-actions-container {
    bottom: 0px;
    position: absolute;
    width: 94%;
    padding: 0;
    margin-left: 3%;

    button {
      width: 100%;
      display: block;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}