/* $checkbox-text-gap: defines the padding-left of the input.*/
$checkbox-text-gap: $slab-checkbox-height * 1.5 !default;

// Hide native checkbox
input[type="checkbox"]:not(:checked), input[type="checkbox"]:checked {
  @include position(absolute, $left: -9999px);

  visibility: hidden;
}

// Styles for label after checkbox
input[type="checkbox"]:not(.slab-checkbox-not-show) + label {

  @include user-selection(none);

  display: flex;
  align-items: center;
  position: relative;
  padding-left: $checkbox-text-gap;
  cursor: pointer;
  font-size: 1rem;

  &:empty {
    padding-left: $slab-checkbox-height;
  }

  &:before {
    @include size($slab-checkbox-height);

    @include position(absolute, $top: 1px, $left: 0);

    @include backface-visibility(hidden);

    content: '';
    z-index: 0;

    text-align: center;
    border-radius: 4px;
    border: solid 1px $medium-gray;
    line-height: 1em;
    color: $slab-checkbox-color;

    font-weight: bold;
    font-family: icomoon;
    font-size: $slab-checkbox-height - 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

// Define background color and icon when checked
input[type="checkbox"]:not(.slab-checkbox-not-show):checked + label:before {
  content: '\F00d';
  background-color: $slab-checkbox-border-color;
}

input[type="checkbox"]:not(.slab-checkbox-not-show):disabled + label {
  opacity: 0.5;
  cursor: default;
}


// Only for grid and combobox

@mixin selection-checkbox() {
  .slab-grid-checkbox-unchecked {
    width: $slab-checkbox-height;
    height: $slab-checkbox-height;
    position: absolute;
    top: 4px;
    left: 4px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    z-index: 0;
    background-color: $slab-checkbox-color;
    border-radius: 4px;
    border: solid 1px $medium-gray;
    content: '';
    font-size: $slab-checkbox-height - 3px;
    color: $slab-checkbox-color;
    box-sizing: border-box;
    margin-top: -1px !important;
  }

  .slab-grid-checkbox {
    width: $slab-checkbox-height;
    height: $slab-checkbox-height;
    position: absolute;
    top: 4px;
    left: 4px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    z-index: 0;
    background-color: $slab-checkbox-color;
    border-radius: 4px;
    border: solid 1px $medium-gray;
    content: '';
    font-size: $slab-checkbox-height - 3px;
    color: $slab-checkbox-color;
    box-sizing: border-box;
    margin-top: -1px !important;
  }

  .slab-grid-checkbox::before {
    font-family: icomoon !important;
    content: '\F00d';
    background-color: #158fef;
    width: $slab-checkbox-height;
    height: $slab-checkbox-height;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1em;
    font-size: $slab-checkbox-height - 3px;
    color: $slab-checkbox-color;
    border-radius: 4px;
    border: solid 1px $slab-checkbox-border-color;
  }
}
