$icon-context-menu-font-size: 20px;

.slab-context-menu {
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  width: 100%;
  background-color: transparent;
  line-height: normal;

  .icon-context-menu {
    font-size: $icon-context-menu-font-size;
    padding-top: ceil(($grid-cell-height - $icon-context-menu-font-size) / 2);
    color: grey;
  }
}

.slab-icon-container {
  @include size(20px);
  .slab-menu-icon {
    top: 1px;
    left: 2px;
    font-size: 18px;
    line-height: 18px;
    height: 20px;
  }
}
