
.dropdown, .dropup {
  .dropdown-toggle::after {
    display: none;
  }
}

.slab-button-dropdown {
  display: inline-block;
  vertical-align: middle;
}

.slab-dropdown-menu {
  padding: 0;
  border: 0;
  min-width: 0;
}

.slab-dropdown {
  position: fixed;
  background-color: white;
  padding: 4px 15px;
  vertical-align: top;
  border: 1px solid;
  border-color: #dddddd;
  border-radius: 4px;
  white-space: nowrap;

  ul {
    list-style: none;
    padding: 0;
    margin: 0 -15px;
    li {
      line-height: $slab-dropdown-line-height;
      padding: 0 15px;
      margin: 0 2px;

      &:hover {
        background-color: $primary-color;
        color: white;
      }

      a {
        padding: 0;

        &:hover {
          background-color: initial;
        }
      }

      &.disabled {
        a {
          cursor: not-allowed;
          color: $slab-dropdown-disabled-fg-color;
        }

        &:hover {
          background-color: transparent;
        }
      }

      .dropdown-divider {
        margin-left: -15px;
        margin-right: -15px;
      }
    }

  }
}
