
.slab-searcher-container {
  input {
    width: 100px;


  }

  label {
    margin-left: 5px;
  }
}

.slab-searcher-dialog-container {
  .slab-table-container {
    border: 1px solid $medium-gray;
    border-radius: 3px;
  }
}
