

.slab-slider {
  height: $slab-slider-background-line;

  &:not([class*="w-"]) {
    width: 100%;
  }
  margin-top: ($slab-slider-height - $slab-slider-background-line) / 2;
  margin-bottom: ($slab-slider-height - $slab-slider-background-line) / 2;
  box-shadow: none;

  -webkit-appearance: none;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;

  &:hover {
    opacity: 1;

  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    @include size($slab-slider-height !important);

    background-color: $slab-slider-circle-color;
    border-radius: 50%;
    border: 6px solid $slab-slider-circle-border-color;
    background-image: none;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    @include size($slab-slider-height !important);

    background-color: $slab-slider-circle-color;
    border-radius: 50%;
    border: 6px solid $slab-slider-circle-border-color;
    background-image: none;
    cursor: pointer;
  }
}


