/* $status-size: used to define the size in the status-square class;
                 to define the size of all elements inside the status-square;
                 to define the line-height of the i elements inside.*/
$status-size: 20px;

.status-square {
  @include size($status-size);

  min-width: $status-size;
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
  background-color: $slab-selected-background-color;
  border-radius: 3px;

  > * {
    @include size($status-size + 1px);
  }

  > i {
    line-height: $status-size;
  }
}


.status-square {
  text-align: center;

  &.ko {
    background-color: $in;
  }

  &.ok {
    background-color: $fv;
  }

  &.partial {
    background-color: $partial;
  }

  &.warning {
    background-color: $warning;
  }

  &.nr {
    background-color: $nr;
  }

  &.finished,
  &.tv {
    background-color: $tv;
  }

  &.primary {
    background-color: $primary;
  }

  &.pending {
    background-color: $pending;
  }

  &.tv {
    background-color: $tv;
  }

  &.nr {
    background-color: $nr;
  }

  &.wr {
    background-color: $wr;
  }

  &.in {
    background-color: $in;
  }

  &.fv {
    background-color: $fv;
  }

  &.pl {
    background-color: $pl;
  }

  &.pr {
    background-color: $pr;
  }

}
