/* $table-min-row-height: defines the height of the tr elements inside a table.*/
$table-min-row-height: $form-elements-height !default;

.table {

  tr {
    height: $table-min-row-height;
  }
}

/*
 * This is a custom modifier class extending 
 * default Bootstrap functionality
 */
.table-remove-border {
  border: 0;

  tr, th, td {
    border: 0;
  }
}