.nav {
  padding-left: 25px;
  white-space: nowrap;
  overflow: visible;
  background-color: $background-hemohub;
  &.hideTabBackground {
    background-color: white;
  }
  > .nav-item {
    background-color: $background-hemohub;
    padding-top: 2 * $slab-tab-space;
    margin-right: $slab-tab-space;
    &.hideTabBackground {
      padding-top: 0;
    }
    > .nav-single-tab {
      min-width: $slab-tab-min-width;
    }
    > .nav-link {
      height: 100%;
      line-height: $slab-tab-height;
      color: $background;
      text-shadow: none;
      background-color: $slab-tab-no-active-bg-color;
      border-top: 3px solid $slab-tab-no-active-bg-color;
      margin-left: 0;
      padding: 0 12px;
      text-align: center;
      border-radius: 4px 4px 0 0;
      &:hover {
        color: $background;
        background-color: $primary-color;
        border-color: $primary-color;
        padding-bottom: 0;
      }
      &.active {
        color: black;
        background-color: $background;
        border-top-color: $primary-color;
        &:hover {
          border-color: $primary-color $form-border $background $form-border;
        }
      }
    }
  }
}

@-moz-document url-prefix() {
  systelab-tabs {
    overflow: auto;
  }
}