
$toggle-bg-color: white !default;
$toggle-bg-color-checked: $primary-color !default;

$toggle-color: black !default;
$toggle-color-checked: white !default;

.slab-toggle {
  background: $toggle-bg-color;
  color: $toggle-color;
  border-radius: $border-radius;

  border: 1px solid rgba(0, 0, 0, 0.16);
  display: inline-block;
  overflow: hidden;
  height: 100%;
  font-size: $base-font-size;
  vertical-align: middle;
  padding: 0;
  margin: 0;

  cursor: pointer;
  transition: .3s ease-out all;
  -webkit-transition: .3s ease-out all;

  &.checked {
    background: $toggle-bg-color-checked;
    color: $toggle-color-checked;
    border-color: $toggle-bg-color-checked;
 }

  &.disabled {
    opacity: .5;
    cursor: not-allowed
  }

  .slab-toggle-text {
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
  }

}

.btn-primary {
  .slab-toggle {
    &.checked {
        background: $primary;
        border-color: $primary;
    }
  }
}

.btn-secondary {
  .slab-toggle {
    &.checked {
      background: $secondary;
      border-color: $secondary;
    }
  }
}

.btn-success {
  .slab-toggle {
    &.checked {
      background: $success;
      border-color: $success;
    }
  }
}

.btn-danger {
  .slab-toggle {
    &.checked {
      background: $danger;
      border-color: $danger;
    }
  }
}

.btn-warning {
  .slab-toggle {
    &.checked {
      background: $warning;
      border-color: $warning;
    }
  }
}

.btn-info {
  .slab-toggle {
    &.checked {
      background: $info;
      border-color: $info;
    }
  }
}


.btn-dark {
  .slab-toggle {
    &.checked {
      background: $dark;
      border-color: $dark;
    }
  }
}
