/* This styles are used to override the default primeng styles for trees (https://www.primefaces.org/primeng/#/tree).*/

.ui-tree {
  border: none;
  width: 100%;
  line-height: $slab-dropdown-line-height;
  .ui-tree-container {
    .ui-treenode {
      .ui-treenode-content {
        padding-left: 5px;
        span[class*='icon-angle-'] {
          font-weight: bold;
          line-height: $slab-dropdown-line-height;
          font-size: 18px;
          color: $dark-gray;
        }
        .ui-treenode-label {
          margin-top: 7px;
          line-height: $slab-dropdown-line-height;
          &.ui-state-highlight {
            background: $slab-selected-background-color;
            border-top: 7px;
            border-width: 7px;
            border-style: solid;
            border-color: $slab-selected-background-color;
            border-bottom: 0px;
            border-left: 0px;
            margin-top: 0px;
            width: 100%;
            color: rgb(34, 34, 34);
          }
          &:hover {
            background: $slab-selected-background-color;
          }
        }
        &:hover {
          background-color: $slab-selected-background-color;
        }
      }
    }
  }
}
