@import "mixins";

/************** SHARED - start ****************************************************************************************/
/* $size_percentage: Change the component size */
$size_percentage: 0.7 !default;
/* $form-elements-height: Defines the line height;
                          in btn-medium” we redefine the line-height and the max-height of the medium size button and the size,
                            the min-width and the min-height of a square button;
                          defines the max-height of the multiSelectOutBox and the min-height of the uk-form-row;
                          defines the line-height of the uk-grid;
                          used to calculate the width of the input inside a uk-input-file;
                          to calculate the size of a btn inside a uk-input-file;
                          defines the line-height of the uk-line-height class;
                          used to calculate the $top-icon value;
                          used to calculate the line-height of the label inside the switch class */
$form-elements-height: ceil(35px * $size_percentage) !default;

$base-font-size: 15px !default;
/* $base-body-font-size: used in the agGrid
                         used in the comboBox */
$base-body-font-size: $base-font-size unquote("/") ceil($base-font-size * 1.25) !default;
/* $base-body-font-family: defines the application font
                           defines the font-size of the inputs preceded by a uk-form */
$base-body-font-family: Arial Unicode MS, Arial, sans-serif !default;
/************** SHARED - end ******************************************************************************************/

/*************** RESPONSIVE - start ***********************************************************************************/

$ipad-width: 1024px !default;
/* ************* RESPONSIVE - end *************************************************************************************/

/************** MAIN APPLICATION - start ******************************************************************************/
/* $app-min-width: defines the minimum width of the body */
$app-min-width: 367px !default;
/* $app-min-height: defines the minimum height of the body */
$app-min-height: 375px !default;
/* $header-height: application header height
                   used in the sidebar */
$header-height: 56px !default;
/* $user-width: defines the width of the user area in the main screen*/
$user-width: 130px !default;
/************** MAIN APPLICATION - end ********************************************************************************/

/************** BUTTON - start ****************************************************************************************/
/* $button-large-height: defines the min-height and the line-height of the button when is large */
$button-large-height: max(34px, ceil(40px * $size_percentage)) !default;
/* $slab-dialog-button-width: defines the minimum width of the button */
$slab-dialog-button-width: 85px !default;
/************** BUTTON - end ******************************************************************************************/

/************** CHARTS - start ****************************************************************************************/
/* $chart-header-height: defines the height of the chart header;
                         the height of the dropdown inside the cart;
                         defines the size of the cell inside the dropdown
                         used in QC Compare and QC Levey Jennings Charts */
$chart-header-height: $form-elements-height + ceil(10 * $size_percentage) !default;
/************** CHARTS - end ******************************************************************************************/

/************** CHECKBOX - start **************************************************************************************/
/* $checkbox-height: used to define the height and the line-height of the input,
                       the padding left if the input is empty,
                       the size and the font-size of the input’s before attribute.*/
$checkbox-height: max(19px, $form-elements-height - 16px) !default;
/************** CHECKBOX - end ******************************************************************************************/

/************** DROPDOWN and Tree - start *****************************************************************************/
/* $dropdown-line-height: defines the row line-height of the dropdown;
                          defines the row line-height of the tree */
$dropdown-line-height: $form-elements-height !default;
/************** DROPDOWN - end ****************************************************************************************/

/************** INPUT - start *****************************************************************************************/
/* $input-width: defines the width of the input preceded by a uk-form that has not the class uk-width;
                 defines the width of the slab-form-icon when it has not the class uk-width;
                 defines the width of the ui-slider when the uk-width class is not present */
$input-width: 100% !default;
/************** INPUT - end *******************************************************************************************/

/************** FORMS - start *****************************************************************************************/
/* $form-row-gutter: defines the margin-top of the uk-grid-small when it’s preceded by other uk-grid-small;
                     defines the margin-top of the uk-form-row when it’s preceded by other uk-form-row */
$form-row-gutter: ceil(5px * $size_percentage) !default;
/************** FORMS - end *******************************************************************************************/

/************** slab-dialog - start **************************************************************************************/
/* $slab-dialog-header-height: defines the max-height of the slab-dialog-header; */
$slab-dialog-header-height: max(45px, ceil(60px * $size_percentage)) !default;
/************** slab-dialog - end ****************************************************************************************/

/************** NGSEARCHER - start ************************************************************************************/
/* $ng-searcher-button-width: defines the width of the searcher button */
$ng-searcher-button-width: $form-elements-height !default;
/************** NGSEARCHER - end **************************************************************************************/

/************** TABLE - start *****************************************************************************************/
/* $table-left-header-width: defines the width of the left-header inside a uk-table.*/
$table-left-header-width: 200px !default;
/************** TABLE - end *******************************************************************************************/

/************** TABS - start ******************************************************************************************/
/* $tab-height: used to calculate the $height-diff value;
                defines the height of the tab elements inside a uk-form;
                defines the height of the li elements inside the previous tab;
                defines the top position of all elements inside the tab;
                defines the top value of the uk-margin-small-top, uk-margin-top and uk-margin-large-top.*/
$tab-height: ceil(38px * $size_percentage) !default;
/* $tab-min-width: defines the min-width of the tabs.*/
$tab-min-width: 120px !default;
/* $tab-space: used to define the top margin and the gutter between elements */
$tab-space: 5px;
/************** TABS - end ******************************************************************************************/

/************** GRID - start ****************************************************************************************/
/* $grid-header-height: defines the height of the ui-grid-header-cell;
                          used to define the size of the grid-action-cell class */
$grid-header-height: $form-elements-height + ceil(8 * $size_percentage) !default;
/* $grid-header-line-height: defines the line-height of the ui-grid-header-cell.
                               defines the header-line-height of the agGrid */
$grid-header-line-height: $grid-header-height - $base-font-size + 2 !default;
/* $grid-cell-height: defines the height and the min-height of the ui-grid-row;
                        defines the height and the min-height of the ui-grid-cell;
                        defines the line-height of the ui-grid-cell-contents;
                        used to calculate the $status-square-right-size value;
                        defines the line-height of the ui-grid-cell-line-height;
                        defines the height of the ui-grid-cell-height;
                        defines the font-size of the uk-text-large;
                        used to calculate the size of the grid-acion-cell element */
$grid-cell-height: $form-elements-height + ceil(4 * $size_percentage) !default;
/* $grid-cell-line-height: defines the line-height of the ui-grid-cell
                             defines the line-height of the combo-button */
$grid-cell-line-height: $grid-cell-height - $base-font-size + 2 !default;
/************** GRID - end ******************************************************************************************/

/* $touchspin-width: defines the width of the touchspin.*/
$slab-spinner-width: 100px !default;





// Main application colors

$primary-color: rgb(21, 143, 239) !default;
$secondary-color: rgb(66, 66, 66) !default;
$base-body-color: $secondary-color !default;


//Grayscale
$background: rgb(255, 255, 255) !default;
$light-gray: rgb(248, 248, 248) !default;
$background-hemohub: rgb(235, 235, 235) !default;
$form-border: rgb(221, 221, 221) !default;
$medium-gray: rgb(214, 214, 214) !default;
$actions-separator: rgb(192, 192, 192) !default;
$disabled: rgb(169, 169, 169) !default;
$nr: $disabled !default;
$table-gray: rgb(149, 149, 149) !default;
$dark-gray: rgb(128, 128, 128) !default;
$darker-gray: rgb(45, 45, 45) !default;

//Translucent grayscale

$slab-dialog-border-color: rgba(170, 170, 170, 0.8) !default;

// Form elements

$form-color: rgb(66, 66, 66) !default;
$form-focus-border: rgb(153, 186, 202) !default;
$form-focus-background: rgb(245, 251, 254) !default;

$slab-slider-circle-color: white !default;
$slab-slider-circle-border-color: $primary-color !default;
$slab-slider-background-color: $actions-separator !default;

$checkbox-border-color: $primary-color !default;
$checkbox-color: white !default;

$radio-border-color: $primary-color !default;
$radio-color: white !default;

$switch-bg-color: transparent !default;
$switch-circle-color: $dark-gray !default;
$switch-bg-color-checked: $primary-color !default;
$switch-circle-color-checked: white !default;

$table-row-odd-background-color: rgb(243, 243, 243) !default;
$table-row-even-background-color: rgb(253, 253, 253) !default;
$table-row-selected-background-color: rgb(201, 221, 225) !default;

$combo-selected-color: rgb(200, 223, 252) !default;

// Component specific / status colors
$error-message-text: rgb(255, 51, 45) !default;
$error: rgb(215, 56, 45) !default;




// To be moved
$in: $error !default;
$tbr: rgb(249, 136, 0) !default;
$pr: rgb(255, 188, 0) !default;
$pl: rgb(255, 217, 0) !default;
$fv: rgb(174, 222, 51) !default;
$tv: rgb(40, 189, 35) !default;
$dark-green: rgb(4, 123, 87) !default;
$darker-green: rgb(47, 148, 60) !default;
$pending: rgb(0, 143, 173) !default;
$ol: $pending !default;
$wr: rgb(232, 179, 255) !default;

$selected-elements: rgb(234, 248, 250) !default;
$results: rgb(153, 0, 51) !default;
$pending: rgb(255, 200, 200) !default;
$selected: rgb(165, 221, 229) !default;
$partial: rgb(255, 255, 152) !default;
