<div class="container-fluid">
    <div class="row mt-1">
        <div class="col-md-6  p-3">
            <showcase-title [href]="'chart'">Line Chart</showcase-title>
            <systelab-chart [labels]="labels" [data]="dataLine" [legend]="legend" [typeChart]="'line'"></systelab-chart>
        </div>
        <div class="col-md-6  p-3">
            <showcase-title [href]="'chart'">Bar Chart</showcase-title>
            <systelab-chart [labels]="labels" [data]="dataBar" [legend]="legend" [typeChart]="'bar'"></systelab-chart>
        </div>
        <div class="col-md-6 p-3">
            <showcase-title [href]="'chart'">Horizontal Bar Chart</showcase-title>
            <systelab-chart [labels]="labels" [data]="dataBar" [isHorizontal]="'true'" [legend]="legend" [typeChart]="'bar'"></systelab-chart>
        </div>
        <div class="col-md-6  p-3">
            <showcase-title [href]="'chart'">Radar Chart</showcase-title>
            <systelab-chart [labels]="labels" [data]="dataRadar" [legend]="legend" [typeChart]="'radar'" [isBackgroundGrid]="isBackgroundGrid"></systelab-chart>
        </div>
        <div class="col-md-6  p-3">
            <showcase-title [href]="'chart'">Pie Chart</showcase-title>
            <systelab-chart [labels]="labels" [data]="dataPie" [legend]="legend" [(itemSelected)]="itemSelected" [typeChart]="'pie'"
                (action)="doAction($event)" [isBackgroundGrid]="isBackgroundGrid"></systelab-chart>
        </div>
        <div class="col-md-6  p-3">
            <showcase-title [href]="'chart'">Doughunt Chart</showcase-title>
            <systelab-chart [labels]="labels" [data]="dataDoughnut" [legend]="'false'" [typeChart]="'doughnut'" [isBackgroundGrid]="isBackgroundGrid"></systelab-chart>
        </div>
        <div class="col-md-6  p-3">
            <showcase-title [href]="'chart'">Bubble Chart</showcase-title>
            <systelab-chart [labels]="labels" [data]="dataBubble" [legend]="legend" [typeChart]="'bubble'"></systelab-chart>
        </div>
        <div class="col-md-6  p-3">
            <showcase-title [href]="'chart'">Polar Area Chart</showcase-title>
            <systelab-chart [labels]="labels" [data]="dataPolarArea" [legend]="legend" [typeChart]="'polarArea'" [isBackgroundGrid]="isBackgroundGrid"></systelab-chart>
        </div>
        <div class="col-md-6  p-3">
            <showcase-title [href]="'chart'">Mixed Line Chart and Bar Chart</showcase-title>
            <systelab-chart [labels]="labels" [data]="dataLineBar" [legend]="legend" [typeChart]="'bar'"></systelab-chart>
        </div>
    </div>
</div>