<div class=" navbar-expand-md navbar-light " [style.background-color]="backgroundColor">
  <button class="navbar-toggler" type="button" data-toggle="collapse" [attr.data-target]="'#' + id" [attr.aria-controls]="id"
    aria-expanded="false" aria-label="Toggle navigation" [style.background-color]="hovered == -2  ? backgroundHoverColor :  backgroundColor"
    (mouseover)="hovered = -2" (mouseout)="hovered = -1">
    <i class="slab-icon-medium mt-2 mb-2 icon-list" [style.color]="fontColor"></i>
  </button>

  <div class="collapse navbar-collapse" [id]="id" [class.justify-content-center]="alignNavs === 'center'" [class.justify-content-end]="alignNavs === 'right'">
    <ul [class.flex-row]="!isVertical" [class.flex-column]="isVertical" class="nav nav-pills slab-ul-navs align-items-center d-flex">
      <li class="nav-item  " [class.disabled]="!nav.isEnabled" [style.background-color]="hovered == nav.id && nav.isEnabled ? backgroundHoverColor : !nav.isEnabled ? '#cccccc': backgroundColor"
        *ngFor="let nav of items" (mouseover)="hovered = nav.id" (mouseout)="hovered = -1">
        <a class="nav-link slab-nav-link text-center align-self-stretch align-items-center" [href]="nav.isEnabled ?  nav.url : ''"
          [target]='nav.target' [style.color]="fontColor" [class.disabled]="!nav.isEnabled" [class.active]="nav.isActive">
          <i *ngIf="nav.image" [class]="nav.image" [style.color]="fontColor" [class.slab-icon-floatImage]="nav.floatImage" [class.slab-icon-verticalImage]="!nav.floatImage"></i>
          {{nav.text}}
        </a>
      </li>
    </ul>
  </div>
</div>