<div class="slab-navbar navbar-expand-md navbar-light" [style.background-color]="backgroundColor">
    <button class="navbar-toggler" type="button" data-toggle="collapse" [attr.data-target]="'#' + id" [attr.aria-controls]="id"
            aria-expanded="false" aria-label="Toggle navigation" [style.background-color]="hovered == -2  ? backgroundHoverColor :  backgroundColor"
            (mouseover)="hovered = -2" (mouseout)="hovered = -1">
        <i class="slab-icon mt-2 mb-2 icon-list" [style.color]="fontColor"></i>
    </button>

    <div class="collapse navbar-collapse" [id]="id" [class.justify-content-center]="align === 'center'" [class.justify-content-end]="align === 'right'">
        <ul [class.flex-row]="!isVertical" [class.flex-column]="isVertical" class="nav nav-pills slab-navbar-elements align-items-center d-flex">
            <li *ngFor="let nav of items; let last=last"
                [style.border-right]="hideRightBorder?'none':(!isVertical && !last ?'none': borderColor  ? '1px solid '+borderColor:'none')"
                [style.border-bottom]="hideBottomBorder?'none':(isVertical && !last ?'none': borderColor ? '1px solid '+borderColor:'none')"
                [style.border-left]="borderColor && !hideLeftBorder? '1px solid '+borderColor:'none'"
                [style.border-top]="borderColor && !hideTopBorder? '1px solid '+borderColor:'none'"
                class="nav-item"
                [class.disabled]="!nav.isEnabled"
                (click)="nav.action()"
                [style.background-color]="nav.isSelected? activeColor : (hovered == nav.id && nav.isEnabled ? backgroundHoverColor : !nav.isEnabled ? '#cccccc': backgroundColor)"
                (mouseover)="hovered = nav.id" (mouseout)="hovered = -1" [class.active]="nav.isSelected">
                <a [id]="'nav-'+nav.id" class="nav-link text-center align-self-stretch align-items-center" [attr.href]="nav.url ? nav.isEnabled ?  nav.url : '' : null "
                   [attr.target]="nav.url ? nav.isEnabled ?  nav.target : '' : null " [style.color]="nav.isSelected?activeFontColor:fontColor"
                   [class.disabled]="!nav.isEnabled" [class.active]="nav.isSelected">
                    <i *ngIf="nav.image" [class]="nav.image" [style.color]="nav.isSelected?activeFontColor:fontColor" [class.slab-icon-float-image]="nav.floatImage"
                       [class.slab-icon-vertical-image]="!nav.floatImage"></i>
                    {{nav.text}}
                </a>
            </li>
        </ul>
    </div>
</div>