
<div class="container-fluid">
    <div class="row mt-1">
        <div class="col-md-3">
            <systelab-percentage-circle [value]="50" [text]="'pending'"></systelab-percentage-circle>
        </div>
        <div class="col-md-3">
            <systelab-percentage-circle [value]="12" [text]="'done'" [color]="'green'"></systelab-percentage-circle>
        </div>
        <div class="col-md-3">
            <systelab-percentage-circle [value]="78" [text]="'complete'" [color]="'blue'"></systelab-percentage-circle>
        </div>
        <div class="col-md-3">
            <systelab-percentage-circle [value]="24" [text]="'validated'" [color]="'red'"></systelab-percentage-circle>
        </div>
    </div>
</div>
