<div class="w-100 p-2" *ngIf="currentNav === 0">
    <showcase-title>Input</showcase-title>
    <showcase-input></showcase-input>

    <showcase-title [href]="'file-selector'">File Selector</showcase-title>
    <showcase-file-selector></showcase-file-selector>

    <showcase-title [href]="'textarea'">Textarea</showcase-title>
    <showcase-textarea></showcase-textarea>

    <showcase-title [href]="'searcher'">Searcher</showcase-title>
    <showcase-searcher></showcase-searcher>

    <showcase-title [href]="'checkbox'">Checkbox</showcase-title>
    <showcase-checkbox></showcase-checkbox>

    <showcase-title [href]="'radio'">Radio</showcase-title>
    <showcase-radio></showcase-radio>

    <showcase-title [href]="'combobox'">Combobox</showcase-title>
    <showcase-combobox></showcase-combobox>

    <showcase-title [href]="'listbox'">ListBox</showcase-title>
    <showcase-listbox></showcase-listbox>

    <showcase-title>Form Inline</showcase-title>
    <showcase-inline></showcase-inline>

    <showcase-title>Sortable List</showcase-title>
    <showcase-sortable-list></showcase-sortable-list>

    <showcase-title>Add Remove List</showcase-title>
    <showcase-add-remove-list></showcase-add-remove-list>
</div>
<div class="w-100 p-2" *ngIf="currentNav === 1">
    <showcase-title [href]="'tooltip'">Tooltip</showcase-title>
    <showcase-tooltip></showcase-tooltip>

    <showcase-title [href]="'dialog'">Dialog</showcase-title>
    <showcase-dialog></showcase-dialog>

    <showcase-title [href]="'message-popup'">Message Popup</showcase-title>
    <showcase-message-popup></showcase-message-popup>

    <showcase-title [href]="'message-popup'">Toast</showcase-title>
    <showcase-toast></showcase-toast>
</div>
<div class="w-100 p-2" *ngIf="currentNav === 2">
    <showcase-title [href]="'tabs'">Tabs</showcase-title>
    <showcase-tabs></showcase-tabs>

    <showcase-title [href]="'navbar'">Navbar</showcase-title>
    <showcase-navbar></showcase-navbar>

    <showcase-title [href]="'breadcrumb'">Breadcrumb</showcase-title>
    <showcase-breadcrumb></showcase-breadcrumb>

    <showcase-title [href]="'tree'">Tree</showcase-title>
    <showcase-tree></showcase-tree>

    <showcase-title [href]="'wizard-steps'">Wizard Steps</showcase-title>
    <showcase-wizard-steps></showcase-wizard-steps>

    <showcase-title [href]="'paginator'">Paginator</showcase-title>
    <showcase-paginator></showcase-paginator>


</div>
<div class="w-100 p-2" *ngIf="currentNav === 3">
    <showcase-title [href]="'table'">Table</showcase-title>
    <showcase-table></showcase-table>

    <showcase-title [href]="'grid'">Grid</showcase-title>
    <showcase-grid></showcase-grid>
</div>
<div class="w-100 p-2" *ngIf="currentNav === 4">
    <showcase-title [href]="'application-frame'">Application Frame</showcase-title>
    <showcase-application-frame></showcase-application-frame>

    <showcase-title [href]="'datepicker'">Datepicker</showcase-title>
    <showcase-datepicker></showcase-datepicker>

    <showcase-title [href]="'spinner'">Spinner</showcase-title>
    <showcase-spinner></showcase-spinner>

    <showcase-title [href]="'slider'">Slider</showcase-title>
    <showcase-slider></showcase-slider>

    <showcase-title [href]="'progress-bar'">Progress bar</showcase-title>
    <showcase-progress-bar></showcase-progress-bar>

    <showcase-title [href]="'percentage-circle'">Percentage Circle</showcase-title>
    <showcase-percentage-circle></showcase-percentage-circle>

    <showcase-title [href]="'context-menu'">Context Menu</showcase-title>
    <showcase-context-menu></showcase-context-menu>

    <showcase-title [href]="'context-menu'">Context Panel</showcase-title>
    <showcase-context-panel></showcase-context-panel>

    <showcase-title [href]="'two-list'">Two-List</showcase-title>
    <showcase-two-list></showcase-two-list>


    <showcase-title [href]="'loading'">Loading</showcase-title>
    <showcase-loading></showcase-loading>

    <showcase-title [href]="'timeline'">TimeLine</showcase-title>
    <showcase-timeline></showcase-timeline>

    <showcase-title [href]="'signature-canvas'">Signature Canvas</showcase-title>
    <showcase-signature-canvas></showcase-signature-canvas>
</div>
<div class="w-100 p-2" *ngIf="currentNav === 5">
    <showcase-title [href]="'icon'">Icon</showcase-title>
    <showcase-icon></showcase-icon>
</div>
<div class="w-100 p-2" *ngIf="currentNav === 6">
    <showcase-title [href]="'button'">Button</showcase-title>
    <showcase-button></showcase-button>

    <showcase-title [href]="'headings'">Headings</showcase-title>
    <showcase-headings></showcase-headings>

    <showcase-title [href]="'text'">Text</showcase-title>
    <showcase-text></showcase-text>

    <showcase-title [href]="'alert'">Alert</showcase-title>
    <showcase-alert></showcase-alert>
</div>
