@import "dist/systelab-components/sass/2020/systelab-components";

body {
  background-color: $background-primary;
}

input, button, a {
  outline: none
}

.li {
  color: $background-primary;
}

.flex-column {
 overflow: auto;
}

.principal-container{
  top: 0; bottom: 0; left: 0; right: 0;
}
