body {
  background-color: var(--slab_background_primary, white);
}

input, button, a {
  outline: none
}

.li {
  color: var(--slab_background_primary, black);
}

.flex-column {
 overflow: auto;
}

.principal-container{
  top: 0; bottom: 0; left: 0; right: 0;
}
