<!-- Horizontal without images -->
<div class="mt-3 pl-2  pb-2">
    <h6>Horizontal Nav without Images</h6>
    <systelab-navbar [id]="idNavbar1" [isVertical]="isVertical" [backgroundColor]="backgroundColor" [backgroundHoverColor]="backgroundHoverColor"
        [items]="items1" [fontColor]="fontColor" [alignNavs]="alignNavbarRight"></systelab-navbar>
</div>

<!-- Horizontal with images -->
<div class="mt-3 pl-2  pb-2">
    <h6>Horizontal Nav with Images</h6>
    <systelab-navbar [id]="idNavbar2" [isVertical]="isVertical" [backgroundColor]="backgroundColor2" [backgroundHoverColor]="backgroundHoverColor2"
        [items]="items2" [fontColor]="fontColor" [alignNavs]="alignNavbarCenter"></systelab-navbar>
</div>

<!-- Horizontal with images inline -->
<div class="mt-3 pl-2  pb-2">
    <h6>Horizontal Nav with Images inline</h6>
    <systelab-navbar [id]="idNavbar3" [isVertical]="isVertical" [backgroundColor]="backgroundColor" [backgroundHoverColor]="backgroundHoverColor"
        [items]="items3" [fontColor]="fontColor" [alignNavs]="alignNavbarLeft"></systelab-navbar>
</div>

<!-- Vertical without images -->
<div class="mt-3 col-sm-12 col-md-3 pl-2  pb-2">
    <h6>Vertical Nav without Images</h6>
    <systelab-navbar [id]="idNavbar4" [isVertical]="isVertical2" [backgroundColor]="backgroundColor" [backgroundHoverColor]="backgroundHoverColor"
        [items]="items4" [fontColor]="fontColor" [alignNavs]="alignNavbarCenter"></systelab-navbar>
</div>

<!-- Vertical with images  -->
<div class="mt-3  pl-2  pb-2 col-sm-12 col-md-3">
    <h6>Vertical Nav with Images</h6>
    <systelab-navbar [id]="idNavbar5" [isVertical]="isVertical2" [backgroundColor]="backgroundColor2" [backgroundHoverColor]="backgroundHoverColor2"
        [items]="items5" [fontColor]="fontColor" [alignNavs]="alignNavbarCenter"></systelab-navbar>
</div>