.msg-box {
  .img {
    width: 90px;
    margin: auto 40px auto 40px;

    i {
      font-size: 105px;
    }
  }

  .msg {
    width: calc(100% - 180px);
    padding-right: 40px;
  }

  .error-container {
    &.error-showed {
      margin-top: -30px;
    }

    .info-data {
      color: black;
      font-size: 15px;

      .error-number {
        font-size: 30px;
      }
    }
  }
}

.button-repeated {
  min-width: 100px;

  &:not(:last-child) {
    margin-right: 5px;
  }
}