<div class="slab-dialog-header">{{ context.title }}</div>
<div class="slab-dialog-message d-flex align-items-center p-5">
    <i class="slab-msg-box-icon {{context.icon}} {{context.color}}"></i>
    <div class="pl-5">
        {{ context.msg }}
    </div>
</div>
<div class="slab-dialog-buttons">
    <div class="float-right" *ngIf="context.yesNoButtons; else customcomponent">
        <button type="button" class="btn btn-lg" (click)="close(true)">{{ 'COMMON_OK' | translate | async }}
        </button>
        <button type="button" class="btn btn-lg" (click)="close(false)">{{ 'COMMON_CANCEL' | translate | async }}
        </button>
    </div>
    <ng-template #customcomponent>
        <div class="float-right">
            <button type="button" class="btn btn-lg" (click)="close()">{{ 'COMMON_CLOSE' | translate | async }}
            </button>
        </div>
    </ng-template>
</div>
<div class="slab-dialog-close" (click)="close()"></div>