sudo: required
dist: trusty
language: node_js
node_js:
  - '10'

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
  chrome: stable

install:
  - npm install -g codecov
  - npm install -g codacy-coverage
  - npm install
  - npm install -g makeshift && makeshift -s @systelab-technologies -r https://registry.npmjs.org

before_script:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - ng test --watch=false --code-coverage
  - npm run e2e
  - npm run build

after_success:
  - cat coverage/lcov.info | codecov
  - cat ./coverage/lcov.info | codacy-coverage

before_deploy: |
  if [ -n "$GITHUB_API_KEY" ] && [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
    git clone https://github.com/systelab/systelab.github.io.git
    rm -rf systelab.github.io/components/*
    cp -r dist/* systelab.github.io/components
    sed -i -e "s~base href=\"/\"~base href=\"/components/\"~g" ./systelab.github.io/components/index.html
    cd systelab.github.io
    git add .
    git -c user.name='travis' -c user.email='travis' commit -m 'New deploy from Travis'
    git push -f -q https://systelab:$GITHUB_API_KEY@github.com/systelab/systelab.github.io
    cd ..
  fi

deploy:
  skip_cleanup: true
  provider: npm
  email: aserra@werfen.com
  api_key: $NPM_TOKEN
  on:
    tags: true
