.slab-month-selector {
  .slab-icon-medium {
    cursor: pointer;
  }
  .slab-combo-button {
    padding: 4px 8px;
  }
  .icon-angle-right, .icon-angle-left {
    display: none;
  }
  .slab-month-selector-dropdown {
    width: 100% !important;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;

    & > .header-selector {
      display: inline-block;
      width: 100%;
      height: 50px;
      text-align: center;
      & > ul {
        & > li {
          list-style: none;
        }
      }
    }
    & > .box {
      width: 100%;
      float: left;
      min-height: 100px;
      text-align: center;
      & > ul {
        max-height: 280px;
        overflow-y: auto;
        padding-left: 0;
        & > li {
          transition: all 0.2s ease-out;
          list-style: none;
          padding: 10px;
          cursor: pointer;
          &.active {
            background-color: $slab-selected-background-color;
            color: #ffffff;
          }
        }
        & > li:hover {
          background-color: $medium-gray;
          color: #ffffff;
        }
      }
    }
  }
}