
.nanobar {
  width: 100%;
  height: 4px;
  z-index: 9999;
  top:0;
}
.bar {
  width: 0;
  height: 100%;
  transition: height .3s;
  background:orange;
  box-shadow: 0 0 10px #59d;
}

.nonanobar {
  width: 100%;
  height: 4px;
  z-index: 9999;
  top:0;
  background: $primary;
}