<div class="container-fluid mt-2">
    <form class="position-relative" style="height: 200px;">
        <systelab-gender-listbox [multipleSelection]="true" [isDisabled]="false"
                                 [(multipleSelectedItemList)]="multipleSelectedItemList"
                                 (selectedItemChange)="onSelectedItemChange()"
                                 [selectFirstItem]="true"></systelab-gender-listbox>
    </form>
</div>
<div class="container-fluid mt-2">
    <form class="position-relative" style="height: 200px;">
        <systelab-gender-listbox [showAll]="true" [multipleSelection]="false" [isDisabled]="false"
                                 [(selectedItem)]="selectedItem"
                                 [selectFirstItem]="true"></systelab-gender-listbox>
    </form>
</div>
<div class="container-fluid mt-2">
    <form class="position-relative" style="height: 200px;">
        <showcase-inner-tree-listbox [(selectedTreeItem)]="selectedItem"
                                     (selectedTreeItemChange)="onSelectedItemChange($event)"
                                     [isDisabled]="false"
                                     [multipleSelection]="false"></showcase-inner-tree-listbox>
    </form>
</div>
