<div class="d-flex mb-1">
    <div class="slab-flex-1 text-nowrap border rounded slab-overflow-containers slab-sortable-list" dnd-droppable
         style="height:150px"
         (onDragEnter)="preventDefault($event)"
         (onDragOver)="preventDefault($event)"
         (onDragLeave)="preventDefault($event)">
        <ul class="slab-sortable-list-row list-group w-100" dnd-sortable-container [sortableData]="elementsList"
            [dropZones]="['visible-dropZone']">
            <li *ngFor="let listElement of elementsList;let i = index"
                [ngClass]="{'slab-sortable-list-row slab-sortable-list-row-selected':getSelectionFieldValue(listElement),'slab-sortable-list-row':!getSelectionFieldValue(listElement)}"
                (click)="selectVisibleCurrent(listElement,$event)" dnd-sortable [sortableIndex]="i">
                {{getDescription(listElement)}}
            </li>
        </ul>
    </div>
    <div class="d-flex flex-column ml-2">
        <button class="btn" (click)="add()"><i class="mr-2 icon-plus-circle"></i>{{ 'COMMON_ADD' | translate | async }}
        </button>
        <button class="btn mt-1" (click)="remove()"><i class="mr-2 icon-minus-circle"></i>{{ 'COMMON_REMOVE' | translate
            | async }}
        </button>
    </div>
</div>