<li class="chip-button mr-1" role="badge" *ngFor="let button of buttonList">
    <button [disabled]="isDisabled" type="button" class="btn" id="{{button.id}}" (click)="onClick(button)"
            (dblclick)="changeButtonItem(button)">{{button.name}}
        <button [disabled]="isDisabled" *ngIf="showRemoveButton" class="li-chip-button" aria-hidden="true" (click)="removeButtonItem(button)">×</button>
    </button>
</li>
<button *ngIf="showAddButton" [disabled]="isDisabled" type="button" class="btn add-chip-button align-bottom" (click)="addButtonITem()">
    <i class="fas fa-plus-square"></i>
</button>
