<div>
    <!--<button type="button" class="btn btn-lg mt-2" ng-click="vm.flex();">Flex snipper</button>-->
    <button type="button" class="btn btn-lg mt-2"
            (click)="subFlex();">Form + lower flex textarea
    </button>
    <button type="button" class="btn btn-lg mt-2"
            (click)="upperFlex();">Form + upper flex textarea
    </button>
    <button type="button" class="btn btn-lg mt-2"
            (click)="twoColumns();">Two columns
    </button>

    <button type="button" class="btn btn-lg mt-2"
            (click)="calendarShowcase();">Calendar
    </button>
    <button type="button" class="btn btn-lg mt-2"
            (click)="fullFlex();">Flex
    </button>
    <button type="button" class="btn btn-lg mt-2"
            (click)="splitShowcase();">Split
    </button>
    <button type="button" class="btn btn-lg mt-2"
            (click)="bootstrap();">Bootstrap
    </button>
    <button type="button" class="btn btn-lg mt-2"
            (click)="progressBar();">Progress bar
    </button>
</div>