<div class="slab-searcher-container d-flex flex-nowrap h-100" [ngClass]="{'disabled': isDisabled}">
<input #valueToSearch type="input" class="form-control"
           [(ngModel)]="code"
           (blur)="doSearch()"
           [disabled]="isDisabled"
           [style.font-family]="fontFamily"
           [style.font-size.px]="fontSize"
           [style.font-weight]="fontWeight"
           [ngStyle]="getInputHeight()"
           [style.font-style]="fontStyle">
    <button class="btn" [disabled]="isDisabled" [ngStyle]="getWidth()"
            (click)="openSearchDialog()" *ngIf="withButton">
            <span class='icon-question'>
            </span>
    </button>
    <label class="slab-flex-1 text-truncate mb-0" [ngStyle]="getLineHeight()"
           [style.font-family]="fontFamily"
           [style.font-size.px]="fontSize"
           [style.font-weight]="fontWeight"
           [style.font-style]="fontStyle">{{searchingValue}}</label>
</div>


