<div class="searcher-container uk-flex uk-flex-nowrap uk-height-1-1" [ngClass]="{'disabled': isDisabled}">
    <input type="search"
           #valueToSearch
           [(ngModel)]="code"
           (blur)="doSearch()"
           [disabled]="isDisabled"
           [style.font-family]="fontFamily"
           [style.font-size.px]="fontSize"
           [style.font-weight]="fontWeight"
           [style.font-style]="fontStyle">
    <button class="uk-button uk-searcher-button" [disabled]="isDisabled" [ngStyle]="getWidth()"
            (click)="openSearchDialog()" *ngIf="withButton">
            <span class='icon-question'>
            </span>
    </button>
    <label class="uk-flex-item-1 uk-form-label uk-text-truncate" [ngStyle]="getLineHeight()"
           [style.font-family]="fontFamily"
           [style.font-size.px]="fontSize"
           [style.font-weight]="fontWeight"
           [style.font-style]="fontStyle">{{searchingValue}}</label>
</div>


