<div class="slab-searcher-container d-flex flex-nowrap h-100" [ngClass]="{'disabled': isDisabled}">
    <input type="search"
           #valueToSearch
           [(ngModel)]="code"
           (blur)="doSearch()"
           [disabled]="isDisabled"
           [style.font-family]="fontFamily"
           [style.font-size.px]="fontSize"
           [style.font-weight]="fontWeight"
           [style.font-style]="fontStyle">
    <button class="btn slab-btn-searcher" [disabled]="isDisabled" [ngStyle]="getWidth()"
            (click)="openSearchDialog()" *ngIf="withButton">
            <span class='icon-question'>
            </span>
    </button>
    <label class="uk-flex-item-1 uk-form-label text-truncate" [ngStyle]="getLineHeight()"
           [style.font-family]="fontFamily"
           [style.font-size.px]="fontSize"
           [style.font-weight]="fontWeight"
           [style.font-style]="fontStyle">{{searchingValue}}</label>
</div>


