<div class="slab-dialog-header">{{titleForDialog}}</div>
<div class="slab-dialog-message" [ngClass]="{'with-buttons': multipleSelection}">
    <form (keydown)="(($event.keyCode===13)?$event.preventDefault():0)"
          class="uk-form uk-form-horizontal uk-form-horizontal-medium p-3 d-flex flex-column flex-nowrap">
        <div class="uk-form-row d-flex flex-nowrap">
            <label class="flex-nowrap uk-form-label text-truncate uk-width-1-5" for="valueToSearch">{{searchLabel}} </label>
            <systelab-select class="text-left uk-width-2-5"
                             [description]="selectedComboItem.description"
                             [id]="selectedComboItem.id"
                             [values]="comboElements"
                             (change)="refreshSearch($event)"></systelab-select>
            <input class="searcher-input-dialog uk-width-2-5" #valueToSearch id="valueToSearch"
                   (keyup)="($event.keyCode=== 13)?refreshSearch($event):0"
                   [(ngModel)]="searchingValue" name="valueToSearch">
        </div>
        <div class="uk-form-row uk-flex-item-1 uk-flex">
            <systelab-internal-searcher-table class="uk-flex-item-1 uk-position-relative" name="searcherTable"
                                              [contains]="selectedComboItem.id"
                                              [showChecks]="multipleSelection"
                                              [multipleSelection]="multipleSelection"
                                              [valueForSearch]="searchingValue"
                                              [searcher]="dialogParameters.searcher"
                                              (clickRow)="selectOnClick($event)"></systelab-internal-searcher-table>
        </div>
    </form>
</div>
<div class="slab-dialog-buttons" *ngIf="multipleSelection">
    <button type="button" class="btn btn-lg float-right" (click)="submit()"> Submit</button>
</div>
<div class="slab-dialog-close" (click)="close()"></div>
