<systelab-dialog-header [withClose]="showClose || multipleSelection" (close)="close()">{{titleForDialog}}
</systelab-dialog-header>

<div (keydown)="(($event.keyCode===13)?$event.preventDefault():0)"
     class="slab-flex-1 p-2 d-flex flex-column flex-nowrap slab-searcher-dialog-container">

    <form class="form-inline">
        <label for="valueToSearch" class="text-truncate mr-2 ml-auto">{{searchLabel}}</label>
        <systelab-select class="text-left mr-2"
                         [description]="selectedComboItem.description"
                         [id]="selectedComboItem.id"
                         [values]="comboElements"
                         (change)="refreshSearch($event)"></systelab-select>
        <input type="text" class="form-control" #valueToSearch id="valueToSearch"
               (keyup)="refreshSearch($event)"
               [(ngModel)]="searchingValue" name="valueToSearch" autocomplete="off">
    </form>

    <div class="slab-flex-1 mt-2 d-flex slab-table-container">
        <systelab-internal-searcher-table class="slab-flex-1 position-relative" name="searcherTable"
                                          [contains]="selectedComboItem.id"
                                          [showChecks]="multipleSelection"
                                          [multipleSelection]="multipleSelection"
                                          [valueForSearch]="searchingValue"
                                          [searcher]="dialogParameters.searcher"
                                          (clickRow)="selectOnClick($event)"></systelab-internal-searcher-table>
    </div>
</div>
<systelab-dialog-bottom *ngIf="multipleSelection">
    <button type="button" class="btn ml-auto" (click)="submit()"> {{ 'COMMON_OK' | translate | async }}</button>
</systelab-dialog-bottom>