<div class="container-fluid">
    <div class="row mt-1">
        <label class="col-md-3 col-form-label">Button</label>
        <div class="col-md-9">
            <systelab-button class="mr-1">Default</systelab-button>
            <systelab-button type="primary" class="mr-1">Primary</systelab-button>
            <systelab-button type="danger" class="mr-1">Danger</systelab-button>
            <systelab-button type="success" class="mr-1">Success</systelab-button>
            <systelab-button type="link" class="mr-1">Link</systelab-button>
            <systelab-button class="mr-1" disabled>Disabled directive</systelab-button>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label">Button Large </label>
        <div class="col-md-9">
            <systelab-button size="large" class="mr-1" (click)="doClick($event)">Default</systelab-button>
            <systelab-button type="primary" size="large" class="mr-1" (click)="doClick($event)">Primary</systelab-button>
            <systelab-button type="danger" size="large" class="mr-1" (click)="doClick($event)">Danger</systelab-button>
            <systelab-button type="success" size="large" class="mr-1" (click)="doClick($event)">Success</systelab-button>
            <systelab-button type="link" size="large" class="mr-1" (click)="doClick($event)">Link</systelab-button>
            <systelab-button class="mr-1" size="large" disabled="true" (click)="doClick($event)">Disabled</systelab-button>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label">Button Small</label>
        <div class="col-md-9">
            <systelab-button size="small" class="mr-1">Default</systelab-button>
            <systelab-button type="primary" size="small" class="mr-1">Primary</systelab-button>
            <systelab-button type="danger" size="small" class="mr-1">Danger</systelab-button>
            <systelab-button type="success" size="small" class="mr-1">Success</systelab-button>
            <systelab-button type="link"  size="small" class="mr-1">Link</systelab-button>
            <systelab-button class="mr-1"  size="small" disabled="true">Disabled</systelab-button>
        </div>
    </div>

    <div class="row mt-1">
        <label class="col-md-3 col-form-label">Toggle button</label>
        <div class="col-md-9">
            <systelab-toggle-button class="mr-1">Default</systelab-toggle-button>
            <systelab-toggle-button class="mr-1" [disabled]="true">Disabled</systelab-toggle-button>
            <systelab-toggle-button class="mr-1" [isChecked]="customVariable" (click)="doSomething()">Checked by default</systelab-toggle-button>
        </div>
    </div>

    <div class="row mt-1">
        <label class="col-md-3 col-form-label">Chip button</label>
        <div class="col-md-9">
            <systelab-chip-button class="mr-1 mb-1" [buttonList]="buttonList"
                                  [deleteConfirmationMessage]="'Are you sure you want to continue?'"></systelab-chip-button>
        </div>
    </div>
</div>
