<h4>
    icomoon (Glyphs:&nbsp;69)</h4>

<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-context-menu"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-rowaction">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-numpad"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-numpad">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-clock"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-clock">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-comment"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-comment">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-plus"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-plus">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-question"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-question">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-minus"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-minus">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-search"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-search">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-user"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-user">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-check"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-check">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-close"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-close">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-gear"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-gear">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-gear"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-cog">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-home"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-home">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-download"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-download">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-refresh"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-refresh">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-lock"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-lock">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-book"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-book">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-print"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-print">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-list"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-list">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-list2"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-list2">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-chevron-left"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-chevron-left">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-chevron-right"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-chevron-right">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-plus-circle"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-plus-circle">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-minus-circle"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-minus-circle">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-times-circle"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-times-circle">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-check-circle"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-check-circle">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-question-circle"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-question-circle">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-info-circle"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-info-circle">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-exclamation-circle"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-exclamation-circle">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-exclamation-triangle"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-exclamation-triangle">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-warning"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-warning">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-calendar"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-calendar">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-chevron-up"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-chevron-up">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-chevron-down"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-chevron-down">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-square-o"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-square-o">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-unlock"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-unlock">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-certificate"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-certificate">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-tool"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-tool">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-copy"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-copy">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-square"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-square">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-caret-down"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-caret-down">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-caret-up"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-caret-up">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-caret-left"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-caret-left">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-caret-right"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-caret-right">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-cloud-download"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-cloud-download">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-cloud-upload"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-cloud-upload">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-file-text-o"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-file-text-o">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-angle-double-left"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-angle-double-left">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-angle-double-right"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-angle-double-right">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-angle-double-up"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-angle-double-up">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-angle-double-down"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-angle-double-down">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-angle-left"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-angle-left">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-angle-right"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-angle-right">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-angle-up"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-angle-up">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-angle-down"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-angle-down">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-spinner"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-spinner">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-exclamation"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-exclamation">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-chevron-circle-left"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-chevron-circle-left">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-chevron-circle-right"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-chevron-circle-right">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-chevron-circle-up"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-chevron-circle-up">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-chevron-circle-down"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-chevron-circle-down">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-child"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-child">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-trash"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-trash">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-line-chart"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-line-chart">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-female"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-female">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-male"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-male">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-calendar-check"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-calendar-check">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-percent"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-percent">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-maximize"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-maximize">
    </div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-minimize"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-minimize">
    </div>
</div>

<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-th-large"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-th-large">
    </div>
</div>

<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-tag"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-tag">
    </div>
</div>

<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-bug"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-bug">
    </div>
</div>

<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-cube"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-cube">
    </div>
</div>

<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-price-tag"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-price-tag">
    </div>
</div>

<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-empty-cube"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-empty-cube">
    </div>
</div>

<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-empty-cube-linked"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-empty-cube-linked">
    </div>
</div>

<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-profile"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-profile">
    </div>
</div>

<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-custom-tag"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-custom-tag">
    </div>
</div>

<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-custom-linked-tag"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-custom-linked-tag">
    </div>
</div>

<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-custom-ifa-tag"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-custom-ifa-tag">
    </div>
</div>

<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-custom-ifa-linked-tag"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-custom-ifa-linked-tag">
    </div>
</div>

<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-culture"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-culture">
    </div>
</div>

<div class="uk-form-row">
    <label class="uk-form-label">
        <span class="icon-culture-linked"></span>
    </label>
    <div class="uk-form-controls">
        <input type="text" readonly value="icon-culture-linked">
    </div>
</div>