
// we must set bootstrap variables before importing bootstrap
@import "../systelab-components/styles/sass/systelab-bootstrap-settings";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../systelab-components/styles/sass/systelab-components";

body {
  background-color: $background;
}

input, button, a {
  outline: none
}

.li {
  color: $background;
}