<div class="slab-dialog-overlay">
    <div class="slab-dialog slab-dialog-disabled-animation">
        <div class="slab-dialog-content" role="document">
            <div>
                <div class="slab-dialog-header d-none d-md-block d-lg-block">Showcase</div>
                <systelab-tabs class="slab-flex-1">
                    <systelab-tab [title]="'Components'" [id]="'1'" (click)="selectTab(1)">
                        <div class="p-1">
                            <showcase-components></showcase-components>
                        </div>
                    </systelab-tab>
                    <systelab-tab [title]="'Tab'" [id]="'2'" (click)="selectTab(2)">
                        <div class="p-1">
                            Hello from tab 2!
                        </div>
                    </systelab-tab>
                </systelab-tabs>

                <div class="slab-dialog-buttons d-flex flex-wrap">
                    <button type="button" class="btn btn-lg d-flex align-items-center mr-1">
                        <i class="icon-times-circle mr-1"></i> Left button
                    </button>
                    <button type="button" class="btn btn-lg d-flex align-items-center mr-1">
                        <i class="icon-chevron-circle-right mr-1"></i> Right button
                    </button>
                </div>
                <div class="slab-dialog-close d-none d-md-block d-lg-block" (click)="closeDialog();"></div>
                <div class="slab-dialog-buttons-top d-none d-md-block d-lg-block">
                    <div><i class="icon-question-circle"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>