# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# You can see what browsers were selected by your queries by running:
#   npx browserslist

# Support all modern browsers without version restrictions
> 0.5%
last 2 versions
Firefox ESR
not dead

# Exclude specific unsupported or problematic browsers
not IE 11
not KaiOS > 0
not op_mini all
not and_qq > 0
not and_uc > 0
not op_mob > 0
not opera 122
not opera 121
not samsung 28
not samsung 27
