<form class="uk-form uk-flex uk-flex-row uk-flex-nowrap">

    <div class="uk-vertical-align uk-text-center uk-text-nowrap" style="background-color: #aaa">
        <div class="uk-vertical-align-middle">Content width div</div>
    </div>

    <div class="uk-width-1-1 uk-text-center" style="background-color: green">

        <div class="uk-height-1-1">
            <div class="uk-height-1-1 uk-flex uk-flex-column uk-flex-nowrap">

                <div class="uk-text-center uk-text-nowrap" style="background-color: magenta">
                    <div>Content height div</div>
                </div>
                <div class="uk-height-1-1" style="background-color: red;">
                        <div class="uk-form-row uk-overflow-container uk-height-1-1">
                            <div class="uk-form-controls uk-height-1-1">
                <textarea readonly name="" id="" class="slab-textarea slab-textarea-no-resize">
Markup example:

&lt;div class=&quot;uk-height-1-1&quot;&gt;
&lt;div class=&quot;uk-height-1-1 uk-flex uk-flex-column uk-flex-nowrap&quot;&gt;
&lt;div&gt;
Form ...
&lt;/div&gt;
&lt;div class=&quot;uk-overflow-container uk-height-1-1&quot;&gt;
Content...
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
(You can also use this form as an example, this very textarea is also flexed)

                    Markup example:

&lt;div class=&quot;uk-height-1-1&quot;&gt;
&lt;div class=&quot;uk-height-1-1 uk-flex uk-flex-column uk-flex-nowrap&quot;&gt;
&lt;div&gt;
Form ...
&lt;/div&gt;
&lt;div class=&quot;uk-overflow-container uk-height-1-1&quot;&gt;
Content...
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
(You can also use this form as an example, this very textarea is also flexed)
                </textarea>
                            </div>
                        </div>
                </div>
                <div class="uk-text-center uk-text-nowrap" style="background-color: orange">
                    <div>Content height div</div>
                </div>

            </div>
        </div>
    </div>

    <div class="uk-vertical-align uk-text-center uk-text-nowrap" style="background-color: blue; width: 300px;">
        <div class="uk-vertical-align-middle">Content width div</div>
    </div>

</form>
