<h6>Add Remove List with buttons at Right Side</h6>
<systelab-inner-add-remove-list [elementsList]="dataListButtonsRightSide"></systelab-inner-add-remove-list>

<h6>Add Remove List with buttons at Bottom Side</h6>
<systelab-inner-add-remove-list [elementsList]="dataListButtonsBottomSide" [buttonsOnBottom]="true"></systelab-inner-add-remove-list>

<h6>Add Remove List with disabled value</h6>
<systelab-inner-add-remove-list [elementsList]="dataListDisabled" [buttonsOnBottom]="true"
                                [isDisabled]="true"></systelab-inner-add-remove-list>