<div class="container-fluid">
    <systelab-button class="mt-2 mr-1" systelabTooltip="{{tooltipText}}">Tooltip on top</systelab-button>
    <systelab-button class="mt-2 mr-1" systelabTooltip="Tooltip on right" systelabTooltipPlacement="right">Tooltip on right</systelab-button>
    <systelab-button class="mt-2 mr-1" systelabTooltip="Tooltip on bottom" systelabTooltipPlacement="bottom">Tooltip on bottom</systelab-button>
    <systelab-button class="mt-2 mr-1" systelabTooltip="Tooltip on left" systelabTooltipPlacement="left">Tooltip on left</systelab-button>
    <systelab-button class="mt-2 mr-1" systelabTooltip="Tooltip delay 100 ms" systelabTooltipDelay="100" systelabTooltipHideDelay="0">Tooltip delay 100 ms</systelab-button>
    <systelab-button class="mt-2 mr-1" systelabTooltip="Tooltip delay 100 ms and 0 ms to hide" systelabTooltipDelay="100" systelabTooltipHideDelay="0">Tooltip delay</systelab-button>
</div>
