@font-face {
  font-family: 'icomoon';
  src:  url('./icomoon.eot?f6kr8k');
  src:  url('./icomoon.eot?f6kr8k#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?f6kr8k') format('truetype'),
    url('./icomoon.woff?f6kr8k') format('woff'),
    url('./icomoon.svg?f6kr8k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkbox:before {
  content: "\e928";
}
.icon-toggle-off:before {
  content: "\e926";
}
.icon-toggle-on:before {
  content: "\e927";
}
.icon-wifi-alert:before {
  content: "\e924";
}
.icon-file-certified:before {
  content: "\e923";
}
.icon-instrument-icon:before {
  content: "\e922";
}
.icon-culture:before {
  content: "\e919";
}
.icon-culture-linked:before {
  content: "\e91a";
}
.icon-empty-cube:before {
  content: "\e91b";
}
.icon-empty-cube-linked:before {
  content: "\e91c";
}
.icon-custom-ifa-linked-tag:before {
  content: "\e91d";
}
.icon-custom-ifa-tag:before {
  content: "\e91e";
}
.icon-custom-linked-tag:before {
  content: "\e91f";
}
.icon-custom-tag:before {
  content: "\e920";
}
.icon-profile:before {
  content: "\e921";
}
.icon-plus-thin:before {
  content: "\e916";
}
.icon-minus-thin:before {
  content: "\e917";
}
.icon-book:before {
  content: "\e915";
}
.icon-modulab:before {
  content: "\e90e";
}
.icon-lock:before {
  content: "\e90d";
}
.icon-sample_slim:before {
  content: "\e905";
}
.icon-sample:before {
  content: "\e906";
}
.icon-empty:before {
  content: "\e904";
}
.icon-empty_pos:before {
  content: "\e910";
}
.icon-chart:before {
  content: "\e911";
}
.icon-layer:before {
  content: "\e912";
}
.icon-flag:before {
  content: "\e913";
}
.icon-asterisc:before {
  content: "\e907";
}
.icon-excel:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e909";
}
.icon-user-male:before {
  content: "\e914";
}
.icon-user-female:before {
  content: "\e90a";
}
.icon-lan:before {
  content: "\e90b";
}
.icon-werfen:before {
  content: "\e90c";
}
.icon-process:before {
  content: "\e90f";
}
.icon-microsoft-word:before {
  content: "\e929";
  color: #2b579a;
}
.icon-microsoft-excel:before {
  content: "\e92a";
  color: #217346;
}
.icon-microsoft-powerpoint:before {
  content: "\e92b";
  color: #d24726;
}
.icon-adobe-acrobat-reader:before {
  content: "\e92c";
  color: #ee3f24;
}
.icon-wifi:before {
  content: "\e925";
}
.icon-comment:before {
  content: "\e900";
}
.icon-spinner:before {
  content: "\e918";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-tree:before {
  content: "\e9bc";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-export:before {
  content: "\e961";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-paperclip:before {
  content: "\f0c6";
}
.icon-context-menu:before {
  content: "\e901";
}
.icon-numpad:before {
  content: "\e902";
}
.icon-clock:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\f067";
}
.icon-question:before {
  content: "\f128";
}
.icon-minus:before {
  content: "\f068";
}
.icon-search:before {
  content: "\f002";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-gear:before {
  content: "\f013";
}
.icon-home:before {
  content: "\f015";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-print:before {
  content: "\f02f";
}
.icon-list:before {
  content: "\f039";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-circle:before {
  content: "\f055";
}
.icon-minus-circle:before {
  content: "\f056";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-question-circle:before {
  content: "\f059";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-exclamation-circle:before {
  content: "\f06a";
}
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-warning:before {
  content: "\f071";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-square-o:before {
  content: "\f096";
}
.icon-tool:before {
  content: "\f0ad";
}
.icon-clone:before {
  content: "\f0c5";
}
.icon-square:before {
  content: "\f0c8";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-angle-double-left:before {
  content: "\f100";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-double-up:before {
  content: "\f102";
}
.icon-angle-double-down:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-exclamation:before {
  content: "\f12a";
}
.icon-chevron-circle-left:before {
  content: "\f137";
}
.icon-chevron-circle-right:before {
  content: "\f138";
}
.icon-chevron-circle-up:before {
  content: "\f139";
}
.icon-chevron-circle-down:before {
  content: "\f13a";
}
.icon-trash:before {
  content: "\f1f8";
}
.icon-line-chart:before {
  content: "\f201";
}
.icon-female:before {
  content: "\f221";
}
.icon-male:before {
  content: "\f222";
}
.icon-calendar-check:before {
  content: "\f274";
}
.icon-percent:before {
  content: "\f295";
}
.icon-maximize:before {
  content: "\f2d0";
}
.icon-minimize:before {
  content: "\f2d1";
}
.icon-download:before {
  content: "\f019";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-bug:before {
  content: "\f188";
}
.icon-cube:before {
  content: "\f1b2";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-ban:before {
  content: "\f05e";
}
