<div class="slab-twolist h-100">
    <div class="slab-twolistdiv d-flex flex-column flex-nowrap">
        <label>{{'COMMON_AVAILABLE_FIELDS' | translate | async }} ({{ available.length }})</label>
        <div>
            <input type="text" class="form-control" [(ngModel)]="firstListSearch">
        </div>
        <div class="slab-twolistbox mt-2 slab-flex-1">
            <div class="slab-twolistboxdiv">
                <ul class="slab-twolistboxrow list-group">
                    <li *ngFor="let item of (available | datafilter:firstListSearch)" [ngClass]="{'slab-twolistboxrow slab-twolistboxrowselected':item.selected,'slab-twolistboxrow':!item.selected}"
                        (click)="selectAvailableItem(item, $event)" (dblclick)="moveSelectedAvailableItem(item, $event)">
                        {{item.displayName}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="slab-twolistbuttondiv  d-flex flex-column flex-nowrap">
        <button type="button" class="slab-twolistbutton btn icon-angle-double-right" (click)="addAll()" title="{{'COMMON_ADD_ALL' | translate | async }}"
            [disabled]="available.length == 0">
        </button>
        <button type="button" class="slab-twolistbutton btn icon-chevron-right" (click)="add()" title="{{'COMMON_ADD_SELECTED' | translate | async }}"
            [disabled]="selected.available.length == 0">
        </button>
        <button type="button" class="slab-twolistbutton btn icon-chevron-left" (click)="remove()" title="{{'COMMON_REMOVE_SELECTED' | translate | async }}"
            [disabled]="selected.current.length == 0">
        </button>
        <button type="button" class="slab-twolistbutton btn icon-angle-double-left" (click)="removeAll()" title="{{'COMMON_REMOVE_ALL' | translate | async }}"
            [disabled]="visible.length == 0">
        </button>
    </div>

    <div class="slab-twolistdiv d-flex flex-column flex-nowrap">
        <label>{{'COMMON_FIELDS_TO_SHOW' | translate | async }} ({{ visible.length }})</label>
        <div>
            <input type="text" class="form-control" [(ngModel)]="secondListSearch">
        </div>
        <div class="slab-twolistbox mt-2 slab-flex-1 text-nowrap">
            <systelab-two-list-sortable-list class="w-100" [selected]="selected" [available]="available"
                [(elementsList)]="visible" [secondListSearch]="secondListSearch"  (dbClick)="dbClickVisibleItem($event)"></systelab-two-list-sortable-list>
        </div>
    </div>
</div>