<div class="container-fluid">
  <div class="row mt-1">
    <label class="col-md-3 col-form-label" for="full-width-input"
      >Slider (value: {{ sliderValue }})</label
    >
    <div class="col-md-9">
      <systelab-slider
        [(value)]="sliderValue"
        [min]="0"
        [max]="200"
        [step]="1"
        name="slider"
      ></systelab-slider>
    </div>
  </div>

  <div class="row mt-1">
    <label class="col-md-3 col-form-label" for="full-width-input"
      >Slider Double Range (value: {{ startValue }})</label
    >
    <label class="col-md-3 col-form-label" for="full-width-input"
      >Slider Double Range (value: {{ endValue }})</label
    >
    <div class="col-md-9">
      <systelab-slider-double-range
        [(firstValue)]="startValue"
        [(secondValue)]="endValue"        
        [min]="0"
        [max]="200"
        [step]="1"
        name="sliderDouble"
      ></systelab-slider-double-range>
    </div>
  </div>
</div>
