<div class="slab-custom-calendar-header">
    <a id="previous-year" class="icon-angle-double-left slab-icon-medium" (click)="doPreviousYear()"></a>
    <a id="previous-month" class="icon-angle-left slab-icon-medium" (click)="doPreviousMonth()"></a>
    <a id="next-year" class="icon-angle-double-right slab-icon-medium" (click)="doNextYear()"></a>
    <a id="next-month" class="icon-angle-right slab-icon-medium" (click)="doNextMonth()"></a>
    <div class="slab-custom-calendar-title">{{getTitle()}}</div>
</div>
