@import "../styles/sass/variables";

$datepicker-header-navigation-line-height: 40px;

.slab-custom-calendar-header {
  $icon-margin-right: 10px;
  $icon-margin-left: 40px;
  line-height: $datepicker-header-navigation-line-height !important;
  background: $primary-color;
  margin-bottom: 0;
  color: white;
  height: 40px;
  .slab-custom-calendar-title {
    display: block;
    margin: 0;
    text-align: center;
  }
  a {
    color: white;
    &:hover {
      text-decoration: none;
      background: none;
      color: white;
    }
  }
  .icon-angle-double-left {
    float: left;
    margin-left: $icon-margin-right;
    line-height: $datepicker-header-navigation-line-height;
  }

  .icon-angle-double-right {
    float: right;
    margin-right: $icon-margin-right;
    line-height: $datepicker-header-navigation-line-height;
  }

  .icon-angle-left {
    float: left;
    margin-left: $icon-margin-left;
    line-height: $datepicker-header-navigation-line-height;
  }

  .icon-angle-right {
    float: right;
    margin-right: $icon-margin-left;
    line-height: $datepicker-header-navigation-line-height;
  }

}
