<systelab-dialog-header [title]="parameters.headerDescription" [withInfo]="false"
                        (close)="close();"></systelab-dialog-header>
<div class="slab-calendar-dialog slab-flex-1 d-flex flex-column">
    <systelab-calendar-header [currentDate]="currentDate"
                              (previousYear)="changeYear(-1)" (previousMonth)="changeMonth(-1)"
                              (nextMonth)="changeMonth(1)" (nextYear)="changeYear(1)" [locale]="locale">
    </systelab-calendar-header>
    <systelab-calendar-table #calendar class="slab-calendar-table" [currentDate]="currentDate" [days]="days" [locale]="locale">
        <ng-template let-daySlot="daySlot">
            <a [ngClass]="{'is-holiday': daySlot.isHoliday,'disable-link':daySlot.isDisabled}" (click)="selectDaySlot(daySlot)">
                {{daySlot.day}}
            </a>
            <div *ngIf="!daySlot.isHoliday" class="slab-calendar-buttons">
                <button class="slab-calendar-button1" (click)="doSomething(daySlot)"></button>
            </div>
        </ng-template>
    </systelab-calendar-table>
</div>
