<div class="slab-dialog-header ng-binding">
    <span>{{parameters.headerDescription}}</span>
</div>
<div class="custom-calendar-dialog slab-dialog-message uk-flex uk-flex-column">
    <systelab-calendar-header [currentDate]="currentDate"
                              (previousYear)="changeYear(-1)" (previousMonth)="changeMonth(-1)"
                              (nextMonth)="changeMonth(1)" (nextYear)="changeYear(1)" [locale]="locale">
    </systelab-calendar-header>
    <systelab-calendar-table #calendar class="uk-flex-item-1" [currentDate]="currentDate" [days]="days" [locale]="locale">
        <ng-template  let-daySlot="daySlot">
            <a [ngClass]="{'is-holiday': daySlot.isHoliday,'disable-link':daySlot.isDisabled}" (click)="selectDaySlot(daySlot)">
                {{daySlot.day}}
            </a>
            <div *ngIf="!daySlot.isHoliday" class="buttons">
                <button class="button1" (click)="doSomething(daySlot)"></button>
            </div>
        </ng-template>
    </systelab-calendar-table>
</div>
<div class="slab-dialog-close" (click)="close()"></div>