@import "../styles/sass/variables";


.slab-custom-calendar {
  max-width: 100%;
  height: 100%;
  min-width: auto;
  border: none;
  padding: 5px;
  width: auto;

  .slab-custom-calendar-table {
    $datepicker-max-size: 60px;
    border-spacing: 0;
    width: 100% !important;
    height: 100% !important;

    thead {
      background-color: $light-gray;
      border-bottom: 1px solid $background-secondary;
      line-height: 34px;

      tr {
        th {
          font-weight: normal;
          min-width: 40px;
          max-width: $datepicker-max-size;
          text-align: center;
          padding: 0 !important;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 0 !important;
          border-bottom: 1px solid $background-secondary;
          position: relative;
          &:hover,
          &:active {
            background-color: $medium-gray;
            background: $medium-gray !important;
          }
          &.disabled-cell {
            background-color: $background-secondary;
            pointer-events: none;
            &:hover {
              background-color: $background-secondary;
            }
          }
          .slab-custom-calendar-cell {
            width: 100%;
          }
        }
      }
    }
  }
}
