// HemoHub - Main application colors

$primary-color: rgb(0, 154, 181) !default;
$primary-color-darken: darken($primary-color, 10%) !default;
$primary-color-darken-hover: darken($primary-color-darken, 10%) !default;

$secondary-color: rgb(66, 66, 66) !default;

$base-body-color: $secondary-color !default;

$login-color: $primary-color !default;
$login-background: rgb(41, 49, 60) !default;

//Grayscale
$background: rgb(255, 255, 255) !default;
$light-gray: rgb(248, 248, 248) !default;
$background-hemohub: rgb(235, 235, 235) !default;
$form-border: rgb(221, 221, 221) !default;
$medium-gray: rgb(214, 214, 214) !default;
$actions-separator: rgb(192, 192, 192) !default;
$disabled: rgb(169, 169, 169) !default;
$nr: $disabled !default;
$table-gray: rgb(149, 149, 149) !default;
$dark-gray: rgb(128, 128, 128) !default;
$darker-gray: rgb(45, 45, 45) !default;

//Translucent grayscale

$slab-dialog-border-color: rgba(170, 170, 170, 0.8) !default;

// Form elements

$form-color: $base-body-color !default;
$form-focus-border: rgb(153, 186, 202) !default;
$form-focus-background: rgb(245, 251, 254) !default;

$slab-slider-circle-color: white !default;
$slab-slider-circle-border-color: $primary-color !default;
$slab-slider-background-color: $actions-separator !default;

$checkbox-border-color: $primary-color !default;
$checkbox-color: white !default;

$radio-border-color: $primary-color !default;
$radio-color: white !default;

$switch-bg-color: transparent !default;
$switch-circle-color: $dark-gray !default;
$switch-bg-color-checked: $primary-color !default;
$switch-circle-color-checked: white !default;

$table-row-odd-background-color: rgb(243, 243, 243) !default;
$table-row-even-background-color: rgb(253, 253, 253) !default;
$table-row-selected-background-color: rgb(201, 221, 225) !default;

$combo-selected-color: rgb(201, 221, 225) !default;

// Component specific / status colors
$error-message-text: rgb(255, 51, 45) !default;
$error: rgb(215, 56, 45) !default;
$in: $error !default;
$tbr: rgb(249, 136, 0) !default;
$warning: rgb(255, 188, 0) !default;
$pr: $warning !default;
$pl: rgb(255, 217, 0) !default;
$fv: rgb(174, 222, 51) !default;
$tv: rgb(40, 189, 35) !default;
$success: rgb(18, 206, 123) !default;
$primary: rgb(35, 48, 252) !default;
$connected: $success !default;
$dark-green: rgb(4, 123, 87) !default;
$darker-green: rgb(47, 148, 60) !default;
$pending: rgb(0, 143, 173) !default;
$ol: $pending !default;
$info: $pending !default;
$wr: rgb(232, 179, 255) !default;
$notvalidated: rgb(187, 119, 201) !default;
$selected-elements: rgb(234, 248, 250) !default;
$results: rgb(153, 0, 51) !default;
$pending: rgb(255, 200, 200) !default;
$selected: rgb(165, 221, 229) !default;
$selected-cepario: rgb(200, 223, 252) !default;
$occupation-calendar-hover: rgb(184, 207, 229) !default;
$partial: rgb(255, 255, 152) !default;
$pathology1: rgb(128,0,0) !default;
$pathology2: rgb(192,0,0) !default;
$pre: rgb(142,217,209) !default;

$patient-history-default-background-color: $table-row-odd-background-color;

$patient-history-chapter-background-color: $primary-color;
$patient-history-chapter-color: white;

$patient-history-profile-background-color: rgb(190,221,252);
$patient-history-profile-color: rgb(64,162,242);

// Bootstrap 4 colors
$bootstrap-primary: #2330fc;
$bootstrap-secondary: #868e96;
$bootstrap-success: #12ce7b;
$bootstrap-info: #008fad;
$bootstrap-warning: #ffbc00;
$bootstrap-danger: #dc3545;
$bootstrap-light: #f8f9fa;
$bootstrap-dark: #343a40;