<div class="container-fluid">
    <button type="button" class="btn mt-2"
            (click)="showLowerFlexDialog();">Form + lower flex textarea
    </button>
    <button type="button" class="btn mt-2"
            (click)="showTwoTabsDialog();">Two tab rows
    </button>
    <button type="button" class="btn mt-2"
            (click)="showTwoColumnsDialog();">Two columns
    </button>
    <button type="button" class="btn mt-2"
            (click)="showCalendarDialog();">Calendar
    </button>
    <button type="button" class="btn mt-2"
            (click)="showFullFlexDialog();">Flex
    </button>
    <button type="button" class="btn mt-2"
            (click)="showSplitDialog();">Split
    </button>
    <button type="button" class="btn mt-2"
            (click)="showStandardDialog();">Standard
    </button>
</div>