<div class="container-fluid">
    <systelab-button class="mt-2 mr-1" (action)="showStandardDialog()" systelabTooltip="Tooltip on right" systelabTooltipPlacement="right">Horizontal form
    </systelab-button>
    <systelab-button class="mt-2 mr-1" (action)="showVerticalDialog()">Vertical form
    </systelab-button>
    <systelab-button class="mt-2 mr-1" (action)="showTwoColumnsDialog()">Two columns form
    </systelab-button>
    <systelab-button class="mt-2 mr-1" (action)="showLowerFlexDialog()">Form with growing component
    </systelab-button>
    <systelab-button class="mt-2 mr-1" (action)="showTwoTabsDialog()">Two tabs form
    </systelab-button>
    <systelab-button class="mt-2 mr-1" (action)="showCalendarDialog()">Calendar
    </systelab-button>
    <systelab-button class="mt-2 mr-1" (action)="showFullFlexDialog()">Flex form
    </systelab-button>
    <systelab-button class="mt-2 mr-1" (action)="showSplitDialog()">Split form
    </systelab-button>
    <systelab-button class="mt-2 mr-1" #btnContextModal (action)="showCalendarWithPositionDialog()">Position Form
    </systelab-button>
    <systelab-button class="mt-2 mr-1" (action)="showFullScreenDialog()">Full screen
    </systelab-button>

</div>
