<div class="container-fluid">
    <div class="row align-items-center mt-1">
        <label class="col slab-label slab-label-215">Spinner</label>
        <div class="col-sm">
            <systelab-spinner [spinValues]="touchSpinValues1" id="touch2"></systelab-spinner>
        </div>
    </div>

    <div class="row align-items-center mt-1">
        <label class="col slab-label slab-label-215">Spinner negative values</label>
        <div class="col-sm">
            <systelab-spinner [spinValues]="touchSpinValues3" id="touch2"></systelab-spinner>
        </div>
    </div>

    <div class="row align-items-center mt-1">
        <label class="col slab-label slab-label-215">Next to each other</label>
        <div class="col-sm">
            <systelab-spinner [spinValues]="touchSpinValues1" id="touch2"></systelab-spinner>
            <systelab-spinner [spinValues]="touchSpinValues1" id="touch2"></systelab-spinner>
        </div>
    </div>
</div>