.stepsWizard {
    display: table;
    width: 50%;
    position: relative;
    .step {
        display: table-cell;
        text-align: center;
        position: relative;
    }
    .step button {
        width: 45px;
        height: 45px;
        text-align: center;
        padding: 6px 0;
        font-size: 15px;
        line-height: 1.428571429;
    }
    .step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }
    .row {
        display: table-row !important;
    }
    .row:before {
        top: 23px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;
    }
}
.btn-circle {
    border-radius: 50% !important;
}
