<div class="mt-3 ps-2  pb-2">
    <h6>Default Navbar</h6>
    <systelab-navbar [id]="'navBar1'" [items]="items1"></systelab-navbar>
</div>

<!-- Horizontal without images -->
<div class="mt-3 ps-2  pb-2">
    <h6>Horizontal Nav without Images</h6>
    <systelab-navbar [id]="'navBar2'" [isVertical]="false" [backgroundColor]="'rgb(21, 143, 239)'" [backgroundHoverColor]="'rgb(66, 161,205)'"
        [items]="items1" [fontColor]="'white'" [align]="'right'"></systelab-navbar>
</div>

<!-- Horizontal with images -->
<div class="mt-3 ps-2  pb-2">
    <h6>Horizontal Nav with Images</h6>
    <systelab-navbar [id]="'navBar3'" [isVertical]="false" [backgroundColor]="'rgb(242, 158, 0)'" [backgroundHoverColor]="'rgb(239, 170, 107)'"
        [items]="items2" [fontColor]="'white'" [align]="'center'"></systelab-navbar>
</div>

<!-- Horizontal with images inline -->
<div class="mt-3 ps-2  pb-2">
    <h6>Horizontal Nav with Images inline</h6>
    <systelab-navbar [id]="'navBar4'" [isVertical]="false" [backgroundColor]="'rgb(21, 143, 239)'" [backgroundHoverColor]="'rgb(66, 161,205)'"
        [items]="items3" [fontColor]="'white'" [align]="'left'"></systelab-navbar>
</div>

<!-- Vertical without images -->
<div class="mt-3 col-sm-12 col-md-3 ps-2  pb-2">
    <h6>Vertical Nav without Images</h6>
    <systelab-navbar [id]="'navBar5'" [isVertical]="true" [backgroundColor]="'rgb(21, 143, 239)'" [backgroundHoverColor]="'rgb(66, 161,205)'"
        [items]="items4" [fontColor]="'white'" [align]="'center'"></systelab-navbar>
</div>

<!-- Vertical with images  -->
<div class="mt-3  ps-2  pb-2 col-sm-12 col-md-3">
    <h6>Vertical Nav with Images</h6>
    <systelab-navbar [id]="'navBar6'" [isVertical]="true" [backgroundColor]="'rgb(242, 158, 0)'" [backgroundHoverColor]="'rgb(239, 170, 107)'"
        [items]="items5" [fontColor]="'white'" [align]="'center'"></systelab-navbar>
</div>
