<systelab-dialog-header [withInfo]="false" [withHome]="true" [withMinimize]="true" (close)="close();">Form + lower flex textarea</systelab-dialog-header>
<showcase-lower-flex class="slab-flex-1 slab-overflow-container d-flex pt-1 pb-1" [language]="parameters.language"></showcase-lower-flex>
<systelab-dialog-bottom>
    <div class="dropup slab-button-dropdown">
        <!-- This is the element toggling the dropdown -->
        <button type="button" class="btn dropdown-toogle" data-toggle="dropdown">Drop down bottom-left <i
                class="icon-chevron-up"></i></button>
        <!-- This is the dropdown -->
        <div class="dropdown-menu slab-dropdown">
            <ul>
                <li><a>Action 1</a></li>
                <li><a>Action 2</a></li>
            </ul>
        </div>
    </div>
    <button type="button" class="btn ml-auto" (click)="close()"> Submit</button>
</systelab-dialog-bottom>
