<div class="container-fluid">
    <form class="p-2">
        <label class="slab-form-title">Section title</label>
        <div class="row mt-1">
            <label for="field0" class="col-md-2 col-form-label">Line 1</label>
            <div class="col-md-10">
                <input #firstInput type="text" class="form-control" id="field0" name="field0">
            </div>
        </div>

        <div class="row mt-1">
            <label for="field1" class="col-md-2 col-form-label">Line 2</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="field1" name="field1">
            </div>
            <label for="field2" class="col-md-1 col-form-label">Field 2</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="field2" name="field2">
            </div>
        </div>

        <div class="row mt-1">
            <label class="col-md-2 col-form-label">Line 7</label>
            <div class="col-md-5">
                <systelab-select></systelab-select>
            </div>
            <label class="col-md-1 col-form-label">Field 2</label>
            <div class="col-md-4">
                <systelab-select></systelab-select>
            </div>
        </div>

        <div class="row mt-1">
            <label for="field13" class="col-md-2 col-form-label">Field 13</label>
            <div class="col-md-5">
                <systelab-datepicker></systelab-datepicker>
            </div>
            <label for="field14" class="col-md-1 col-form-label text-truncate">Field 14</label>
            <div class="col-md-4">
                <systelab-datepicker></systelab-datepicker>
            </div>
        </div>
        <label class="slab-form-title">Section title</label>
        <div class="row mt-1">
            <label for="field9" class="col-md-2 col-form-label">Line 5</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="field9" name="field9">
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" id="field10" name="field10">
            </div>
        </div>

        <div class="row mt-1">
            <label for="field11" class="col-md-2 col-form-label">Line 6</label>
            <div class="col-md-5">
                <systelab-select></systelab-select>
            </div>
            <div class="col-md-5">
                <systelab-select></systelab-select>
            </div>
        </div>

        <div class="row mt-1">
            <label for="field11" class="col-md-2 col-form-label">Line 6bis</label>
            <div class="col-md-5">
                <showcase-inner-searcher></showcase-inner-searcher>
            </div>
            <div class="col-md-5">
                <showcase-inner-searcher></showcase-inner-searcher>
            </div>
        </div>

        <div class="row mt-1">
            <label for="field3" class="col-md-2 col-form-label">Line 3</label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="field3" name="field3">
            </div>
            <label for="field4" class="col-md-1 col-form-label">Field 4</label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="field4" name="field4">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" id="field5" name="field5">
            </div>
        </div>

        <div class="row mt-1">
            <label for="field6" class="col-md-2 col-form-label">Line 4</label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="field6" name="field6">
            </div>
            <label for="field7" class="col-md-1 col-form-label">Field 7</label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="field7" name="field7">
            </div>
            <label for="field8" class="col-md-1 col-form-label">Field 8</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="field8" name="field8">
            </div>
        </div>

        <div class="row mt-1">
            <label for="field" class="col-md-2 col-form-label">Field 9</label>
            <div class="col-md-10 d-flex justify-content-between">
                <input name="status-radio2" type="radio" id="radio-urgent2"> <label
                    for="radio-urgent2">Urgent</label>
                <input name="status-radio2" type="radio" id="radio-urgent3"> <label
                    for="radio-urgent2">Urgent</label>
                <input name="status-radio2" type="radio" checked id="radio-urgent4"> <label
                    for="radio-urgent2">Urgent</label>
                <input name="status-radio2" type="radio" id="radio-urgent5"> <label
                    for="radio-urgent2">Urgent</label>
            </div>
        </div>

        <div class="row mt-1">
            <label for="field" class="col-md-2 col-form-label">Field 9</label>
            <div class="col-md-10 d-flex">
                <input name="status-radio2" type="radio" id="radio-urgent2"> <label
                    for="radio-urgent2" class="mr-2">Urgent</label>
                <input name="status-radio2" type="radio" id="radio-urgent3"> <label
                    for="radio-urgent2" class="mr-2">Urgent</label>
                <input name="status-radio2" type="radio" checked id="radio-urgent4"> <label
                    for="radio-urgent2" class="mr-2">Urgent</label>
                <input name="status-radio2" type="radio" id="radio-urgent5"> <label
                    for="radio-urgent2">Urgent</label>
            </div>
        </div>

        <div class="row mt-1">
            <label for="field15" class="col-md-2 col-form-label">Field 15</label>
            <div class="col-md-8">
                <systelab-date-time></systelab-date-time>
            </div>
        </div>

        <div class="row mt-1">
            <label for="field16" class="col-md-2 col-form-label">Field 16</label>
            <div class="col-md-8">
                <systelab-date-time></systelab-date-time>
            </div>
        </div>

        <div class="row mt-1">
            <label for="field17" class="col-md-2 col-form-label">Field 17</label>
            <div class="col-md-8">
                <systelab-spinner></systelab-spinner>
            </div>
        </div>

        <div class="row mt-1">
            <label for="field18" class="col-md-2 col-form-label">Field 18</label>
            <div class="col-md-8">
                <showcase-inner-searcher></showcase-inner-searcher>
            </div>
        </div>
    </form>
</div>
