$slab-button-background-color: $dark !default;

.btn:not(.btn-primary),
.btn:not(.btn-secondary),
.btn:not(.btn-info),
.btn:not(.btn-success),
.btn:not(.btn-warning),
.btn:not(.btn-danger),
.btn:not(.btn-light),
.btn:not(.btn-dark),
.btn:not(.btn-link),
.btn:not(.btn-outline-primary),
.btn:not(.btn-outline-secondary),
.btn:not(.btn-outline-info),
.btn:not(.btn-outline-success),
.btn:not(.btn-outline-warning),
.btn:not(.btn-outline-danger),
.btn:not(.btn-outline-light),
.btn:not(.btn-outline-dark),
.btn:not(.btn-outline-link) {
  background-color: $slab-button-background-color;
  color: white;

  &:hover {
    background-color: $primary;
    border-color: $primary;
  }
}

.btn { //Toogle buttons
  &.btn-outline-primary {
    color: white;
    background-color: $slab-button-background-color;
    border-color: $primary;
  }

  &.btn-primary {
    background-color: $primary;
    border-color: $primary;
  }
}

.chip-button {
  display: inline-block;
  @include font-size($badge-font-size);
  font-weight: $badge-font-weight;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius($badge-border-radius);
  @include transition($badge-transition);

  @at-root a#{&} {
    @include hover-focus {
      text-decoration: none;
    }
  }

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
}

.li-chip-button {
  padding: 0;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  margin: 0 0 0 .3em;
}

.add-chip-button {
  min-width: auto !important;
}
