$slab-icon-context-menu-font-size: ceil(22px * $slab-size-percentage);
$slab-icon-context-menu-size: ceil(28px * $slab-size-percentage);

.slab-context-menu {
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  width: 100%;
  background-color: transparent;
  line-height: normal;

  .icon-context-menu {
    font-size: $slab-icon-context-menu-font-size;
    padding-top: ceil(($grid-cell-height - $slab-icon-context-menu-font-size) / 2);
    color: grey;
  }
}

.slab-icon-container {
  width: $slab-icon-context-menu-size;
  height: $slab-icon-context-menu-size;
  .slab-menu-icon {
    font-size: $slab-icon-context-menu-font-size;
  }
}

.slab-menu-caret {
  margin-top: 5px;
}