
.slab-form-title {
  font-size: 1.1rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 10px;
  padding-right: 5px;
}

.slab-mh-ft {
  max-height: fit-content;
}

//Override

.form-control {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  height: $form-elements-height;
}

.col-form-label {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0; // Override the `<label>` default
  line-height: $form-elements-height !important;
}


