.slab-listbox {

  margin-top: 1px;
  padding: 0;
  border: none;

  @include selection-checkbox;

  .ag-theme-fresh .ag-root {
    border: none;
    overflow: hidden;

    .ag-body-viewport {
      background-color: $background-primary;

      .ag-row {
        background-color: $background-primary;

        &.ag-row-selected {
          background-color: $slab-selected-background-color;
        }

        &.ag-row-disabled {
          pointer-events: none;
        }

        &.ag-row-hover {
          background-color: $slab-selected-background-color;
        }

        .ag-cell {
          border: none;
        }

      }
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
