/* This styles are used to override the default primeng styles for trees (https://www.primefaces.org/primeng/#/tree).*/

body .ui-tree {
  width: 100%;
  height: 100%;
  padding: 0;
  font: normal $slab-base-body-font-size $slab-base-body-font-family;

  .ui-tree-container {
    padding: 0;

    .ui-treenode {
      padding: 0;

      .ui-treenode-content {
        padding-left: 5px;
        color: #222;
        border: 0;
        outline: none;

        span[class*='icon-angle-'] {
          font-weight: bold;
          font-size: 18px;
          color: $dark-gray;
        }

        .ui-tree-toggler {
          color: #222;
        }

        .ui-treenode-icon {
          margin: 0 5px 0 0;
        }

        .ui-treenode-label {
          padding: 0;

          span {
            padding-left: 3.750px;
            padding-right: 3.750px;
          }

          label {
            margin: 0px;
            padding-top: 4px;
            padding-bottom: 4px;
          }

          &.ui-state-highlight {
            background: $slab-selected-background-color;
            color: rgb(34, 34, 34);
          }

          &:hover {
            background: $slab-selected-background-color;
          }
        }

        &:hover {
          background-color: $slab-selected-background-color;
        }

        &.ui-treenode-content-selected {
          background: $slab-selected-background-color;
          color: rgb(34, 34, 34);
        }
      }
    }
  }
}
