
/* $twolist-row-height: define the row height*/
$twolist-row-height: ceil(35px * $slab-size-percentage) !default;

.slab-twolist {
  display: -webkit-flex;
  display: flex;
  overflow: auto;

  .slab-twolistdiv {
    $single-list-width: calc(50% - 30px);

    flex: 1 0 $single-list-width;
    min-width: $single-list-width;

    @media (max-width: 1024px) {
      input {
        display: none;
      }
    }

    .slab-twolistbox {
      border-radius: 5px;
      border: 1px solid $medium-gray;
      padding: 5px 0;
      display: flex;
      overflow: auto;

      .slab-twolistboxdiv {
        flex: 1 0 auto;

        .slab-twolistboxrow {
          line-height: $twolist-row-height;
          padding-left: 5px;
          cursor: pointer;

          @include user-selection(none);
        }

        .slab-twolistboxrowselected {
          background-color: $slab-selected-background-color;
          padding-left: 5px;
        }

        .slab-twolistboxrowdrag {
          cursor: move;
        }
      }
    }
  }

  .slab-twolistbuttondiv {
    padding: 5px;
    flex: 0 0 auto;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;

    .slab-twolistbutton {
      margin: 2px;
      min-width: 0;
    }
  }
}
