<div class="slab-app-sidebar-small-menu-container">
    <ul class="slab-app-sidebar-button-container">
        <li class="slab-app-sidebar-button" *ngFor="let tab of tabs" (click)="!tab.subMenu ? tab.action ? tab.action() : selectTab(tab.id) : false"
            [class.selected]="tab.isSelected">
            <span systelabTooltip="{{tab.name}}" systelabTooltipPlacement="right"><i [ngClass]="tab.icon"></i></span>
            <div *ngIf="tab.isSelected" class="arrow-left w-100 mt-3"></div>
        </li>
    </ul>
    <ul class="slab-app-sidebar-button-container slab-bottom">
        <li *ngFor="let action of actions" class="slab-app-sidebar-button" (click)="action.action()">
            <span systelabTooltip="{{action.name}}" systelabTooltipPlacement="right"><i class="{{action.icon}}"></i></span>
        </li>
    </ul>
</div>