<div class="slab-app-sidebar-menu-container">
    <ul class="slab-app-sidebar-tabs-container">
        <li class="slab-app-sidebar-tab" *ngFor="let tab of tabs; let i=index;" (click)="selectTab(tab.id)" [class.selected]="tab.isSelected">
            <div class="slab-app-sidebar-tab-decoration"></div>
            <span>{{tab.name }}</span>
        </li>
    </ul>
    <ul class="slab-app-sidebar-actions-container">
        <button type="button" *ngFor="let action of actions" class="btn" (click)="action.action()">{{ action.name}}</button>
    </ul>
</div>