<div class="container-fluid">
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="form-h-s">Datepicker language</label>
        <div class="col-md-4">
            <systelab-select
                [values]="languageList"
                (change)="languageChangeEvent($event)"
                [id]="i18nService.getCurrentLanguage()">
            </systelab-select>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="form-h-s">Datepicker Time</label>
        <div class="col-md-9">
            <systelab-date-time
                    [(currentDate)]="myDate"></systelab-date-time>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="form-h-s">Datepicker Time (Time integrated)</label>
        <div class="col-md-9">
            <systelab-date-time
                    [(currentDate)]="myNewDate"
                    [withIntegratedTime]="true"
            ></systelab-date-time>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="form-h-s">Datepicker Time (Disabled)</label>
        <div class="col-md-9">
            <systelab-date-time [disabled]="true"
                    [(currentDate)]="myDate"></systelab-date-time>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="form-h-s">Datepicker Time reseting time</label>
        <div class="col-md-9">
            <div class ="row ml-auto">
                <systelab-date-time
                        [resetTimeWhenChangingCurrentDate]="true"
                        [(currentDate)]="myDateWithReset">
                </systelab-date-time>
                <systelab-button type="primary" [size]="'small'" class="ml-2" (action)="resetDateAndTime()">Reset</systelab-button>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="form-h-s">Datepicker Time without calendar</label>
        <div class="col-md-9">
            <systelab-date-time
                    [showCalendar]="false"
                    [(currentDate)]="myDate"></systelab-date-time>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="form-h-s">Datepicker Time without calendar (time only mode)</label>
        <div class="col-md-9">
            <systelab-date-time
                    [showCalendar]="false"
                    [(currentDate)]="myNewDate"
                    [withIntegratedTime]="true"
                    [onlyTime]="true"
            ></systelab-date-time>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="form-h-s">Date error always</label>
        <div class="col-md-4">
            <systelab-datepicker
                    [error]="true"
                    [(currentDate)]="myDate"
                    [showTodayButton]="true"></systelab-datepicker>

        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="form-h-s">Date error (red is past)</label>
        <div class="col-md-4">
            <systelab-datepicker
                    [(currentDate)]="myDate"
                    [markPreviousAfterDate]="true"
                    [showTodayButton]="true"></systelab-datepicker>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="form-h-s">Date required bottom</label>
        <div class="col-md-4">
            <systelab-datepicker
                    [required]="true"
                    [(currentDate)]="myDate"
                    [showTodayButton]="true"></systelab-datepicker>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="form-h-s">Date with relative date yesterday</label>
        <div class="col-md-4">
            <systelab-datepicker
                    [fromDateForRelativeDates]="yesterdayDate"
                    [(currentDate)]="myDate"
                    [showTodayButton]="true"></systelab-datepicker>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="form-h-s">Date required bottom</label>
        <div class="col-md-4">
            <systelab-month-selector [disabled]="isDisabled" [maxDate]="maxDate" [minDate]="minDate"
                                     [currentDate]="myDate"
                                     [(selectedMonth)]="selectedMonth"></systelab-month-selector>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="form-h-s">Date required bottom</label>
        <div class="col-md-7">
            <systelab-week-selector [disabled]="isDisabled" [maxDate]="maxDate" [minDate]="minDate"
                                    [currentDate]="myDate"
                                    [(selectedWeek)]="selectedWeek"></systelab-week-selector>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="form-h-s">Do not display dates in other months in the calendar</label>
        <div class="col-md-4">
            <systelab-datepicker
                    [showOtherMonths]="false"
                    [(currentDate)]="myNewDate"
            ></systelab-datepicker>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="form-h-s">Show dates in other months as selectable in the calendar</label>
        <div class="col-md-4">
            <systelab-datepicker
                    [showOtherMonths]="true"
                    [selectOtherMonths]="true"
                    [(currentDate)]="myNewDate"
            ></systelab-datepicker>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="form-h-s">Datepicker language with dateDormat</label>
        <div class="col-md-4">
            <systelab-datepicker
                [(currentDate)]="myDate"
                [dateFormat]="'yy-mm-dd'">
            </systelab-datepicker>
        </div>
    </div>
</div>
