<div class="container-fluid">
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="dp-language">Datepicker language</label>
        <div class="col-md-4">
            <systelab-select
                id="dp-language"
                [values]="languageList"
                (change)="languageChangeEvent($event)"
                [id]="i18nService.getCurrentLanguage()">
            </systelab-select>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="dp-time">Datepicker Time</label>
        <div class="col-md-9">
            <systelab-date-time
                    id="dp-time"
                    [(currentDate)]="myDate">
            </systelab-date-time>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="dp-time-disabled">Datepicker Time (Disabled)</label>
        <div class="col-md-9">
            <systelab-date-time
                    id="dp-time-disabled"
                    [disabled]="true"
                    [(currentDate)]="myDate">
            </systelab-date-time>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="dp-time-resting">Datepicker Time reseting time</label>
        <div class="col-md-9">
            <div class ="row ml-auto">
                <systelab-date-time
                        id="dp-time-resting"
                        [resetTimeWhenChangingCurrentDate]="true"
                        [(currentDate)]="myDateWithReset">
                </systelab-date-time>
                <systelab-button type="primary" [size]="'small'" class="ml-2" (action)="resetDateAndTime()">Reset</systelab-button>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="dp-time-no-calendar">Datepicker Time without calendar</label>
        <div class="col-md-9">
            <systelab-date-time
                    id="dp-time-no-calendar"
                    [showCalendar]="false"
                    [(currentDate)]="myDate">
            </systelab-date-time>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="dp-always-error">Date error always</label>
        <div class="col-md-4">
            <systelab-datepicker
                    id="dp-always-error"
                    [error]="true"
                    [(currentDate)]="myDate"
                    [showTodayButton]="true">
            </systelab-datepicker>

        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="date-error-past">Date error (red is past)</label>
        <div class="col-md-4">
            <systelab-datepicker
                    id="date-error-past"
                    [(currentDate)]="myDate"
                    [markPreviousAfterDate]="true"
                    [showTodayButton]="true">
            </systelab-datepicker>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="dp-required-bottom">Date required bottom</label>
        <div class="col-md-4">
            <systelab-datepicker
                    id="dp-required-bottom"
                    [required]="true"
                    [(currentDate)]="myDate"
                    [showTodayButton]="true">
            </systelab-datepicker>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="dp-showDateFormatOnError">Date with showDateFormatOnError true</label>
        <div class="col-md-4">
            <systelab-datepicker
                    id="dp-showDateFormatOnError"
                    [required]="true"
                    [(currentDate)]="myDate"
                    [showTodayButton]="true"
                    [showDateFormatOnError]="showDateFormatOnError">
            </systelab-datepicker>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="dp-relative-yesterday">Date with relative date yesterday</label>
        <div class="col-md-4">
                <systelab-datepicker
                        id="dp-relative-yesterday"
                        [fromDateForRelativeDates]="yesterdayDate"
                        [(currentDate)]="myDate"
                        [showTodayButton]="true">
                </systelab-datepicker>
        </div>
    </div>
    <form [formGroup]="dateForm">
    <div class="row mt-1">
        <div class="col-md-3 col-form-label">
                <label for="dp-inputform">Datepicker with inputForm instead of [(currentDate)]</label>
                <p>Form value: {{ dateForm.get('date').value | date:'dd/MM/YYYY' }}</p>
            </div>
            <div class="col-md-7">
                <systelab-datepicker
                    id="dp-inputform"
                    [inputForm]="dateForm.get('date')"
                ></systelab-datepicker>
            </div>
        </div>
    </form>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="ms-required-bottom">Date required bottom</label>
        <div class="col-md-4">
            <systelab-month-selector
                id="ms-required-bottom"
                [disabled]="isDisabled"
                [maxDate]="maxDate"
                [minDate]="minDate"
                [currentDate]="myDate"
                [(selectedMonth)]="selectedMonth">
            </systelab-month-selector>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="ws-required-bottom">Date required bottom</label>
        <div class="col-md-7">
            <systelab-week-selector
                id="ws-required-bottom"
                [disabled]="isDisabled"
                [maxDate]="maxDate"
                [minDate]="minDate"
                [currentDate]="myDate"
                [(selectedWeek)]="selectedWeek">
            </systelab-week-selector>
        </div>
    </div>
</div>
