<div class="row align-items-center mt-1">
    <label class="col slab-label slab-label-215" for="resize-textarea">Textarea resizable (only vertical)</label>
    <div class="col-sm">
        <textarea name="" id="resize-textarea" class="slab-textarea w-100 slab-textarea-vertical-resize"></textarea>
    </div>
</div>
<div class="row align-items-center mt-1">
    <label class="col slab-label slab-label-215" for="noresize-textarea">Textarea no resizable</label>
    <div class="col-sm">
        <textarea name="" id="noresize-textarea" class="slab-textarea w-100 slab-textarea-no-resize"></textarea>
    </div>
</div>