.slab-spy-menu-example {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 100%;
  overflow-y: auto;
  background-color: transparent;
  padding-left: 0;
}

#section3 {
  min-height: 100vh;
}
