<div class="slab-file-selector input-group">
    <label for="fileSelectorInput"></label>
    <input readonly class="form-control" id="fileSelectorInput" type="text" name="uploadFile"
           [(ngModel)]="fileName"
           (click)="uploadBtn.click()"
           [disabled]="disabled">
    <input #uploadBtn type="file" class="d-none" (change)="selectFile($event.target.files)" [multiple]="multipleSelection">
    <div class="input-group-append">
        <button class="btn btn-sm pt-0 pb-0" [disabled]="disabled"
                [hidden]="disabled && !showButtonOnDisable"
                id="selectionButton"
                type="button" (click)="uploadBtn.click()"><b>...</b></button>
    </div>
</div>
