<systelab-dialog-header [title]="'Form + lower flex textarea'" [withInfo]="false"
                        (close)="close();">

</systelab-dialog-header>
<showcase-lower-flex class="slab-flex-1 slab-overflow-container" [language]="parameters.language"></showcase-lower-flex>
<systelab-dialog-bottom>
    <div class="dropup slab-button-dropdown">
        <!-- This is the element toggling the dropdown -->
        <button type="button" class="btn btn-lg dropdown-toogle" data-toggle="dropdown">Drop down bottom-left <i
                class="icon-chevron-up"></i></button>
        <!-- This is the dropdown -->
        <div class="dropdown-menu slab-dropdown">
            <ul>
                <li><a>Action 1</a></li>
                <li><a>Action 2</a></li>
            </ul>
        </div>
    </div>
    <button type="button" class="btn btn-lg float-right" (click)="close()"> Submit</button>
</systelab-dialog-bottom>
