<div class="slab-sortable-list text-nowrap" dnd-droppable
     (onDragEnter)="preventDefault($event)"
     (onDragOver)="preventDefault($event)"
     (onDragLeave)="preventDefault($event)">
    <ul class="slab-sortable-list-row list-group w-100" dnd-sortable-container [sortableData]="elementsList"
        [dropZones]="['visible-dropZone']">
        <li *ngFor="let listElement of (elementsList| datafilter:secondListSearch);let i = index"
            (keydown)="removeElement(listElement, $event)"
            tabindex="-1"
            [ngClass]="{'slab-sortable-list-row slab-sortable-list-row-selected':getSelectionFieldValue(listElement),'slab-sortable-list-row':!getSelectionFieldValue(listElement)}"
            (click)="selectVisibleCurrent(listElement,$event)" dnd-sortable [sortableIndex]="i">
            <i *ngIf="showIcon" class="mr-1 text-primary" [ngClass]="getIcon(listElement)"></i>{{getDescription(listElement)}}
        </li>
    </ul>
</div>