<div>
    <div class="mb-4 slab-text slab-text--large slab-text--muted" *ngIf="!verificationActive">
        {{ 'SIGN_TEXT_EXPLANATION' | translate | async }}
    </div>
    <canvas #signature></canvas>
    <div class="text-right optionsBar" [style.width.px]="width" *ngIf="!verificationActive">
        <button class="btn btn-primary" (click)="cleanCanvas()">{{ 'SIGN_CLEAN' | translate | async }}</button>
        <button [disabled]="isCanvasEmpty" class="btn btn-success" (click)="finishDrawing()">{{ 'SIGN_FINISH' | translate | async }}</button>
        <a href="#" *ngIf="idsDownloadable" class="btn btn-primary " [attr.download]="downPath" [attr.href]="href" id="btn-download"
           (click)="downloadImage()">{{ 'SIGN_DOWNLOAD' | translate | async }}</a>
    </div>
    <div class="slab-form align-content-center slab-verification-form" *ngIf="verificationActive" [style.width.px]="width" [style.height.px]="height">
        <div [style.width.px]="width - 50" [style.height.px]="height - 50">
            <div class="mb-4 slab-text slab-text--large slab-text--muted">{{ 'SIGN_VERIFICATION_TEXT' | translate | async }}</div>
            <form novalidate class="w-100">
                <input type="password" class="w-100 form-control" [(ngModel)]="code" [class.slab-form_input--error]="inputCode.invalid && inputCode.touched || isIncorrectCode"
                       id="inputCode" placeholder="{{ 'SIGNATURE_CODE' | translate | async }}" #inputCode="ngModel" name="inputCode" (keyup.enter)="dofinish()"
                       required autocomplete="off">
                <button type="button" class="w-100 btn btn-primary slab-form__submit mt-4" [disabled]="inputCode.invalid" (click)="dofinish()">{{ 'SIGN_VERIFY' | translate | async
                    }}
                </button>
                <div *ngIf="isIncorrectCode" class="alert alert-danger alert-sm text-center mt-3">
                    <a>{{ 'SIGN_ERROR_ENTERED_CODE' | translate | async }}</a>
                </div>
                <div class="mt-3 text-center">
                    <a href="#" class="slab-text slab-text--link" (click)="returnCanvas()">
                        <small>{{ 'SIGN_RETURN' | translate | async }}</small>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>