<div class="container-fluid">
    <div style="height: 200px;">
        <systelab-two-list [(available)]="availableColumns"
                           [(visible)]="visibleColumns"
                           [initialAvailableColumns]="getDefaultShowcaseColumns()">
        </systelab-two-list>
    </div>
    <div class="pt-2">
        <button type="button" class="btn" (click)="savePreferences();"><i
                class="icon-info-circle me-1"></i>Save Preferences
        </button>
    </div>
</div>
