@use "sass:math";

$icon-header-size: 40px;
$icon-header-margin: math.div(($slab-app-header-height - $icon-header-size), 2);

.slab-app-header-bar {
  height: $slab-app-header-height;
  background-color: white;
  border-bottom: 1px solid $background-secondary;

  > div:first-of-type {
    -webkit-flex-shrink: 0;

    /* Safari */
    flex-shrink: 0;
  }

  .slab-app-header-modulab-icon {
    @include size($icon-header-size);

    margin: $icon-header-margin;
    font-size: $icon-header-size;
    color: $primary;
  }

  .slab-app-header-user-icon {
    @include size($icon-header-size - 4px);

    margin: $icon-header-margin;
    border-radius: 50px;
    border: solid 2px $medium-gray;
    overflow: hidden;
    z-index: 1;
    position: relative;
    padding: 0;
    background-color: transparent;

    i {
      position: relative;
      top: 3px;
      left: -1px;
      color: $medium-gray;
      font-size: $icon-header-size - 10px;
    }
  }

  .slab-app-header-bars-icon {
    @include size($icon-header-size - 4px);
    
    margin: $icon-header-margin;
    border: none;
    overflow: hidden;
    z-index: 1;
    position: relative;
    padding: 0;
    background-color: transparent;
    cursor:pointer;
    i {
      position: relative;
      top: 3px;
      left: -1px;
      color: $medium-gray;
      font-size: $icon-header-size - 10px;
    }

  }

  .slab-app-header-labels-container {
    padding: 5px;

    .slab-app-header-title {
      display: block;
      font-size: 20px;
      margin-bottom: 0px;
    }

    a {
      color: #ACACAC;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .slab-app-header-user-container {
    box-sizing: border-box;
    border-left: 1px solid $background-secondary;

    &:hover {
      background-color: $background-secondary;
    }

    .dropdown-toggle {

      > label {
        width: $slab-app-header-user-width - $slab-app-header-height - 1px;
        display: none;

        @media (min-width: $slab-ipad-width + 1px) {
          display: inline-block;
        }
      }
    }

  }
}
