$slab-button-background-color: $dark !default;

.btn:not(.btn-primary),
.btn:not(.btn-secondary),
.btn:not(.btn-info),
.btn:not(.btn-success),
.btn:not(.btn-warning),
.btn:not(.btn-danger),
.btn:not(.btn-light),
.btn:not(.btn-dark),
.btn:not(.btn-link),
.btn:not(.btn-outline-primary),
.btn:not(.btn-outline-secondary),
.btn:not(.btn-outline-info),
.btn:not(.btn-outline-success),
.btn:not(.btn-outline-warning),
.btn:not(.btn-outline-danger),
.btn:not(.btn-outline-light),
.btn:not(.btn-outline-dark),
.btn:not(.btn-outline-link) {
  background-color: $slab-button-background-color;
  color: white;
  border-color: $slab-button-background-color;

  &:hover {
    background-color: $primary;
    border-color: $primary;
  }
}

systelab-toggle-button {
  .btn {
    &.btn-outline-primary {
      color: white;
      background-color: $slab-button-background-color;
      border-color: $slab-button-background-color;
    }

    &.btn-primary {
      background-color: $primary;
      border-color: $primary;
    }
  }
}
