.slab-tree-node {

  .slab-left-margin {
    min-width: 30px;
  }

  .slab-tree-icon {
    &:hover {
      cursor: pointer;
    }
  }

  .slab-tree-label {
    height: 30px;
    user-select: none;
    &.slab-selected {
      background-color: #c8dffc;
    }

    &:hover {
      background-color: rgba(200, 223, 252, 0.5);
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.slab-tree {
  cdk-tree-node {
    height: 30px;
    line-height: 30px;
    user-select: none;
    &.slab-selected {
      background-color: #c8dffc;
    }

    button {
      background-color: transparent;
      border: none;
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(200, 223, 252, 0.5);
    }
  }
}
