
@import 'variables';

.dropdown, .dropup {
  .dropdown-toggle::after {
    display: none;
  }
}

.slab-button-dropdown {
  display: inline-block;
  vertical-align: middle;
}

.slab-dropdown-menu {
  padding: 0;
  border: 0;
  min-width: 0;
}

.slab-dropdown-fixed {
  position: fixed;
}

.slab-dropdown-absolute {
  position: absolute;
}

.slab-dropdown-scroll {
  max-height: 50vh;
}

.slab-dropdown-overflow {
  overflow-y: auto;
}

.slab-dropdown {
  background-color: white;
  padding: 4px 15px;
  vertical-align: top;
  border: 1px solid;
  border-color: #dddddd;
  border-radius: 4px;
  white-space: nowrap;

  ul {
    list-style: none;
    padding: 0;
    margin: 0 -15px;

    li {
      cursor: pointer;
      line-height: $slab-dropdown-line-height;
      padding: 0 15px;
      margin: 0 2px;
      text-decoration: none;

      &:hover {
        background-color: $primary;
        color: white;
        text-decoration: none;
      }

      a {
        padding: 0;
        color: inherit;

        &:hover {
          background-color: initial;
          text-decoration: none;
          color: white;
        }
      }

      &.disabled {
        a {
          cursor: not-allowed;
          color: $slab-dropdown-disabled-fg-color;
        }

        &:hover {
          background-color: transparent;
        }
      }

      .dropdown-divider {
        width: 100%;
        height: 1px;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
