systelab-file-selector {
  .slab-file-selector {
    input {
      border-radius: $border-radius;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    input[readonly] {
      border-radius: $border-radius;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    .btn {
      border: 1px solid $form-border;
    }
  }
}
