.slab-listbox {

  margin-top: 1px;
  padding: 0;
  border: none;

  .ag-theme-fresh .ag-header {
    height: 0px !important;
    min-height: 0px !important;
  }

  .ag-theme-fresh .ag-root {
    border: none;
    overflow: hidden;

    .ag-body-viewport {
      background-color: $background-primary;

      .ag-center-cols-viewport {
        overflow-x: hidden;

        .ag-row {
          background-color: $background-primary;

          &.ag-row-selected {
            background-color: $slab-selected-background-color;
          }

          &.ag-row-disabled {
            pointer-events: none;
          }

          &.ag-row-hover {
            background-color: $slab-selected-background-color;
          }

          &.ag-row-focus {
            background-color: shift-color($primary, -90%);
          }

          .ag-cell {
            border: none;

          }
        }
      }
    }

    .ag-body-horizontal-scroll {
      display: none;
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
