
.slab-searcher-container {
  input {
    width: 100px;
    &::-ms-clear {
      display: none;
    }
  }

  label {
    margin-left: 5px;
  }
}

.slab-searcher-dialog-container {
  .slab-table-container {
    border: 1px solid $medium-gray;
    border-radius: 3px;
  }
}

.slab-searcher-dialog-search-text {
  border: 0 solid white;
  padding-left: 10px;
}
