
.slab-sortable-list {
  display: -webkit-flex;
  display: flex;
  overflow: auto;
  padding: 5px 0;

  .slab-sortable-list-row {
    line-height: $slab-sort-list-row-height;
    padding-left: 5px;
    cursor: pointer;

    @include user-selection(none);
  }

  .slab-sortable-list-row-selected {
    background-color: $slab-selected-background-color;
    padding-left: 5px;
  }
}
