systelab-spinner {

  .slab-spinner-container {

    &:focus-within {
      border-color: #8cc8f7;
      outline: 0;
      box-shadow: 0 0 0 3px scale-color($primary, $alpha: -75%);
      border-radius: $slab-border-radius;
    }

    input {

      &:focus {
        border-color: #8cc8f7 !important;
        outline: 0;
        box-shadow: 0 0 0 3px transparent !important;;
      }
    }

    .slab-spinner-input {
      min-width: 0;
      text-align: center;
      height: $form-elements-height !important;
    }

    .btn {
      background-color: white;
      border: 1px solid $form-border;
      color: $dark;
    }
  }
}
