/* This styles are used to override the default primeng styles for trees (https://www.primefaces.org/primeng/#/tree).*/


body .p-tree {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  font: normal $slab-base-body-font-size $slab-base-body-font-family;

  .p-tree-container {
    padding: 0 !important;


    .p-treenode {
      padding: 0 !important;

      .p-treenode-content {
        padding-left: 5px;
        color: #222;
        border: 0 !important;
        outline: none;

        &:focus {
          border-color: transparent !important;
          border: 0 !important;
          outline: 0 !important;
          box-shadow: 0 0 0 0 transparent !important;
          border-radius: 0px !important;
        }

        span[class*='icon-angle-'] {
          font-weight: bold;
          font-size: 18px;
          color: $dark-gray;
        }

        .p-tree-toggler {
          color: #222;
        }

        .p-treenode-icon {
          margin: 0 5px 0 0;
        }

        .p-treenode-label {
          padding: 0 !important;

          span {
            padding: 1.5px 3.750px;
          }

          label {
            margin: 0;
            padding-top: 4px;
            padding-bottom: 4px;
          }

          &.p-state-highlight {
            background: $slab-selected-background-color !important;
            color: rgb(34, 34, 34) !important;
          }

          &:focus {
            background-color: scale-color($primary, $alpha: -90%);
          }

          &:hover {
            background: $slab-selected-background-color !important;
          }

        }

        &:focus {
          background-color: scale-color($primary, $alpha: -90%);
        }

        &:hover {
          background-color: $slab-selected-background-color !important;
        }

        &.p-treenode-content-selected {
          background: $slab-selected-background-color !important;
          color: rgb(34, 34, 34);
        }

        &.p-treenode-selectable {
          .p-treenode-label {
            &:not(.p-state-highlight):hover {
              background: $slab-selected-background-color !important;
            }
          }
        }
      }
    }
  }
}
