<div class="container-fluid">
    <button type="button" class="btn mt-2 mr-1" (click)="showErrorToast()"><i
            class="icon-times-circle mr-1"></i>Error
    </button>
    <button type="button" class="btn mt-2 mr-1" (click)="showWarningToast()"><i
            class="icon-warning mr-1"></i>Warning
    </button>
    <button type="button" class="btn mt-2 mr-1" (click)="showSuccessToast()"><i
            class="icon-info-circle mr-1"></i>Success
    </button>
    <button type="button" class="btn mt-2 mr-1" (click)="showInformationToast()"><i
            class="icon-question-circle mr-1"></i>Information
    </button>
</div>
