<div class="container-fluid">
    <systelab-button class="mt-2 mr-1" (action)="showErrorToast()"><i
            class="icon-times-circle mr-1"></i>Error
    </systelab-button>
    <systelab-button class="mt-2 mr-1" (action)="showWarningToast()"><i
            class="icon-warning mr-1"></i>Warning
    </systelab-button>
    <systelab-button class="mt-2 mr-1" (action)="showSuccessToast()"><i
            class="icon-info-circle mr-1"></i>Success
    </systelab-button>
    <systelab-button class="mt-2 mr-1" (action)="showInformationToast()"><i
            class="icon-question-circle mr-1"></i>Information
    </systelab-button>
</div>
