<div class="container-fluid">
    
    <h5 class="mt-3 mb-2">Basic Types</h5>
    <div class="mb-4">
        <systelab-button class="mt-2 mr-1" (click)="showErrorToast()">
            <i class="icon-times-circle mr-1"></i>Error
        </systelab-button>
        <systelab-button class="mt-2 mr-1" (click)="showWarningToast()">
            <i class="icon-warning mr-1"></i>Warning
        </systelab-button>
        <systelab-button class="mt-2 mr-1" (click)="showSuccessToast()">
            <i class="icon-check-circle mr-1"></i>Success
        </systelab-button>
        <systelab-button class="mt-2 mr-1" (click)="showInformationToast()">
            <i class="icon-info-circle mr-1"></i>Information
        </systelab-button>
    </div>

    <h5 class="mt-4 mb-2">With Title & Body</h5>
    <div class="mb-4">
        <systelab-button class="mt-2 mr-1" (click)="showToastWithBody()">
            <i class="icon-check-circle mr-1"></i>Success with Body
        </systelab-button>
        <systelab-button class="mt-2 mr-1" (click)="showToastWithAction()">
            <i class="icon-info-circle mr-1"></i>With Action Button
        </systelab-button>
    </div>

    <h5 class="mt-4 mb-2">Sizes & Options</h5>
    <div class="mb-4">
        <systelab-button class="mt-2 mr-1" (click)="showSuccessLargeToast()">
            Large
        </systelab-button>
        <systelab-button class="mt-2 mr-1" (click)="showSuccessAutoWidthToast()">
            Auto Width
        </systelab-button>
        <systelab-button class="mt-2 mr-1" (click)="showSuccessWithCloseButtonToast()">
            Close Button
        </systelab-button>
        <systelab-button class="mt-2 mr-1" (click)="showToastTopEnd()">
            Top End Position
        </systelab-button>
    </div>

</div>
