<div class="p-1 w-100">
    <form class="form-inline justify-content-end">
        <label for="valueToSearch" class="mr-2">Find by </label>
        <input id="valueToSearch" type="text" class="form-control mr-2">
        <div class="mr-2">
            <input type="checkbox" id="check_urgent_2">
            <label for="check_urgent_2" class="col-form-label">Urgent</label>
        </div>
        <systelab-spinner class="mr-2" id="touch2" [spinValues]="touchSpinValues"></systelab-spinner>
        <systelab-button size="small">Button</systelab-button>
    </form>
    <form class="form-inline">
        <label for="datePickerToSearch" class="mr-2">Find by </label>
        <systelab-datepicker id="datePickerToSearch"></systelab-datepicker>
        <systelab-button size="small" class="ml-2">Button</systelab-button>
    </form>
</div>
