<div class="row align-items-center mt-1">
    <label class="col slab-label-215" for="form-h-s">Sin buscador</label>
    <systelab-select
            class="col-sm-4 w-33"
            [values]="comboOptionList"
            (change)="comboChangeEvent($event)">
    </systelab-select>
</div>
<div class="row align-items-center mt-1">
    <label class="col slab-label-215" for="form-h-s">Con valor asignado</label>
    <systelab-select
            class="col-sm-4 w-33"
            [description]="'San Petersburgo'"
            [id]="1"
            [values]="comboOptionList"
            (change)="comboChangeEvent($event)">
    </systelab-select>
</div>
<div class="row align-items-center mt-1">
    <label class="col slab-label-215" for="form-h-s">Con buscador</label>
    <systelab-select
            class="col-sm-4 w-33"
            [values]="comboOptionList" [filter]="true"
            (change)="comboChangeEvent($event)">
    </systelab-select>
</div>
<div class="row align-items-center mt-1">
    <label class="col slab-label-215" for="form-h-s">Color Picker</label>
    <systelab-colorpicker
            class="col-sm-4 w-25"
            [(id)]="colorId">
    </systelab-colorpicker>
</div>
