<div class="slab-dialog slab-dialog-disabled-animation ng-scope">
    <div class="slab-dialog-content" role="document">
        <div class="slab-dialog-header ng-binding">Showcase</div>
        <div class="slab-dialog-message with-buttons">
            <div class="d-flex flex-column h-100">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="grids-tab" data-toggle="tab" href="#grids" role="tab"
                           aria-controls="grids" aria-selected="true">Grids</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tables-tab" data-toggle="tab" href="#table" role="tab"
                           aria-controls="tables" aria-selected="false">Tables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="inputs-tab" data-toggle="tab" href="#inputs" role="tab"
                           aria-controls="inputs"
                           aria-selected="false">Inputs & text area</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="datepickers-tab" data-toggle="tab" href="#datepickers" role="tab"
                           aria-controls="datepickers"
                           aria-selected="false">Datepicker</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="checks-tab" data-toggle="tab" href="#checks" role="tab"
                           aria-controls="checks"
                           aria-selected="false">Spinners, checkbox & radios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="twolist-tab" data-toggle="tab" href="#twolist" role="tab"
                           aria-controls="twolist"
                           aria-selected="false">Two list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="forms-tab" data-toggle="tab" href="#forms" role="tab"
                           aria-controls="forms"
                           aria-selected="false">Forms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="icons-tab" data-toggle="tab" href="#icons" role="tab"
                           aria-controls="icons"
                           aria-selected="false">Icons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tooltips-tab" data-toggle="tab" href="#tooltips" role="tab"
                           aria-controls="tooltips"
                           aria-selected="false">Tooltip</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="route-tab" data-toggle="tab" href="#route" role="tab"
                           aria-controls="route"
                           aria-selected="false">Route</a>
                    </li>
                </ul>


                <div class="tab-content d-flex" id="showcase-tab-content">
                    <div class="tab-pane p-4 active" id="grids"
                         role="tabpanel" aria-labelledby="grids-tab">
                        <form class="position-relative h-100">
                            <inner-sample-grid></inner-sample-grid>
                        </form>
                    </div>
                    <div class="tab-pane p-4" id="table" role="tabpanel" aria-labelledby="tables-tab">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-light h-auto">
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane p-4" id="inputs" role="tabpanel"
                         aria-labelledby="inputs-tab">
                        <form>
                            <div class="d-flex flex-column h-100 w-100">
                                <div>
                                    <div class="row align-items-center mt-1">
                                        <label class="col slab-label-215" for="full-width-input">Full width</label>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Nombre" id="full-width-input">
                                        </div>
                                    </div>
                                    <div class="row align-items-center mt-1">
                                        <label class="col slab-label-215" for="third-width-input">Small width</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Email" id="third-width-input">
                                        </div>
                                    </div>
                                    <div class="row align-items-center mt-1 disabled">
                                        <label class="col slab-label-215" for="disabled-input">Disabled input</label>
                                        <div class="col">
                                            <input disabled type="text" class="form-control" placeholder="Email" id="disabled-input">
                                        </div>
                                    </div>
                                    <div class="row align-items-center mt-1">
                                        <label class="col slab-label-215" for="file-input">Input File</label>
                                        <div class="col">
                                            <div class="slab-input-file">
                                            <input class="form-control" id="uploadFile" type="text" name="uploadFile" [(ngModel)]="fileName">
                                            <div class="btn nt-sm">
                                                <span>...</span>
                                                <input id="uploadBtn" type="file" (change)="selectFile($event.target.files)">
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center mt-1">
                                        <label class="col slab-label-215" for="file-input">html with input style</label>
                                        <div class="col">
                                            <div class="slab-input form-control">
                                                <font>1<sub>2S</sub>,</font>
                                                <font class="text-warning">1<sub>2.5S</sub>,</font>
                                                <font class="text-danger">1<sub>3S</sub></font>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center mt-1">
                                        <label class="col slab-label-215" for="resize-textarea">Textarea resizable (only vertical)</label>
                                        <div class="col">
                                            <textarea name="" id="resize-textarea" class="slab-textarea w-100 slab-textarea-vertical-resize"></textarea>
                                        </div>
                                    </div>
                                    <div class="row align-items-center mt-1">
                                        <label class="col slab-label-215" for="noresize-textarea">Textarea no resizable</label>
                                        <div class="col">
                                            <textarea name="" id="noresize-textarea" class="slab-textarea w-100 slab-textarea-no-resize"></textarea>
                                        </div>
                                    </div>
                                    <h4>Combos</h4>
                                    <div class="row align-items-center mt-1">
                                        <label class="col slab-label-215" for="form-h-s">Sin buscador</label>
                                        <systelab-select
                                            class="col-sm-4 w-33"
                                            [values]="comboOptionList"
                                            (change)="comboChangeEvent($event)">
                                        </systelab-select>
                                    </div>
                                    <div class="row align-items-center mt-1">
                                        <label class="col slab-label-215" for="form-h-s">Con valor asignado</label>
                                        <systelab-select
                                            class="col-sm-4 w-33"
                                            [description]="'San Petersburgo'"
                                            [id]="1"
                                            [values]="comboOptionList"
                                            (change)="comboChangeEvent($event)">
                                        </systelab-select>
                                    </div>
                                    <div class="row align-items-center mt-1">
                                        <label class="col slab-label-215" for="form-h-s">Con buscador</label>
                                        <systelab-select
                                            class="col-sm-4 w-33"
                                            [values]="comboOptionList" [filter]="true"
                                            (change)="comboChangeEvent($event)">
                                        </systelab-select>
                                    </div>
                                    <div class="row align-items-center mt-1">
                                        <label class="col slab-label-215" for="form-h-s">Color Picker</label>
                                        <systelab-colorpicker
                                            class="col-sm-4 w-25"
                                            [(id)]="colorId">
                                        </systelab-colorpicker>
                                    </div>
                                 </div>
                             </div>
                         </form>
                    </div>
                    <div class="tab-pane p-4" id="datepickers" role="tabpanel"
                         aria-labelledby="datepickers-tab">
                        <div class="row align-items-center mt-1">
                            <label class="col slab-label-215" for="form-h-s">Datepicker {{dateValue}}</label>
                            <div class="col-sm-4">
                                <div class="slab-form-icon">
                                    <input class="form-control" type="text" data-uk-datepicker="{format:'DD/MM/YYYY'}" name="dateValue1"
                                           [(ngModel)]="dateValue">
                                    <i class="icon-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mt-1">
                            <label class="col slab-label-215" for="form-h-s">input disabled</label>
                            <div class="col">
                                <div class="slab-form-icon">
                                    <input class="form-control" disabled type="text" data-uk-datepicker="{format:'DD/MM/YYYY'}"
                                           name="dateValue4" [(ngModel)]="dateValue">
                                    <i class="icon-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mt-1">
                            <label class="col slab-label-215" for="form-h-s">ngPrime disabled</label>
                            <div class="col-sm-4">
                                <div class="slab-form-icon">
                                    <systelab-datepicker
                                            [disabled]="true"
                                            [error]="false"
                                            [notBlankAllowed]="false"
                                            [(currentDate)]="myDate"
                                            class="w-33"></systelab-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mt-1">
                            <label class="col slab-label-215" for="form-h-s">ngPrime error</label>
                            <div class="col-sm-4">
                                <div class="slab-form-icon">
                                    <systelab-datepicker
                                            [disabled]="false"
                                            [error]="true"
                                            [notBlankAllowed]="false"
                                            [(currentDate)]="myDate"
                                            class="w-33"></systelab-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mt-1">
                            <label class="col slab-label-215" for="form-h-s">ngPrime English</label>
                            <div class="col-sm-4">
                                <div class="slab-form-icon">
                                    <systelab-datepicker
                                            [otherLanguage]="'en'"
                                            [disabled]="false"
                                            [error]="false"
                                            [notBlankAllowed]="false"
                                            [(currentDate)]="myDate"
                                            class="w-33"></systelab-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mt-1">
                            <label class="col slab-label-215" for="form-h-s">ngPrime Poland</label>
                            <div class="col-sm-4">
                                <div class="slab-form-icon">
                                    <systelab-datepicker
                                            [otherLanguage]="'pl'"
                                            [disabled]="false"
                                            [error]="false"
                                            [notBlankAllowed]="false"
                                            [(currentDate)]="myDate"
                                            class="w-33"></systelab-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mt-1" style="position:absolute; bottom: 10px">
                            <label class="col slab-label-215" for="form-h-s">ngPrime bottom</label>
                            <div class="col">
                                <div class="slab-form-icon w-100">
                                    <systelab-datepicker
                                            [disabled]="false"
                                            [error]="false"
                                            [notBlankAllowed]="false"
                                            [(currentDate)]="myDate"
                                            class="w-33"></systelab-datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane p-4" id="checks" role="tabpanel"
                         aria-labelledby="checks-tab">
                        <h3 class="uk-text-bold">Spinner</h3>

                        <div class="row align-items-center mt-1">
                            <label class="col slab-label-215">Spinner</label>
                            <div class="col">
                                    <systelab-spinner [spinValues]="touchSpinValues1" id="touch2"></systelab-spinner>
                            </div>
                        </div>

                        <div class="row align-items-center mt-1">
                            <label class="col slab-label-215">Spinner (width-1-3)</label>
                            <div class="col-3">
                                    <systelab-spinner [spinValues]="touchSpinValues2" id="touch2"></systelab-spinner>
                            </div>
                        </div>

                        <div class="row align-items-center mt-1">
                            <label class="col slab-label-215">Spinner negative values</label>
                            <div class="col">
                                <systelab-spinner [spinValues]="touchSpinValues3" id="touch2"></systelab-spinner>
                            </div>
                        </div>

                        
                        <h3 class="uk-text-bold mt-5">Checkbox</h3>

                        <div class="row align-items-center mt-1">
                            <label class="col slab-label-215">Switcher</label>
                            <div class="col">
                                <systelab-switch id="enabled" name="enabled"
                                    [(isChecked)]="check2"></systelab-switch>
                                <systelab-switch [disabled]="true" id="enabled" name="enabled"
                                    [(isChecked)]="check1"></systelab-switch>
                                <systelab-switch [disabled]="true" id="enabled" name="enabled"
                                    [(isChecked)]="check3"></systelab-switch>
                            </div>
                        </div>

                        <div class="row align-items-top mt-3">
                            <label class="col slab-label-215">Column</label>
                            <div class="col">
                                <div>
                                    <input type="checkbox" id="check_urgent">
                                    <label for="check_urgent"> Urgent</label>
                                </div>
                                <div>
                                    <input type="checkbox" checked id="check_not_urgent">
                                    <label for="check_not_urgent"> Not Urgent</label>
                                </div>
                            </div>
                        </div>

                        <div class="row align-items-center mt-3">
                            <label class="col slab-label-215">Inline (using a grid)</label>
                            <div class="col-2">
                                <input type="checkbox" id="check_urgent2">
                                <label for="check_urgent2"> Urgent</label>
                            </div>
                            <div class="col-2">
                                <input type="checkbox" checked id="check_not_urgent2">
                                <label for="check_not_urgent2"> Not Urgent</label>
                            </div>
                        </div>
    
                        
                        
                        <h3 class="uk-text-bold mt-5">Radio</h3>

                        <div class="row align-items-top mt-1">
                            <label class="col slab-label-215">Column</label>
                            <div class="col">
                                <div>
                                    <input name="status-radio" type="radio" id="radio-urgent">
                                    <label for="radio-urgent"> Urgent</label>
                                </div>
                                <div>
                                    <input name="status-radio" type="radio" id="radio-not-urgent">
                                    <label for="radio-not-urgent"> Not Urgent</label>
                                </div>
                            </div>
                        </div>


                        <div class="row align-items-center mt-3">
                            <label class="col slab-label-215">Inline (using a grid)</label>
                            <div class="col-2">
                                    <input name="status-radio2" type="radio" id="radio-urgent2"> <label
                                    for="radio-urgent2">Urgent</label>
                            </div>
                            <div class="col-2">
                                    <input name="status-radio2" type="radio" id="radio-not-urgent2"> <label
                                    for="radio-not-urgent2">Not Urgent</label>
                            </div>
                        </div>
        
                            
                        <h3 class="uk-text-bold mt-5">Slider</h3>
                        <div class="row align-items-center mt-1">
                            <div class="col-2">
                                    <systelab-slider [(value)]="sliderValue" [min]="0" [max]="200" [step]="25"
                                    name="slider"></systelab-slider>
                            </div>
                            <div class="col-1">
                                    {{sliderValue}}      
                            </div>
                        </div>
                    </div>
                    
                    <div class="tab-pane p-4" id="twolist" role="tabpanel"
                         aria-labelledby="twolist-tab">
                        <div class="uk-form-row uk-height-1-1">
                            <div class="uk-height-1-1">
                                <div class="uk-form-row uk-height-1-1">
                                    <systelab-two-list [(available)]="availableColumns"
                                                       [(visible)]="visibleColumns"
                                                       [initialAvailableColumns]="getDefaultShowcaseColumns()"
                                                       displayAttr="displayName">
                                    </systelab-two-list>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane p-4" id="forms" role="tabpanel"
                         aria-labelledby="forms-tab">
                        <div class="uk-form-row">
                            <!--<button type="button" class="btn btn-large uk-margin-small-top" ng-click="vm.flex();">Flex snipper</button>-->
                            <button type="button" class="btn btn-large uk-margin-small-top"
                                    (click)="subFlex();">Form + lower flex textarea
                            </button>
                            <button type="button" class="btn btn-large uk-margin-small-top"
                                    (click)="upperFlex();">Form + upper flex textarea
                            </button>
				        <button type="button" class="btn btn-large uk-margin-small-top"
                                    (click)="twoColumns();">Two columns
                            </button>
                            
                            <button type="button" class="btn btn-lg uk-margin-small-top"
                                    (click)="calendarShowcase();">Calendar
                            </button>
                            <button type="button" class="btn btn-large uk-margin-small-top"
                                    (click)="fullFlex();">Flex
                            </button>
                            <button type="button" class="btn btn-lg uk-margin-small-top"
                                    (click)="splitShowcase();">Split
                            </button>
                            <button type="button" class="btn btn-lg uk-margin-small-top"
                                    (click)="bootstrap();">Bootstrap
                            </button>
                            <button type="button" class="btn btn-large uk-margin-small-top"
                            (click)="progressBar();">Progress bar
                        </button>
                        </div>
                    </div>
                    <div class="tab-pane p-4" id="icons" role="tabpanel"
                         aria-labelledby="icons-tab">
                        <icons-list></icons-list>
                    </div>
                    <div class="tab-pane p-4" id="tooltips" role="tabpanel"
                         aria-labelledby="tooltips-tab">
                        <div class="row mt-1">
							<span data-uk-dropdown="{mode:'click'}" class="uk-position-relative">
								<div class="btn">Click me</div>
								<div class="legend uk-dropdown uk-text-left">
									<p>Hi, I'm a tooltip</p>
									<hr><p>Lorem ipsum dolot sit amet</p>
								</div>
							</span>
                        </div>
                        <div class="row mt-1">
							<span data-uk-dropdown class="uk-position-relative">
								<div class="btn">Hover me</div>
								<div class="legend uk-dropdown uk-text-left">
									<p>Hi, I'm another tooltip</p>
									<hr><p>Lorem ipsum dolot sit amet</p>
								</div>
							</span>
                        </div>
                        <div class="row mt-1">
                            <div class="dropup slab-button-dropdown">
                                <!-- This is the element toggling the dropdown -->
                                <button type="button" class="btn btn-lg dropdown-toogle" data-toggle="dropdown">Drop down top-left <i
                                        class="icon-chevron-up"></i></button>
                                <!-- This is the dropdown -->
                                <div class="dropdown-menu slab-dropdown">
                                    <ul>
                                        <li><a (click)="showInfo();">Action 1 Info</a></li>
                                        <li><a (click)="showWarning();">Action 2 Warning</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane p-4" id="route" role="tabpanel"
                         aria-labelledby="route-tab">
                        <div [style.width.px]='1000' [style.height.px]='500' style="display: flex;">
                            <systelab-pie [data]="data" (select)="doSelect($event)" [fixedWidth]="1000"
                                          [fixedHeight]="500"></systelab-pie>
                        </div>
                        <div [style.width.px]='1000' [style.height.px]='500' style="display: flex;">

                            <sample-route [fixedWidth]="1000" [fixedHeight]="500"></sample-route>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slab-dialog-buttons">
            <button type="button" class="btn btn-lg" (click)="showError();"><i
                    class="icon-times-circle"></i> Error
            </button>
            <button type="button" class="btn btn-lg" (click)="showWarning();"><i
                    class="icon-warning "></i> Warning
            </button>
            <button type="button" class="btn btn-lg" (click)="showInfo();"><i
                    class="icon-info-circle"></i> Information
            </button>
            <button type="button" class="btn btn-lg" (click)="showQuestion();"><i
                    class="icon-question-circle"></i> Question
            </button>
            <button type="button" class="btn btn-lg" (click)="showQuestionYN();"><i
                    class="icon-question-circle"></i> Question YN
            </button>

            <button type="button" class="btn btn-lg uk-float-right"><i
                    class="icon-chevron-circle-right"></i> Right buttons
            </button>
            <div class="dropup slab-button-dropdown">
                <!-- This is the element toggling the dropdown -->
                <button type="button" class="btn btn-lg dropdown-toogle" data-toggle="dropdown">Drop down auto-left <i
                        class="icon-chevron-up"></i></button>
                <!-- This is the dropdown -->
                <div class="dropdown-menu slab-dropdown">
                    <ul>
                        <li><a (click)="showInfo();">Action 1 Info</a></li>
                        <li><a (click)="showWarning();">Action 2 Warning</a></li>
                    </ul>
                </div>
            </div>
            <button type="button" class="btn btn-lg" (click)="saveTwoListPreferences();">Save Two List
                Preferences
            </button>
            <button type="button" class="btn btn-lg uk-float-right"><i
                    class="icon-chevron-circle-right"></i> Right buttons
            </button>
        </div>
        <div class="slab-dialog-close" (click)="closeDialog();"></div>
        <div class="slab-dialog-buttons-top">
            <div><i class="icon-question-circle"></i></div>
        </div>
    </div>
</div>
