.slab-stacked-bar-cell {
  max-width: 90%;
  height: 80%;

  .slab-stacked-bar {
    border-radius: 0;
    height: 100%;
    line-height: 28px;
    min-width: 25px;
    color: white;

  }

  .slab-stacked-bar-click:hover {
    cursor: pointer;
  }

}