<div class="container-fluid">
    <systelab-button class="mt-2 mr-1" (action)="showError()"><i
            class="icon-times-circle mr-1"></i>Error
    </systelab-button>
    <systelab-button class="mt-2 mr-1" (action)="showWarning()"><i
            class="icon-warning mr-1"></i>Warning
    </systelab-button>
    <systelab-button class="mt-2 mr-1" (action)="showInfo()"><i
            class="icon-info-circle mr-1"></i>Information
    </systelab-button>
    <systelab-button class="mt-2 mr-1" (action)="showQuestionYN()"><i
            class="icon-question-circle mr-1"></i>Question YN No template
    </systelab-button>
    <systelab-button class="mt-2 mr-1" (action)="showQuestionYN('primary')"><i
        class="icon-question-circle mr-1"></i>Question YN Primary
	</systelab-button>
	<systelab-button class="mt-2mr-1" (action)="showQuestionYN('outline-primary')"><i
        class="icon-question-circle mr-1"></i>Question YN Outline Primary
	</systelab-button>
	<systelab-button class="mt-2mr-1" (action)="showQuestionYN('warning')"><i
        class="icon-question-circle mr-1"></i>Question YN Warning
	</systelab-button>
	<systelab-button class="mt-2mr-1" (action)="showQuestionYN('outline-warning')"><i
        class="icon-question-circle mr-1"></i>Question YN Outline Warning
	</systelab-button>
	<systelab-button class="mt-2mr-1" (action)="showQuestionYN('danger')"><i
        class="icon-question-circle mr-1"></i>Question YN Danger
	</systelab-button>
	<systelab-button class="mt-2mr-1" (action)="showQuestionYN('outline-danger')"><i
        class="icon-question-circle mr-1"></i>Question YN Outline Danger
	</systelab-button>
    <systelab-button class="mt-2 mr-1" (action)="showCustomized()">Custom
    </systelab-button>
    <systelab-button class="mt-2 mr-1" (action)="showAskAgain()">Don't ask again
    </systelab-button>

    <div class="dropup slab-button-dropdown">
        <!-- This is the element toggling the dropdown -->
        <systelab-button class="dropdown-toogle mt-2 mr-1" data-toggle="dropdown">Drop down  <i
                class="icon-chevron-up"></i></systelab-button>
        <!-- This is the dropdown  -->
        <div class="dropdown-menu slab-dropdown">
            <ul>
                <li (click)="showInfo()"><a>Action 1 Info</a></li>
                <li (click)="showWarning()"><a >Action 2 Warning</a></li>
            </ul>
        </div>
    </div>

</div>
