<div class="d-flex flex-column position-fixed principal-container w-100 slab-main-content">
    <systelab-button class="slab-theme-selector" type="primary" (click)="changeTheme()">Light/Dark</systelab-button>
    <systelab-navbar [id]="'navBar2'" [isVertical]="false" [backgroundColor]="'rgb(21, 143, 239)'" [backgroundHoverColor]="'rgba(21, 143, 239, 0.8)'"
        [items]="itemsNav" [fontColor]="'white'" [align]="'left'"></systelab-navbar>
    <showcase-components [currentNav]="currentNav"></showcase-components>
</div>
