systelab-breadcrumb {
  .breadcrumb {

    & > li {
      display: inline-flex;
    }

    & > li + li:before {
      padding: 0 5px;
      color: #cccccc;
      content: "/\00a0";
    }

    & > li > a {
      cursor: pointer;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }

    & > li > label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
    }

    & > li > button {
      min-width: 15px;
    }

    .slab-caret-button {
      border: 0;
      padding: 0;
      background-color: transparent;
      cursor: pointer;
    }

    .slab-sub-items {
      padding-top: 0px;
      padding-bottom: 0px;

      min-width: 2rem !important;

      .slab-items {
        padding: 5px;
        cursor: pointer;

        & > a {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
        }

        &:hover {
          background-color: $slab-selected-background-color;

          & > a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
