
.btn:not(.btn-primary, .btn-secondary, .btn-info,.btn-success, .btn-warning,  .btn-danger, .btn-light, .btn-dark, .btn-link, .btn-outline-primary,.btn-outline-secondary, .btn-outline-info, .btn-outline-success, .btn-outline-warning, .btn-outline-danger, .btn-outline-light, .btn-outline-dark, .btn-outline-link)
{
  border-color: rgb(221, 221, 221);
  background-color: white;
  color: black;

  &:hover:enabled {
    background-color: var(--primary);
    border-color: var(--primary);
    color: white;
  }
}

.btn-link {
  &:focus {
    box-shadow: none;
  }
}

.btn-primary, .btn-secondary, .btn-info, .btn-success, .btn-warning, .btn-danger, .btn-light, .btn-dark, .btn-outline-primary, .btn-outline-secondary, .btn-outline-info, .btn-outline-success, .btn-outline-warning, .btn-outline-danger, .btn-outline-light, .btn-outline-dark {
  border-radius: 20px;
}

systelab-toggle-button {
  .btn { //Toogle buttons
    &.btn-outline-primary {
      color: var(--primary);
      background-color: transparent;
      border-color: var(--primary);

      &:hover {
        color: #fff;
        background-color: var(--primary);
      }
    }

    &.btn-primary {
      color: white;
      background-color: var(--primary);
      border-color: var(--primary);
      &:hover {
        background-color: #0e7ad0;
        border-color: #0d73c4;
      }
    }
  }
}


systelab-button {

  .slab-btn {
    width: 100%;
    order: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    font-size: 1rem;
    padding: 9px 12px;
    border: none;
  }

  .slab-btn-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .slab-btn-small {
    font-size: 0.875rem;
    padding: 7px 11px;
  }
  .slab-btn-medium {
    font-size: 1rem;
    padding: 9px 12px;
  }
  .slab-btn-large {
    font-size: 1.25rem;
    padding: 14px 16px;
  }


  .slab-btn-primary {
    color: white;
    background-color: var(--primary);

    &:hover:enabled {
      color: white;
      background-color: #0e7ad0;
    }
    &:focus {
      box-shadow: $slab-focus-component-shadow;
    }
  }
  .slab-btn-regular {
    color: var(--primary);
    border: 1px solid var(--primary);
    background-color: transparent;

    &:hover:enabled {
      color: white;
      background-color: var(--primary);
    }
    &:focus {
      box-shadow: $slab-focus-component-shadow;
    }
  }
  .slab-btn-link {
    color: var(--primary);
    background: transparent;
    text-decoration-style: solid;

    &:hover:enabled {
      text-decoration: underline;
      text-decoration-style: solid;
    }
    &:focus {
      text-decoration: underline;
      text-decoration-style: dashed;
    }
  }
  .slab-btn-danger {
    color: var(--danger);
    border: 1px solid var(--danger);
    background-color: transparent;

    &:hover:enabled {
      color: white;
      background-color: var(--danger);
    }
    &:focus {
      box-shadow: 0 0 0 3px var(--danger_light);
    }
  }
  .slab-btn-warning {
    color: var(--warning);
    border: 1px solid var(--warning);
    background-color: transparent;

    &:hover:enabled {
      color: white;
      background-color: var(--warning);
    }
    &:focus {
      box-shadow: 0 0 0 3px var(--warning_light);
    }
  }
  .slab-btn-success {
    color: var(--success);
    border: 1px solid var(--success);
    background-color: transparent;

    &:hover:enabled {
      color: white;
      background-color: var(--success);
    }
    &:focus {
      box-shadow: 0 0 0 3px var(--success_light);
    }
  }
}
