systelab-chips {

  .p-autocomplete-multiple-container.p-inputtext {
    height: 100%;
    border: 1px solid var(--slab_component_border_color) !important;

    &:focus {
      border-color: $slab-focus-component-border-color !important;
      box-shadow: $slab-focus-component-shadow !important;
    }

    &:hover:enabled:not(:focus) {
      border-color:  var(--slab_component_border_color) !important;
    }
  }

  .p-autocomplete-multiple {
    width: 100% !important;

    .pi {
      font-size: 15px;
    }
  }

  .p-autocomplete-multiple-container {
    width: 100% !important;
  }

  .p-autocomplete .p-autocomplete-multiple-container {
    padding: 1px 5px;

    &:not(.p-disabled).p-focus {
      border-color: $slab-focus-component-border-color !important;
      box-shadow: $slab-focus-component-shadow !important;
    }
  }

  .p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-token {
    background-color: $primary;
    border-radius: 20px;
    padding: 2px 5px;
  }

  .p-autocomplete-token-label {
    margin-left: 10px;
  }
}
