.slab-listbox {

  margin-top: 1px;
  padding: 0;
  border: none;

  .ag-theme-fresh .ag-header {
    height: 0px !important;
    min-height: 0px !important;
    border-bottom: none !important;
    border-top: none !important;
  }

  .ag-theme-fresh .ag-root {
    border: none;
    overflow: hidden;

    .ag-body-viewport {
      background-color: var(--slab_background_primary);

      .ag-center-cols-viewport {
        overflow-x: hidden;

        .ag-row {
          background-color: var(--slab_background_primary);
          border-bottom: none;

          &.ag-row-selected {
            background-color: var(--slab_table_row_selection_background);
          }

          &.ag-row-disabled {
            pointer-events: none;
          }

          &.ag-row-hover {
            background-color: var(--slab_table_row_hover_background);
          }

          &.ag-row-focus {
            background-color: var(--primary_lighter);
          }

          .ag-cell {
            border: none;

          }
        }
      }
    }

    .ag-body-horizontal-scroll {
      display: none;
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
