$grey-light: #cbcbcb !default;

$spy-menu-left-border-color: $grey-light;
$spy-menu-left-border-color-selected: $primary;
$spy-menu-disabled-color: #e9ecef;

$spy-menu-text-color-selected: $spy-menu-left-border-color-selected;

systelab-spy-menu {
  .spy-menu {
    .spy-menu-item {
      padding: 10px 20px;
      border-left: 1px solid $spy-menu-left-border-color;
      cursor: pointer;

      &--selected {
        border-left: 3px solid $spy-menu-left-border-color-selected;
      }

      &--disabled {
        color: $spy-menu-disabled-color;
        cursor: auto;
      }
    }
  }
}
