
.table {
  color: var(--slab_foreground_primary);

  tr {
    height: $slab-table-min-row-height;
  }

  thead th {
    border-bottom: 1px solid var(--slab_table_border_color);
  }

}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: var(--slab_table_row_odd_background);
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: var(--slab_table_row_even_background);
}


.table-hover tbody tr:hover {
  background-color: var(--primary_lighter);
}


/*
 * This is a custom modifier class extending 
 * default Bootstrap functionality
 */
.table-remove-border {
  border: 0;

  tr, th, td {
    border: 0;
  }
}
