systelab-tabs {

  .nav-link.active,
  .nav-item.show .nav-link {
    color: var(--slab_foreground_primary) !important;
    background-color: transparent !important;
    border-color: $nav-tabs-link-active-border-color;
  }

  .nav-tabs .nav-link {
    border: 0;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    transition: all 250ms ease 0s;
    outline: 0;
    border-radius: 0;

    &.active {
      border-bottom: 3px solid var(--primary_light);
      border-right: 1px solid var(--slab_table_border_color);
      border-left: 1px solid var(--slab_table_border_color);
      box-shadow: 0 1px 1px var(--slab_tab_selection_background);
      background-color: var(--slab_tab_selection_background) !important;

      &:focus {
        background-color: var(--primary_lighter);
      }
    }

    &:not(.active) {
      border-bottom: 3px solid transparent;
      box-shadow: none;

      &:focus {
        background-color: var(--primary_lighter);
      }

      &:hover {
        border-bottom: 3px solid var(--primary_lighter);
      }
    }

  }

  .nav-tabs .slab-tabs-shrink {
    padding: 4px 8px !important;
  }
}
