systelab-toggle-selector {

  .slab-toggle-selector {
    border: 1px solid #158fef !important;
    border-radius: 50px !important;
    background: white !important;
    color: #158fef !important;
    transition: all 0.6s ease-out;
    padding: 3px 3px !important;
    display: flex;

    .slab-option {
      background: transparent;
      color: #158fef;
      border: solid 1px transparent;
      cursor: pointer;
      cursor: hand;

      span {
        margin-right: 10px;
        margin-left: 10px;
      }
    }

    .slab-selected {
      background: black !important;
      color: white !important;
      border-radius: 13px;
      border: solid 1px black;
    }
  }
}
