.slab-tree {
  cdk-nested-tree-node {
    line-height: 30px;
    user-select: none;

    .slab-tree-node {
      &.slab-selected {
        background-color: #c8dffc;
      }

      button {
        background-color: transparent;
        border: none;
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(200, 223, 252, 0.5);
      }

    }
  }
  .slab-tree-invisible{
    display: none;
  }
}
