<div class="slab-dialog-header ng-binding">Split</div>
<div class="slab-dialog-message with-buttons w-100">

    <split direction="horizontal" (dragProgress)="dragProgressHorizontal($event)">
        <split-area [size]="testSelectorSize" [visible]="isShowSelector">
            <div class="h-100" style="background-color: violet;"></div>
        </split-area>
        <split-area [size]="100-testSelectorSize">
            <split direction="vertical" (dragProgress)="dragProgressVertical($event)">
                <split-area [size]="100-tableSize">
                    <div class="h-100" style="background-color: red;"></div>
                </split-area>
                <split-area [size]="tableSize" [visible]="isShowDetails">
                    <div class="h-100" style="background-color: green;"></div>
                </split-area>
            </split>
        </split-area>
    </split>
</div>
<div class="slab-dialog-buttons">
    <button type="button" class="btn btn-lg" (click)="setShowDetails()"
            [class.btn-primary]="isShowDetails">Details
    </button>
    <button type="button" class="btn btn-lg" (click)="setShowSelector()"
            [class.btn-primary]="isShowSelector">Selector
    </button>
</div>
<div class="slab-dialog-close" (click)="close()"></div>
