@use "sass:math";
@use "../variables" as Vars;

systelab-app-header {

  $icon-header-size: 40px;
  $icon-header-margin: math.div((Vars.$slab-app-header-height - $icon-header-size), 2);

  .slab-app-header-bar {
    height: Vars.$slab-app-header-height;
    background-color: var(--slab_background_primary);
    border-bottom: 1px solid Vars.$background-secondary;

    > div:first-of-type {
      -webkit-flex-shrink: 0;

      /* Safari */
      flex-shrink: 0;
    }

    .slab-app-header-modulab-icon {
      @include Vars.size($icon-header-size);

      margin: $icon-header-margin;
      font-size: $icon-header-size;
      color: var(--primary);
    }

    .slab-app-header-user-icon {
      @include Vars.size($icon-header-size - 4px);

      margin: $icon-header-margin;
      border-radius: 50px;
      border: solid 2px Vars.$medium-gray;
      overflow: hidden;
      z-index: 1;
      position: relative;
      padding: 0;
      background-color: transparent;

      i {
        position: relative;
        top: 3px;
        left: -1px;
        color: Vars.$medium-gray;
        font-size: $icon-header-size - 10px;
      }
    }

    .slab-app-header-bars-icon {
      @include Vars.size($icon-header-size - 4px);

      margin: $icon-header-margin;
      border: none;
      overflow: hidden;
      z-index: 1;
      position: relative;
      padding: 0;
      background-color: transparent;
      cursor: pointer;

      i {
        position: relative;
        top: 3px;
        left: -1px;
        color: Vars.$medium-gray;
        font-size: $icon-header-size - 10px;
      }

    }

    .slab-app-header-labels-container {
      padding: 5px;

      .slab-app-header-title {
        display: block;
        font-size: 20px;
        margin-bottom: 0;
      }

      a {
        color: #ACACAC;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .slab-app-header-user-container {
      box-sizing: border-box;
      border-left: 1px solid Vars.$background-secondary;

      &:hover {
        background-color: Vars.$background-secondary;
      }

      .dropdown-toggle {

        > label {
          width: Vars.$slab-app-header-user-width - Vars.$slab-app-header-height - 1px;
          display: none;

          @media (min-width: Vars.$slab-ipad-width + 1px) {
            display: inline-block;
          }
        }
      }

    }
  }
}
