@use "../variables" as *;

systelab-chips {
  .p-autocomplete {
    height: $form-elements-height;
    &:not(.p-disabled).p-focus .p-autocomplete-input-multiple {
      border-color: $slab-focus-component-border-color !important;
      box-shadow: $slab-focus-component-shadow !important;
    }
    .p-autocomplete-input-multiple {
      width: 100% !important;
      margin: 0;
      height: 100%;
      border: 1px solid var(--slab_component_border_color) !important;
      padding: 1px 5px;
      border-radius: $input-border-radius;

      &:hover:enabled:not(:focus) {
        border-color:  var(--slab_component_border_color) !important;
      }
      .pi {
        font-size: 15px;
      }
      .p-autocomplete-token {
        background-color: var(--primary);
        border-radius: 20px;
        padding: 2px 5px;
      }
      .p-autocomplete-input-chip .p-autocomplete-input {
        height: calc($form-elements-height / 2);
      }
    }
  }

  .p-autocomplete-token-label {
    margin-left: 10px;
  }
}
