@use '../variables'as Vars;
.dropdown, .dropup {
  .dropdown-toggle::after {
    display: none;
  }
}
.dropdown-menu {
  color: var(--slab_foreground_primary);
  background-color: var(--slab_background_primary);
  border-color: var(--slab_component_border_color);

  .dropdown-item {
    color: var(--slab_foreground_primary);

    &:hover {
      background-color: var(--slab_table_row_hover_background);
    }
  }

  .dropdown-divider {
    border-color: var(--slab_component_border_color);
  }
}

.slab-button-dropdown {
  display: inline-block;
  vertical-align: middle;
}

.slab-dropdown-menu {
  padding: 0;
  border: 0;
  min-width: 0;
}

.slab-dropdown-fixed {
  position: fixed;
}

.slab-dropdown-absolute {
  position: absolute;
}

.slab-dropdown-scroll {
  max-height: 50vh;
}

.slab-dropdown-overflow {
  overflow-y: auto;
}

.slab-dropdown {
  background-color: var(--slab_background_primary);
  padding: 4px 15px;
  vertical-align: top;
  border: 1px solid;
  border-color: var(--slab_component_border_color);
  border-radius: 4px;
  white-space: nowrap;

  ul {
    list-style: none;
    padding: 0;
    margin: 0 -15px;

    li {
      cursor: pointer;
      line-height: Vars.$slab-dropdown-line-height;
      padding: 0 15px;
      margin: 0 2px;
      text-decoration: none;

      &:hover {
        background-color: var(--slab_table_row_hover_background);
        text-decoration: none;
      }

      a {
        padding: 0;
        color: inherit;

        &:hover {
          background-color: initial;
          text-decoration: none;
        }
      }

      &.disabled {
        a {
          cursor: not-allowed;
          color: Vars.$slab-dropdown-disabled-fg-color;
        }

        &:hover {
          background-color: transparent;
        }
      }

      .dropdown-divider {
        width: 100%;
        height: 1px;

        &:hover {
          background-color: var(--slab_component_border_color) !important;
        }
      }
    }
  }
}
