@use "../variables" as Vars;

systelab-file-selector {
  .slab-file-selector {
    input {
      border-radius: Vars.$border-radius 0 0 Vars.$border-radius;
    }
    input[readonly] {
      border-radius: Vars.$border-radius;

      &:enabled {
        background: white;
      }
    }

    .btn {
      border: 1px solid var(--slab_component_border_color);
    }
  }
}
