@use '../variables'as Vars;
.slab-form-title {
  font-size: 1.1rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 10px;
  padding-right: 5px;
}

.slab-mh-ft {
  max-height: fit-content;
}

//Override

.form-control {
  padding: 2px 7px;
  height: Vars.$form-elements-height;
  border: 1px solid var(--slab_component_border_color);
  &:focus-within {
    border-color: Vars.$slab-focus-component-border-color;
    outline: 0;
    box-shadow: Vars.$slab-focus-component-shadow;
  }
}

.col-form-label {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0; // Override the `<label>` default
  line-height: Vars.$form-elements-height !important;
}

.row {
  margin-bottom: 10px;
}

.row:last-child {
  margin-bottom: 0;
}

.disabled {
  opacity: 0.5;
  cursor: default;
}
