@use "sass:math";
@use "../variables" as *;

systelab-slider-double-range {
  $slab-slider-track-brackground-color: #d3d3d3;
  $slab-slider-track-border-radius: 5px;
  $slab-slider-thumb-border-radius: 50%;
  $slab-slider-thumb-border: 6px solid $slab-slider-circle-border-color;
  $slab-slider-thumb-cursor: pointer;

  .slider-container{
    position: relative;
    width: 100%;  
    &:hover {
      opacity: 1;
    }    
  }

  .focused{
    border-color: $slab-focus-component-border-color;
      outline: 0;
      box-shadow: $slab-focus-component-shadow;
      border-radius: $slab-slider-track-border-radius;
  }
 
  .slider-track {
    width: 100%;
    height: 8px;
    position: absolute;
    margin: auto;
    top: -6px;
    bottom: 0;
    border-radius: 5px;
    background-color: $slab-slider-track-brackground-color;
    opacity: 0.7;
    transition: opacity .2s;

    &:hover {
      opacity: 1;
    }  
  }

  .slab-slider-double {
    &:not([class*="w-"]) {
      width: 100%;
    }

    border: none;
    padding: 0;
    box-shadow: none;
    position: absolute;
    -webkit-transition: 0.2s;
    -webkit-appearance: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    -moz-appearance: none;
    appearance: none;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
    

    &:hover {
      opacity: 1;
    }


    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
    }

    &::-moz-range-track {
      -webkit-appearance: none;
      height: $slab-slider-background-line;
      background: $slab-slider-track-brackground-color;
      border-radius: $slab-slider-track-border-radius;
      border: none;
      pointer-events: auto;
    } 

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      @include size($slab-slider-height !important);
      background-color: $slab-slider-circle-color;
      border-radius: $slab-slider-thumb-border-radius;
      border: $slab-slider-thumb-border;
      cursor: $slab-slider-thumb-cursor;
      margin-top: -1 * math.div(($slab-slider-height - $slab-slider-background-line), 2);
      pointer-events: auto;
    }

    &::-moz-range-thumb {
      -webkit-appearance: none;
      appearance: none;
      @include size(math.div($slab-slider-height, 2) !important);
      background-color: $slab-slider-circle-color;
      border-radius: $slab-slider-thumb-border-radius;
      border: $slab-slider-thumb-border;
      cursor: $slab-slider-thumb-cursor;
      pointer-events: auto;
    }

    &::-ms-thumb {
      appearance: none;
      @include size(math.div($slab-slider-height, 2) !important);
      background-color: $slab-slider-circle-color;
      border-radius: $slab-slider-thumb-border-radius;
      border: $slab-slider-thumb-border;
      cursor: $slab-slider-thumb-cursor;
      margin-top: math.div(($slab-slider-height - $slab-slider-background-line), 2);
      margin-bottom: math.div(($slab-slider-height - $slab-slider-background-line), 2);
      pointer-events: auto;
    }

    &::-moz-focus-outer {
      border: 0;
    }

    &::-ms-track {
      height: $slab-slider-height;
      background-color: transparent !important;
      border-color: transparent;
      color: transparent;
    }

    &::-ms-track {
      appearance: none;
    }

    &::-ms-fill-lower,
    &::-ms-fill-upper {
      height: $slab-slider-background-line;
      background: $slab-slider-track-brackground-color;
      border-radius: $slab-slider-track-border-radius;
    }

    &::-ms-tooltip {
      display: none;
    }
  }
}
