<div class="container-fluid">
    <div class="row align-items-center mt-1">
        <label class="col slab-label slab-label-215" for="full-width-input">Regular</label>
        <div class="col-sm">
            <button type="button" class="btn btn-primary mt-2">Primary</button>
            <button type="button" class="btn btn-secondary mt-2">Secondary</button>
            <button type="button" class="btn btn-success mt-2">Success</button>
            <button type="button" class="btn btn-danger mt-2">Danger</button>
            <button type="button" class="btn btn-warning mt-2">Warning</button>
            <button type="button" class="btn btn-info mt-2">Info</button>
            <button type="button" class="btn btn-light mt-2">Light</button>
            <button type="button" class="btn btn-dark mt-2">Dark</button>
            <button type="button" class="btn btn-link mt-2">Link</button>
        </div>
    </div>

    <div class="row align-items-center mt-1">
        <label class="col slab-label slab-label-215" for="full-width-input">Outline</label>
        <div class="col-sm">
            <button type="button" class="btn btn-outline-primary mt-2">Primary</button>
            <button type="button" class="btn btn-outline-secondary mt-2">Secondary</button>
            <button type="button" class="btn btn-outline-success mt-2">Success</button>
            <button type="button" class="btn btn-outline-danger mt-2">Danger</button>
            <button type="button" class="btn btn-outline-warning mt-2">Warning</button>
            <button type="button" class="btn btn-outline-info mt-2">Info</button>
            <button type="button" class="btn btn-outline-light mt-2">Light</button>
            <button type="button" class="btn btn-outline-dark mt-2">Dark</button>
        </div>
    </div>

    <div class="row align-items-center mt-1">
        <label class="col slab-label slab-label-215" for="full-width-input">Group</label>
        <div class="col-sm">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Left</button>
                <button type="button" class="btn btn-secondary">Middle</button>
                <button type="button" class="btn btn-secondary">Right</button>
            </div>
        </div>
    </div>

    <div class="row align-items-center mt-1">
        <label class="col slab-label slab-label-215" for="full-width-input">Small</label>
        <div class="col-sm">
            <button type="button" class="btn btn-primary mt-2">Primary</button>
            <button type="button" class="btn btn-secondary mt-2">Secondary</button>
        </div>
    </div>

    <div class="row align-items-center mt-1">
        <label class="col slab-label slab-label-215" for="full-width-input">Large</label>
        <div class="col-sm">
            <button type="button" class="btn btn-lg btn-primary mt-2">Primary</button>
            <button type="button" class="btn btn-lg btn-secondary mt-2">Secondary</button>
        </div>
    </div>

    <div class="row align-items-center mt-1">
        <label class="col slab-label slab-label-215" for="full-width-input">With dropdown</label>
        <div class="col-sm">
            <div class="dropup slab-button-dropdown mt-2">
                <button type="button" class="btn btn-sm dropdown-toogle" data-toggle="dropdown">Drop down<i class="icon-chevron-up"></i></button>
                <div class="dropdown-menu slab-dropdown">
                    <ul>
                        <li><a (click)="doSomething();">Action 1</a></li>
                        <li><a (click)="doSomething();">Action 2</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center mt-1">
        <label class="col slab-label slab-label-215" for="full-width-input">Segmented</label>
        <div class="col-sm">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Text input with segmented button dropdown">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-secondary">Action</button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
