<div class="row align-items-center mt-1">
    <label class="col slab-label slab-label-215" for="full-width-input">Regular</label>
    <div class="col-sm">
        <button type="button" class="btn btn-primary mt-2">Primary</button>
        <button type="button" class="btn btn-secondary mt-2">Secondary</button>
        <button type="button" class="btn btn-success mt-2">Success</button>
        <button type="button" class="btn btn-danger mt-2">Danger</button>
        <button type="button" class="btn btn-warning mt-2">Warning</button>
        <button type="button" class="btn btn-info mt-2">Info</button>
        <button type="button" class="btn btn-light mt-2">Light</button>
        <button type="button" class="btn btn-dark mt-2">Dark</button>
        <button type="button" class="btn btn-link mt-2">Link</button>
    </div>
</div>

<div class="row align-items-center mt-1">
    <label class="col slab-label slab-label-215" for="full-width-input">Outline</label>
    <div class="col-sm">
        <button type="button" class="btn btn-outline-primary mt-2">Primary</button>
        <button type="button" class="btn btn-outline-secondary mt-2">Secondary</button>
        <button type="button" class="btn btn-outline-success mt-2">Success</button>
        <button type="button" class="btn btn-outline-danger mt-2">Danger</button>
        <button type="button" class="btn btn-outline-warning mt-2">Warning</button>
        <button type="button" class="btn btn-outline-info mt-2">Info</button>
        <button type="button" class="btn btn-outline-light mt-2">Light</button>
        <button type="button" class="btn btn-outline-dark mt-2">Dark</button>
    </div>
</div>

<div class="row align-items-center mt-1">
    <label class="col slab-label slab-label-215" for="full-width-input">Group</label>
    <div class="col-sm">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Left</button>
            <button type="button" class="btn btn-secondary">Middle</button>
            <button type="button" class="btn btn-secondary">Right</button>
        </div>
    </div>
</div>

<div class="row align-items-center mt-1">
    <label class="col slab-label slab-label-215" for="full-width-input">Small</label>
    <div class="col-sm">
        <button type="button" class="btn btn-primary mt-2">Primary</button>
        <button type="button" class="btn btn-secondary mt-2">Secondary</button>
    </div>
</div>

<div class="row align-items-center mt-1">
    <label class="col slab-label slab-label-215" for="full-width-input">Large</label>
    <div class="col-sm">
        <button type="button" class="btn btn-lg btn-primary mt-2">Primary</button>
        <button type="button" class="btn btn-lg btn-secondary mt-2">Secondary</button>
    </div>
</div>


