<div class="container-fluid">
    <div class="row mt-1">
        <label class="col-md-3 col-form-label">Regular</label>
        <div class="col-md-9">
            <button type="button" class="btn">Default</button>
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-light">Light</button>
            <button type="button" class="btn btn-dark">Dark</button>
            <button type="button" class="btn btn-link">Link</button>
        </div>
    </div>

    <div class="row mt-1">
        <label class="col-md-3 col-form-label">Disabled</label>
        <div class="col-md-9">
            <button type="button" class="btn" disabled>Default</button>
            <button type="button" class="btn btn-primary" disabled>Primary</button>
            <button type="button" class="btn btn-secondary" disabled>Secondary</button>
            <button type="button" class="btn btn-success" disabled>Success</button>
            <button type="button" class="btn btn-danger" disabled>Danger</button>
            <button type="button" class="btn btn-warning" disabled>Warning</button>
            <button type="button" class="btn btn-info" disabled>Info</button>
            <button type="button" class="btn btn-light" disabled>Light</button>
            <button type="button" class="btn btn-dark" disabled>Dark</button>
            <button type="button" class="btn btn-link" disabled>Link</button>
        </div>
    </div>

    <div class="row mt-1">
        <label class="col-md-3 col-form-label">Outline</label>
        <div class="col-md-9">
            <button type="button" class="btn btn-outline-primary">Primary</button>
            <button type="button" class="btn btn-outline-secondary">Secondary</button>
            <button type="button" class="btn btn-outline-success">Success</button>
            <button type="button" class="btn btn-outline-danger">Danger</button>
            <button type="button" class="btn btn-outline-warning">Warning</button>
            <button type="button" class="btn btn-outline-info">Info</button>
            <button type="button" class="btn btn-outline-light">Light</button>
            <button type="button" class="btn btn-outline-dark">Dark</button>
        </div>
    </div>

    <div class="row mt-1">
        <label class="col-md-3 col-form-label">Group</label>
        <div class="col-md-9">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Left</button>
                <button type="button" class="btn btn-secondary">Middle</button>
                <button type="button" class="btn btn-secondary">Right</button>
            </div>
        </div>
    </div>

    <div class="row mt-1">
        <label class="col-md-3 col-form-label">Small</label>
        <div class="col-md-9">
            <button type="button" class="btn btn-sm btn-primary">Primary</button>
            <button type="button" class="btn btn-sm btn-secondary">Secondary</button>
        </div>
    </div>

    <div class="row mt-1">
        <label class="col-md-3 col-form-label">Large</label>
        <div class="col-md-9">
            <button type="button" class="btn btn-lg btn-primary">Primary</button>
            <button type="button" class="btn btn-lg btn-secondary">Secondary</button>
        </div>
    </div>

    <div class="row mt-1">
        <label class="col-md-3 col-form-label">With dropdown</label>
        <div class="col-md-9">
            <div class="dropup slab-button-dropdown">
                <button type="button" class="btn dropdown-toogle" data-toggle="dropdown">Drop down<i class="icon-chevron-up"></i></button>
                <div class="dropdown-menu slab-dropdown">
                    <ul>
                        <li><a (click)="doSomething();">Action 1</a></li>
                        <li><a (click)="doSomething();">Action 2</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-1">
        <label class="col-md-3 col-form-label">Toggle button</label>
        <div class="col-md-9">
            <systelab-toggle-button>Default</systelab-toggle-button>
            <systelab-toggle-button [disabled]="true">Disabled</systelab-toggle-button>
        </div>
    </div>

    <div class="row mt-1">
        <label class="col-md-3 col-form-label">Segmented</label>
        <div class="col-md-9">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Text input with segmented button dropdown">
                <div class="input-group-append">
                    <button type="button" class="btn btn-sm btn-secondary">Action</button>
                    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
