<nav class="slab-header-bar d-flex flex-row-reverse flex-nowrap justify-content-between">
    <div class="text-nowrap">
        <div class="text-nowrap d-inline-block align-middle">
            <ng-content></ng-content>
        </div>
        <div class="slab-header-user-container position-relative d-inline-block align-middle text-nowrap"
             data-uk-dropdown="{mode:'click'}">
            <div class="slab-header-user-icon d-inline-block text-center align-middle">
                <div class="align-middle h-100">
                    <i class="icon-user align-bottom"></i>
                </div>
            </div>
            <label class="text-truncate align-middle">{{userName}}</label>
            <div class="uk-dropdown">
                <ul class="uk-nav uk-nav-navbar">
                    <li *ngFor="let menuEntry of menu" [class.uk-nav-divider]="menuEntry.isDivider"
                        (click)="menuEntry.action()">{{menuEntry.optionName }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-truncate d-flex flex-nowrap">
        <i class="icon-modulab slab-header-modulab-icon align-middle d-inline-block"></i>
        <div class="slab-header-labels-container align-middle d-inline-block text-truncate">
            <label class="slab-header-hospital-name text-truncate">{{hospitalName}}</label>
            <small class="d-block text-truncate">{{userFullName}}
            </small>
        </div>
    </div>
</nav>