@import '../../styles/default-theme/sass/variables';


/* Header nav */
$form-elements-height-margin: ($header-height - $form-elements-height) / 2;
$icon-header-size: 40px;
$icon-header-margin: ($header-height - $icon-header-size) / 2;

.slab-header-bar {
  height: $header-height;
  background-color: white;
  border-bottom: 1px solid $background-hemohub;

  > div:first-of-type {
    -webkit-flex-shrink: 0;

    /* Safari */
    flex-shrink: 0;
  }

  .slab-header-modulab-icon {
    @include size($icon-header-size);

    margin: $icon-header-margin;
    font-size: $icon-header-size;
    color: $primary-color;
  }

  .slab-header-user-icon {
    @include size($icon-header-size - 4px);

    margin: $icon-header-margin;
    border-radius: 50px;
    border: solid 2px $medium-gray;
    overflow:hidden;

    i {
      @include position(relative, $top: 1px);

      color: $medium-gray;
      font-size: $icon-header-size - 10px;
    }
  }

  .slab-header-labels-container {
    padding: 5px;

    .slab-header-hospital-name {
      display: block;
      font-size: 20px;
      margin-bottom: 0px;
    }

    a {
      color: #ACACAC;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .slab-header-user-container {
    box-sizing: border-box;
    border-left: 1px solid $background-hemohub;

    &:hover {
      background-color: $background-hemohub;
    }

    > label {
      width: $user-width - $header-height - 1px;
      display: none;

      @media (min-width: $ipad-width + 1px) {
        display: inline-block;
      }
    }

    .uk-dropdown {
      cursor: default;

      &.uk-dropdown-bottom {
        left: -141px !important;
        margin-top: 0;

        @media (min-width: $ipad-width + 1px) {
          left: -71px !important;
        }
      }
    }
  }
}