<nav class="slab-header-bar uk-flex uk-flex-row-reverse uk-flex-nowrap uk-flex-space-between">
    <div class="uk-text-nowrap">
        <div class="uk-form uk-text-nowrap uk-display-inline-block uk-vertical-align-middle uk-text-nowrap">
            <ng-content></ng-content>
        </div>
        <div class="slab-header-user-container uk-position-relative uk-display-inline-block uk-vertical-align-middle uk-text-nowrap"
             data-uk-dropdown="{mode:'click'}">
            <div class="slab-header-user-icon uk-overflow-hidden uk-display-inline-block uk-text-center  uk-vertical-align-middle">
                <div class="uk-vertical-align uk-height-1-1">
                    <i class="icon-user uk-vertical-align-bottom"></i>
                </div>
            </div>
            <label class="uk-text-truncate uk-vertical-align-middle">{{userName}}</label>
            <div class="uk-dropdown">
                <ul class="uk-nav uk-nav-navbar">
                    <li *ngFor="let menuEntry of menu" [class.uk-nav-divider]="menuEntry.isDivider"
                        (click)="menuEntry.action()">{{menuEntry.optionName }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-text-truncate uk-flex uk-flex-nowrap">
        <i class="icon-modulab slab-header-modulab-icon uk-vertical-align-middle uk-display-inline-block"></i>
        <div class="slab-header-labels-container uk-vertical-align-middle uk-display-inline-block uk-text-truncate">
            <label class="slab-header-hospital-name uk-text-truncate">{{hospitalName}}</label>
            <small class="uk-display-block uk-text-truncate">{{userFullName}}
            </small>
        </div>
    </div>
</nav>