.slab-ul-navs{
    padding-left: 0px;

   
}
.slab-ul-navs  > .nav-item, .slab-ul-navs > .nav-item > .nav-link{
    background: transparent;
}
.slab-ul-navs > .nav-item{
    cursor: pointer;
    margin-right: 0;
    padding: 10px 8px;
}
.flex-column > .nav-item{
    width: 100%;
}
.slab-ul-navs > .nav-item > .nav-link{
    border-top:none;
}
a.disabled,li.disabled{
    pointer-events: none;
}
li.disabled{
    background-color: #cccccc;
}
.slab-icon-floatImage{
    display:inline-block;
    padding-right:5px;
    vertical-align: middle;
}
.slab-icon-verticalImage{
    display:block;
}
.labelWithOutImage{
    display:table-cell;
}
