<ul [style.background-color]="backgroundColor" class="nav nav-pills slab-ul-navs align-items-center d-flex" [class.justify-content-center]="alignNavs === 'center'" [class.justify-content-end]="alignNavs === 'right'" [class.flex-row]="!isVertical" [class.flex-column]="isVertical">
  <li class="nav-item  " [class.disabled]="!ins.isEnabled"
  [style.background-color]="hovered == ins.navId && ins.isEnabled ? backgroundHoverItemColor : !ins.isEnabled ? '#cccccc': backgroundColor"
  *ngFor="let ins of navsItems"   (mouseover)="hovered = ins.navId" (mouseout)="hovered = -1" >
      <a class="nav-link slab-nav-link text-center align-self-stretch align-items-center"  [href]="ins.isEnabled ?  ins.url : ''" [target]='ins.target' [style.color]="fontColor" [class.disabled]="!ins.isEnabled"  [class.active]="ins.isActive" >
        <i *ngIf="ins.icon"  [class]="ins.icon" [style.color]="fontColor" [class.slab-icon-floatImage]="ins.floatImage" [class.slab-icon-verticalImage]="!ins.floatImage" ></i>
        {{ins.navText}}
      </a>
  </li>
</ul>

