<div *ngIf="hasIcons && isIconEnabled"
     class="slab-icon-container rounded d-flex text-center justify-content-center align-items-center"
     [style.background-color]="action.backgroundIconColor">
    <i class="slab-flex-1 slab-menu-icon {{action.iconClass}}" [style.color]="action.iconColor"
       [ngClass]="{'text-white': !action.iconColor}"></i>
</div>
<a class="slab-flex-1" [style.padding-left]="hasIcons && !isIconEnabled?'20px':'0'" [ngClass]="{'ml-2': hasIcons}">{{action.actionText}}</a>
<span *ngIf="hasChildren" class="pl-2 slab-menu-caret icon-chevron-right"></span>
<div *ngIf="action.isDivider && isEnabled" class="dropdown-divider"></div>