<div #dropdownparent id="{{elementID}}" class="dropdown">
    <div class="dropdown-toggle slab-context-menu" data-toggle="dropdown" (click)="dotsClicked($event)">
        <i class="icon-context-menu" [ngClass]="{'d-none': isEmbedded}" [style.font-size]="fontSize" [style.color]="fontColor"></i>
    </div>
    <div #dropdownmenu class="dropdown-menu slab-dropdown-menu">
        <div #dropdown class="slab-dropdown slab-dropdown-fixed">
            <div *ngIf="isOpened">
                <div #ngcontent (click)="ngContentStopPropagation($event)">
                    <ng-content></ng-content>
                </div>
                <ul #scrollableList class="slab-dropdown-scroll">
                    <li *ngFor="let action of contextMenuOptions"
                        class="d-flex align-items-center" [class.disabled]="!isEnabled(elementID, action.actionId) || action.isDivider"
                        (click)="doClickWithString($event, elementID, action.actionId)"
                        (mouseover)="doMouseOver($event, elementID, action.actionId)">
                        <div *ngIf="isEnabled(elementID, action.actionId)" class="slab-flex-1" style="flex:1 1 auto">
                            <systelab-context-menu-item class="d-flex align-items-center" [action]="action"
                                                        [isEnabled]="isEnabled(elementID, action.actionId)"
                                                        [isIconEnabled]="isIconEnabled(elementID, action.actionId)"
                                                        [hasChildren]="action.hasChildren()"
                                                        [hasIcons]="hasIcons"></systelab-context-menu-item>
                            <ul *ngIf="action.hasChildren()" #childdropdownmenu0 id="{{action.actionId+elementID}}"
                                class="slab-dropdown dropdown-menu slab-dropdown-menu slab-dropdown-scroll slab-dropdown-absolute"
                                style="overflow: initial !important;">
                                <systelab-context-menu-submenu-item [myAction]="action"
                                                                    [myActionName]="action.actionId"
                                                                    [hasChildren]="action.hasChildren()"
                                                                    [isEnabled]="isEnabled(elementID, action.actionId)"
                                                                    [isIconEnabled]="isIconEnabled(elementID, action.actionId)"
                                                                    [hasIcons]="hasIcons"
                                                                    [myContextMenuOriginal]="getMyReference()"
                                                                    [parentId]="elementID"
                                ></systelab-context-menu-submenu-item>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
