@use '../variables'as *;
$slab-icon-context-menu-font-size: 15px;
$slab-icon-context-menu-size: 19px;

.slab-context-menu {
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  width: 100%;
  background-color: transparent;
  line-height: normal;

  .icon-context-menu {
    font-size: $slab-icon-context-menu-font-size;
    color: var(--ag-data-color);
  }

  systelab-context-menu-item {
    height: $form-elements-height;
  }
}

.slab-icon-container {
  @include size($slab-icon-context-menu-size);
  .slab-menu-icon {
    font-size: $slab-icon-context-menu-font-size;
  }
}

.slab-menu-caret {
  margin-top: 5px;
}
