@use "../variables" as *;
@use "bootstrap/scss/bootstrap" as *;

/* This styles are used to override the default primeng styles for datepicker (https://www.primefaces.org/primeng/#/datepicker).*/

/* $icon-margin-right: defines the margin-right of the arrow buttons.*/
$icon-margin-right: 10px;
/* $icon-margin-left: defines the margin-left of the arrow buttons.*/
$icon-margin-left: 40px;

p-datepicker {

  .p-datepicker-input-wrapper,
  .p-inputwrapper {
    input::-ms-clear {
      display: none;
    }

    .icon-calendar {
      height: 100%;
      color: black;
      cursor: pointer;
    }

    .icon-clock {
      height: 100%;
      color: black;
      cursor: pointer;
    }

  }

  &.input-expand-height {
    input {
      height: 100% !important;
    }
  }

  &.warning-date {
    input {
      background-color: var(--danger) !important;
    }

    &.input-expand-height {
      height: 100% !important;
    }

    i {
      color: black !important;
    }
  }

  &.date-error {
    input {
      color: var(--danger) !important;
      border: 1px solid var(--danger) !important;
    }

    &.input-expand-height {
      height: 100% !important;
    }

    i {
      color: var(--danger) !important;
    }
  }

  &.is-disabled {
    .p-state-disabled, .p-widget:disabled {
      opacity: 0.6;
    }

    .p-datepicker-input-wrapper,
    .p-inputwrapper {
      input {
        opacity: 0.6;
        cursor: not-allowed !important;
        background-color: #e9ecef;
      }

      &.input-expand-height {
        height: 100% !important;
      }
    }

    .p-datepicker-header {
      background: $medium-gray;
    }

    .p-datepicker-calendar {

      tbody {
        tr {
          td {
            a, span {
              &.p-state-active {
                background-color: $medium-gray !important;
              }
            }
          }
        }
      }
    }

  }
}

.p-datepicker-inline {
  flex-direction: column;
  border: 1px solid var(--slab_component_border_color) !important;
}

.p-datepicker-panel,
.p-overlay-panel {
  z-index: 100000 !important;
}

/* Estilos específicos para PrimeNG 20 DatePicker */
.p-inputwrapper,
.p-inputgroup {
  position: relative;
  display: inline-flex;
  width: 100%;
  
  input {
    padding: .25em;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 100%;
    height: $form-elements-height;
    border: 1px solid var(--slab_component_border_color);
    font: normal $slab-base-body-font-size $slab-base-body-font-family;

    &:focus {
      border-color: $slab-focus-component-border-color !important;
      box-shadow: $slab-focus-component-shadow !important;
    }

    &:hover:enabled:not(:focus) {
      border-color: var(--slab_component_border_color) !important;
    }
  }
}

/* Estilos para el overlay del datepicker PrimeNG 20 */
.p-datepicker-panel.p-component {
  color: var(--ag-data-color);
  background-color: var(--slab_background_primary) !important;
  z-index: 100000 !important;
  font: normal $slab-base-body-font-size $slab-base-body-font-family;
  border-color: var(--slab_component_border_color) !important;
  border-radius: $slab-border-radius !important;
  padding: 0 !important;
  width: 450px !important;
  margin-top: 10px;

  .p-datepicker-calendar-container {
    .p-datepicker-calendar {
      .p-datepicker-header {
        display: none !important;
      }

      .p-datepicker-day-view {
        margin: 0 !important;

        thead {
          text-align: center;
          border-top: 1px solid var(--slab_component_border_color);
          border-bottom: 1px solid var(--slab_component_border_color);
          background: white !important;
          
          .p-datepicker-weekday-cell {
            font-weight: normal;
            padding: 8px !important;
            
            .p-datepicker-weekday {
              font-weight: normal;
            }
          }
        }

        tbody {
          .p-datepicker-day-cell {
            padding: 5px !important;

            .p-datepicker-day {
              border-radius: 30px !important;
              width: 100%;
              height: 35px;
              line-height: 35px;
              text-align: center;

              &:hover,
              &:active {
                color: black;
                border: 1px solid $medium-gray;
                background-color: $medium-gray !important;
              }

              &.p-datepicker-day-selected {
                background-color: var(--primary) !important;
                border: 1px solid var(--primary);
                color: white !important;
              }

              &.p-disabled {
                opacity: 0.5;
                background-color: transparent !important;
              }
            }
          }

          .p-datepicker-other-month {
            .p-datepicker-day {
              opacity: 0.3;
            }
          }
        }
      }
    }
  }

  // Footer con botones
  .p-3 {
    padding: 15px !important;
    background-color: var(--slab_modal_bottom_background);
    border-color: var(--slab_component_border_color) !important;
    border-bottom-right-radius: $slab-border-radius;
    border-bottom-left-radius: $slab-border-radius;
  }
}

.slab-custom-calendar {
  padding: 0 !important;
}

.slab-custom-calendar-footer {
  background-color: $light-gray;
  padding: 1rem !important;
}

.slab-custom-calendar-header {
  border-top: 1px solid $light-gray;
  background: white !important;
  color: $darker-gray !important;
  padding: 15px;
  height: 65px !important;
  a {
    cursor: pointer;
    color: var(--primary) !important;
    border: 1px solid var(--primary);
    border-radius: 35px;
    width: 35px;
    height: 35px;
    line-height: 32px !important;
    text-align: center;
    margin: 0 !important;
    &#next-month{
      margin-right: 10px !important;
    }
    &#previous-month{
      margin-left: 10px !important;
    }
    &:hover {
      text-decoration: none;
      background: var(--primary) !important;
      color: white !important;
    }
  }
  .slab-custom-calendar-title {
    font-size: 20px;
  }
}

// Estilos para el header custom de Systelab dentro del panel
.p-datepicker-panel {
  .slab-datepicker-header {
    display: flex;
    height: 65px;
    align-items: center;
    background: var(--primary) !important;
    color: white;
    padding: 15px;
    position: relative;
    
    a {
      cursor: pointer;
      color: white !important;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 35px;
      width: 35px;
      height: 35px;
      line-height: 32px !important;
      text-align: center;
      margin: 0 !important;
      position: absolute;
      
      &#previousYear {
        left: 15px;
      }
      
      &#previousMonth {
        left: 65px;
      }
      
      &#nextYear {
        right: 15px;
      }
      
      &#nextMonth {
        right: 65px;
      }
      
      &:hover {
        text-decoration: none;
        background: rgba(255, 255, 255, 0.2) !important;
        color: white !important;
      }
    }
    
    .p-datepicker-title {
      flex: 1;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      
      .p-datepicker-month,
      .p-datepicker-year {
        color: white;
      }
    }
  }
}

.slab-custom-calendar .slab-custom-calendar-table thead {
  background: white !important;
  border-top: 1px solid #eee;
  width: 35px !important;
  height: 35px !important;
  line-height: 32px !important;
}

.slab-custom-calendar .disabled-cell {
  background: white !important;
}

systelab-datepicker {
  margin-right: 5px;


  .p-inputtext,
  .p-datepicker-input {
    padding: .25em;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 100%;
    height: $form-elements-height;
    border: 1px solid var(--slab_component_border_color);
    font: normal $slab-base-body-font-size $slab-base-body-font-family;

    &:focus {
      border-color: $slab-focus-component-border-color !important;
      box-shadow: $slab-focus-component-shadow !important;
    }

    &:hover:enabled:not(:focus) {
      border-color:  var(--slab_component_border_color) !important;
    }

  }

  .p-datepicker-input-wrapper {
    position: relative;
    display: inline-flex;
    width: 100%;
  }


  &.custom-height {
    p-datepicker {
      height: 100%;

      .p-datepicker-input-wrapper,
      .p-inputwrapper {
        height: 100%;
      }

      &.input-expand-height {
        input {
          height: 100% !important;
        }
      }
    }
  }
}

systelab-date-time {
  &.custom-height {
    p-datepicker {
      height: 100%;

      .p-datepicker-input-wrapper,
      .p-inputwrapper {
        height: 100%;
      }

      &.input-expand-height {
        input {
          height: 100% !important;
        }
      }
    }

    label {
      margin: auto;
      margin-left: 1px;
      margin-right: 1px;
    }
  }

  systelab-spinner {
    width: 81px;
  }
}
