systelab-numpad {
  #showDialogButton {
    background-color: var(--slab_background_primary);
    border: 1px solid var(--slab_component_border_color);
    color: var(--slab_foreground_primary);

    &:hover:enabled {
      background-color: var(--primary);
      border-color: var(--primary);
      color: white;

      [class*='icon-'] {
        color: white !important;
      }
    }

    &.disabled {
      background-color: #e9ecef;
      opacity: 0.6;
    }
  }
}

.slab-numpad-container {

  .row:not(:first-child) {
    margin-bottom: 7px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .slab-numpad-nopadding {
    padding: 2px !important;
    margin: 0 !important;
  }

  .slab-numpad-parentPadding {
    padding: 15px;
  }

  .slab-numpad-btn {
    height: 44px;
    line-height: 40px;
    font-size: 25px;
    border-radius: 40px;
    border-color: var(--primary) !important;
    color: var(--primary) !important;
    &:hover {
      background-color: var(--primary) !important;
      color: white !important;
    }
  }

  .slab-numpad-btn.btn-primary {
    color: white !important;

    &:hover {
      background-color: #0e7ad0;
    }
  }

  .slab-numpad-container {
    margin-right: auto;
    margin-left: auto;
  }

  .slab-numpad-input {
    height: 60px;
    font-size: 42px;
    line-height: 35px;
    width: 100%;
  }
}

