.slab-searcher-container {
  align-items: center;
  input {
    width: 100px;
    &::-ms-clear {
      display: none;
    }
  }

  label {
    margin-left: 5px;
  }

  button {
    border: 1px solid var(--slab_component_border_color) !important;

    &:enabled {
      background-color: var(--slab_background_primary);
      color: var(--ag-data-color);
    }

    &:disabled {
      background-color: #e9ecef !important;
    }
  }
}

.slab-searcher-dialog-search-text {
  border: 0 solid white;
  padding-left: 10px;
}

.slab-searcher-dialog-button {

  button {
    min-width: 100px;
  }
}
