@use "../variables" as *;

.slab-tree {
  cdk-nested-tree-node {
    line-height: $slab-tree-row-height;
    user-select: none;

    .slab-tree-node {
      &.slab-selected {
        background-color: var(--slab_table_row_selection_background);
      }

      button {
        background-color: transparent;
        border: none;
      }

      [class*='icon-'] {
        color: var(--text-primary) !important;
      }

      &:hover {
        cursor: pointer;
        background-color: var(--slab_table_row_hover_background);
      }

    }
  }

  .slab-tree-invisible {
    display: none;
  }
}
