<div class="ngdialog-header">Form + lower flex textarea</div>
<div class="ngdialog-message with-buttons">
    <lower-flex [language]="lowerFlexDialogParameters.language"></lower-flex>
</div>
<div class="ngdialog-buttons">
    <div class="dropup slab-button-dropdown">
        <!-- This is the element toggling the dropdown -->
        <button type="button" class="uk-button uk-button-large dropdown-toogle" data-toggle="dropdown">Drop down bottom-left <i
                class="icon-chevron-up"></i></button>
        <!-- This is the dropdown -->
        <div class="dropdown-menu slab-dropdown">
            <ul>
                <li><a>Action 1</a></li>
                <li><a>Action 2</a></li>
            </ul>
        </div>
    </div>
    <button type="button" class="uk-button uk-button-large uk-float-right" (click)="close()"> Submit</button>
</div>
<div class="ngdialog-close" (click)="close()"></div>