
.application-container {
  height: 100%;
}

.east {
  background-color: lightgrey;
  min-width: 200px;
  width: 200px;
}

.center {
  background-color: white;
}

@media (max-width: 1024px) {
  .east {
    display: none;
  }
}
