<div class="ng  uk-flex uk-flex-column">
  <systelab-app-header [userName]="userName" [userFullName]="userFullName" [hospitalName]="hospitalName" [menu]="menu">
    <ng-content select="[header-content]"></ng-content>
  </systelab-app-header>
  <div class="center uk-flex uk-flex-item-1">
    <div class="east">
      <systelab-app-sidebar [tabs]="tabs" [actions]="actions" (selected)="doSelect($event)"></systelab-app-sidebar>
    </div>
    <div class="uk-flex uk-flex-item-1">
      <ng-content select="[main-content]"></ng-content>
    </div>
  </div>
</div>
