<!-- Horizontal without images -->
<div class="mt-3 pl-2  pb-2">
    <h6>Horizontal Nav without Images</h6>
    <systelab-navs [isVertical]="isVertical" [backgroundColor]="backgroundColor" [backgroundHoverItemColor]="backgroundHoverItemColor"
        [navsItems]="navsItems1" [fontColor]="fontColor" [alignNavs]="alignNavsRight"></systelab-navs>
</div>

<!-- Horizontal with images -->
<div class="mt-3 pl-2  pb-2">
    <h6>Horizontal Nav with Images</h6>
    <systelab-navs [isVertical]="isVertical" [backgroundColor]="backgroundColor2" [backgroundHoverItemColor]="backgroundHoverItemColor2"
        [navsItems]="navsItems2" [fontColor]="fontColor" [alignNavs]="alignNavsCenter"></systelab-navs>
</div>

<!-- Horizontal with images inline -->
<div class="mt-3 pl-2  pb-2">
    <h6>Horizontal Nav with Images inline</h6>
    <systelab-navs [isVertical]="isVertical" [backgroundColor]="backgroundColor" [backgroundHoverItemColor]="backgroundHoverItemColor"
        [navsItems]="navsItems3" [fontColor]="fontColor" [alignNavs]="alignNavsLeft"></systelab-navs>
</div>

<!-- Vertical without images -->
<div class="mt-3 w-25 pl-2  pb-2">
    <h6>Vertical Nav without Images</h6>
    <systelab-navs [isVertical]="isVertical2" [backgroundColor]="backgroundColor" [backgroundHoverItemColor]="backgroundHoverItemColor"
        [navsItems]="navsItems4" [fontColor]="fontColor" [alignNavs]="alignNavsCenter"></systelab-navs>
</div>

<!-- Vertical with images  -->
<div class="mt-3 w-25 pl-2  pb-2">
    <h6>Vertical Nav with Images</h6>
    <systelab-navs [isVertical]="isVertical2" [backgroundColor]="backgroundColor2" [backgroundHoverItemColor]="backgroundHoverItemColor2"
        [navsItems]="navsItems5" [fontColor]="fontColor" [alignNavs]="alignNavsCenter"></systelab-navs>
</div>