$icon-rowaction-font-size: 20px;

@mixin ag-header-row() {
  .ag-header-row {
    line-height: $grid-header-line-height;

    .ag-header-cell {
      overflow: hidden;
      color: white;
      border-color: white;
      font-weight: normal;
      text-align: left;
      padding: 0px;

      .grid-header-context-menu {
        display: flex;
        align-items: center;

        .context-menu {
          min-width: $grid-cell-height;
          width: $grid-cell-height;
          .icon-context-menu {
            color: white;
          }
        }

        .grid-header-context-menu-label {
          padding: 0 5px;
        }
      }

      .ag-header-cell-label {
        padding: 5px;
      }

      .ag-header-cell-resize {
        cursor: ew-resize;
      }
    }
  }
}

@mixin ag-row() {
  .ag-row {

    &.ag-row-selected {
      background-color: $table-row-selected-background-color;
    }
    &.ag-row-odd :not ag-row-selected {
      background-color: $table-row-odd-background-color;
    }
    &.ag-row-even :not ag-row-selected {
      background-color: $table-row-even-background-color;
    }

    .ag-cell {
      line-height: $grid-cell-height;
      border: none;
      border-right: 1px solid white;
      padding: 0 5px;
      outline-width: 0px;

      @include selection-checkbox;
    }
  }
}

.ag-fresh .ag-root {
  border: none;
  overflow: hidden;
  font: normal $base-body-font-size $base-body-font-family;

  .ag-header {
    border-bottom: none;

    .ag-header-viewport, .ag-pinned-left-header {
      background-color: $table-gray;

      .ag-header-container {
        @include ag-header-row()
      }
    }

    .ag-pinned-left-header {
      @include ag-header-row()
    }

  }

  .ag-body {

    .ag-body-viewport {
      //overflow: auto !important;
      @include ag-row()
    }

    .ag-pinned-left-cols-viewport {
      @include ag-row()
    }

  }
}

.height-hidden { //Style for the hidden element to get the proper height from Typescript
  display: none;
  line-height: $grid-cell-height; //Table Row Height
  height: $grid-header-height; //Table Header Height
}
