$box-width: 200px !default;

.box-container {
  width: $box-width;
  border: solid 2px $form-border;
  border-radius: $border-radius;
  background-color: $light-gray;

  .box-header {
    background-color: $background;
  }
}