%button {
  min-width: $ng-dialog-button-width;
  text-shadow: none !important;
  border-radius: $border-radius;
  background-color: $secondary-color;
  color: white;

  &.uk-button-primary {
    background-color: $primary-color;
  }
}

.uk-button {
  font-size: $base-font-size;

  &,
  &:disabled,
  &:hover,
  &:focus,
  &:active,
  &:visited {
    @extend %button;
  }

  &:hover {
    background-color: $primary-color;
  }

  &:active {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) !important;
  }

  &:disabled {
    background-color: $dark-gray;

    &:hover {
      background-color: none;
    }
  }
  &.uk-searcher-button {
    min-width: $ng-searcher-button-width;
    width: $ng-searcher-button-width;
    line-height: 100%;
    min-height: 100%;
  }
  &.uk-button-link {
    color: $primary-color;

    &,
    &:disabled,
    &:hover,
    &:focus,
    &:active,
    &:visited {
      text-shadow: none !important;
      background-color: transparent;
      border-radius: 0;
      text-decoration: none;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &.uk-button-medium {
    padding: 0 20px;
    line-height: $form-elements-height - 2px;
    max-height: $form-elements-height;
    min-height: 0;
  }

  &.uk-button-large {
    padding: 0 20px;
    min-height: $button-large-height;
    line-height: $button-large-height - 2px;
  }

  &.square {
    @include size($form-elements-height);

    min-width: $form-elements-height;
    line-height: 1;

    //Fixing for smaller sizes (such as $size_percentage = 0.7)
    min-height: $form-elements-height;
    padding: 0;
  }
}