.uk-open {
  background-color: $background-hemohub;
}

.uk-dropdown {
  padding-top: 4px;
  padding-bottom: 4px;

  ul {
    li {
      line-height: $dropdown-line-height;
      padding-left: 15px;
      margin: 0 2px;

      &:hover {
        background-color: $primary-color;
        color: white;
      }

      a {
        padding: 0;

        &:hover {
          background-color: initial;
        }
      }

      &.disabled {
        a {
          cursor: not-allowed;
          color: $actions-separator;
        }

        &:hover {
          background-color: transparent;
        }
      }
    }

    .uk-nav-divider {
      margin: 5px 0;
    }
  }
}

.uk-dropdown.uk-position-absolute {
  top: 0;
  left: 0;
  z-index: 1000000;
  display: block !important;

  ul {
    div {
      li {
        line-height: $dropdown-line-height;

        a {
          color: black;
          cursor: default;

          &:hover {
            text-decoration: none;
            color: white;
          }
        }

        &:hover {
          background-color: $primary-color;
          color: white;
        }
      }

      .uk-nav-divider {
        margin: 5px 0;
      }

      &.disabled {
        li {
          a {
            color: $actions-separator;
          }

          &:hover {
            background-color: transparent;
          }
        }

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

.btn-dropdown {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  &.uk-open {
    background: initial;
  }
}
