/**
 * Custom classes to set structural styles to form labels.
 */

.slab-label {
  line-height: $base-font-size;
  margin: 0;
}

.slab-label-115 {
  max-width: 115px;
}

.slab-label-165 {
  max-width: 165px;
}

.slab-label-215 {
  max-width: 215px;
}

.slab-form-title {
  font-size: 1.1rem;
  font-weight: bold;
}
