/**
 * Custom classes to set structural styles to form labels.
 */

.slab-label-115 {
  max-width: 115px;
  line-height: $base-font-size;
}

.slab-label-165 {
  max-width: 165px;
  line-height: $base-font-size;
}

.slab-label-215 {
  max-width: 215px;
  line-height: $base-font-size;
}
