.slab-icon-medium {
    font-size: 200%;
    vertical-align: -16%;
}

.slab-form-icon {
    display: inline-block;
    position: relative;
    max-width: 100%;

    & > [class*='icon-'] {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 30px;
        font-size: 14px;
        color: #999999;
        pointer-events: none;
    }
}

.slab-icon,
[class*='icon-'] {
    @include font-smoothing(antialiased, grayscale);

    display: inline-block;
    line-height: 1;
    font-weight: normal;
    font-style: normal;

    &.dark-green {
        color: $dark-green;
    }

    &.danger {
        color: $error !important;
    }

    &.warning {
        color: $warning !important;
    }

    &.info {
        color: $primary-color !important;
    }
}

[class*='icon-'],
.slab-icon,
.slab-icon:hover,
.slab-icon:focus {
    text-decoration: none;
}

.uk-grid {
    [class*='uk-width-'] {
        > [class*='icon-'] {
            line-height: $form-elements-height;
            top: 0;
            margin-top: 0;
        }
    }
}
