/**
 * 1. Override Bootstrap default behavior
 */
%input {
  height: $input-height;
  border-color: $medium-gray;
  border-radius: $border-radius;
  font-family: $base-body-font-family;
  padding: ($input-height - $base-font-size - 2px) / 2 6px;
  
  &:focus {
    border-color: $form-focus-border; /* [1] */
    background-color: $form-focus-background; /* [1] */
    color: $darker-gray; /* [1] */
    box-shadow: none; /* [1] */
  }
}

.slab-input-simulator,
input {
  &.form-control {
    @extend %input;
  }

  &:disabled {
    color: $form-border;
    border-color: $form-border;
    background-color: white;
    cursor: not-allowed;
    @include placeholder-color($form-border);
  }
}

.disabled {
  label {
    color: $disabled;
  }
}

/**
 * We need to replicate the input styling for all the divs with the class slab-input-simulator
 */
.slab-input-simulator {
  padding: ($input-height - $base-font-size - 2px) / 2 6px;
  border: 1px solid $form-border;
  background: $background;
  color: $form-color;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;

  &:focus {
    border-color: $form-focus-border;
    background: $form-focus-background;
    color: $form-color;
  }

  font {
    line-height: $input-height;
    height: $input-height;
    display: inline-block;
    position: relative;
    bottom: 4px;
  }
}


/**
 * 1 - Button will be always squared
 * 2 - Hide the actual input file and place it on top of the button so user can click there
 */
.slab-input-file {
  width: 100%;

  > input[type="text"] {
    width: calc(100% - #{$form-elements-height} - 10px);
    display: inline-block;

    + div.btn {
      @include size($form-elements-height); /* 1 */

      min-width: $form-elements-height;
      min-height: $form-elements-height;
      padding: 0px 5px;
      position: relative;
      overflow: hidden;
      float: right;
    }
  }

  input[type="file"] {
    @include size(#{$form-elements-height});
    @include position(absolute, $top: -2px, $right: -1px); /* 2 */
    @include opacity(0);
    cursor: pointer !important;
  }
}
