.uk-panel-box > .uk-list {
    margin: 0;

    > li {
        &:hover {
            background-color: $selected-elements;
            cursor: pointer;
        }
        
        &:first-child {
            border-top: 0;
        }

        label {
            padding-top: 8px;
            padding-bottom: 26px;
        }
    }

    &.uk-list-striped {
        background: $light-gray;
        
        > li:nth-of-type(odd) {
            background: $form-border;
        }
    }
}