@import "ngDialog-grid";
@import "ngDialog-mixins";

/* $content-border-width: defines the border of the ngdialog-content and ng-dialog-header*/
$content-border-width: 4px;

.ngdialog-flyin {
  @include ngdialog-flyin;
}

.ngdialog-flyout {
  @include ngdialog-flyout;
}

/* This styles are taken directly from ng-dialog package */

.ngdialog, .ngdialog-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

/* Remove if you do not want fade outs */

@-webkit-keyframes ngdialog-fadeout {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@keyframes ngdialog-fadeout {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@-webkit-keyframes ngdialog-fadein {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes ngdialog-fadein {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.ngdialog {
  box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000
}

.ngdialog *, .ngdialog :after, .ngdialog :before {
  box-sizing: inherit
}

.ngdialog.ngdialog-disabled-animation, .ngdialog.ngdialog-disabled-animation .ngdialog-content, .ngdialog.ngdialog-disabled-animation .ngdialog-overlay {
  -webkit-animation: none !important;
  animation: none !important
}

.ngdialog-overlay {
  background: rgba(0, 0, 0, .4);
  -webkit-backface-visibility: hidden
}

.ngdialog.ngdialog-closing .ngdialog-overlay {
  -webkit-backface-visibility: hidden
}

.ngdialog-content {
  background: #fff;
  -webkit-backface-visibility: hidden;
  pointer-events: all
}

.ngdialog.ngdialog-closing .ngdialog-content {
  -webkit-backface-visibility: hidden
}

.ngdialog-no-overlay {
  pointer-events: none
}

.ngdialog-close:before {
  font-family: Helvetica, Arial, sans-serif;
  content: '\00D7';
  cursor: pointer
}

.ngdialog {
  $content-border-width: 4px;

  @include position(fixed, $top: 50%, $left: 50%);

  @include size(100%);

  /* Fullscreen by default */

  overflow: visible;

  /* Styles for non full-screen and fixed size dialogs with dark button bar */
  &[class*="uk-height-"],
  &[class*="uk-width-"],
  &.uk-fixed-size {
    .ngdialog-content {
      z-index: 2;
      border: $content-border-width solid $ngdialog-border-color;
      background-color: $ngdialog-border-color;
      border-radius: 5px;

      .ngdialog-header {
        border-radius: $content-border-width $content-border-width 0 0;
      }

      .ngdialog-buttons {
        background: $background;
        border-radius: 0 0 4px 4px;
      }
    }
  }

  /* Styles for full-screen dialogs with white button bar */
  &.uk-height-1-1,
  &.uk-width-1-1 {
    .ngdialog-content {
      z-index: 2;
      border: none;
      border-radius: 0;

      .ngdialog-header {
        border-radius: 0;
      }

      .ngdialog-buttons {
        background: $background;
        border-radius: 0;
      }
    }
  }

  &.ngdialog-closing .ngdialog-content {
    @include animation(ngdialog-flyout, 0.5s);
  }

  .ngdialog-content {
    @include position(relative, $top: -50%, $left: -50%);

    @include animation(ngdialog-flyin, 0.5s);

    @include size(100%);

    z-index: 2;

    border: none;
    border-radius: 0;
    background: transparent;

    .ngdialog-header {
      /* $padding-header: defines the padding of the ngdialog-header;
                          used to calculate the line-height of the ngdialog-header.*/
      $padding-header: 20px;

      padding: $padding-header;
      font-size: 20px;
      border-radius: 0;
      background: $primary-color;
      max-height: $ng-dialog-header-height;
      height: $ng-dialog-header-height;
      line-height: $ng-dialog-header-height - $padding-header * 2;
      box-sizing: border-box;
      color: $background;
    }

    .ngdialog-message {
      height: calc(100% - #{$ng-dialog-header-height});

      &.with-buttons {
        height: calc(100% - #{$ng-dialog-header-height} - #{$ng-dialog-buttons-height}) !important;
      }

      overflow-y: hidden;
      background: $background;
    }

    .ngdialog-buttons {
      /* $buttons-padding: defines the padding of the ngdialog-buttons;
                           used to calculate the $button-size value.*/
      $buttons-padding: ceil(14px * $size_percentage);

      @include position(absolute, $right: 0, $bottom: 0, $left: 0);

      max-height: $ng-dialog-buttons-height + 1;
      padding: $buttons-padding;
      box-sizing: border-box;
      border-top: 1px solid $background-hemohub;
      background: $darker-gray;

      .uk-button.uk-float-right + .uk-button.uk-float-right {
        margin-right: 0.25em;
      }

      // Smaller buttons before $breakpoint-huge
      @media (max-width: $breakpoint-huge) {
        &.ngdialog-buttons-condensed {
          .uk-button,
          .uk-button-large {
            padding: 0 5px;
          }
        }
      }

      // Larger icons after $breakpoint-huge
      @media (min-width: $breakpoint-huge) {
        &.ngdialog-buttons-condensed {
          .uk-button,
          .uk-button-large {
            i {
              @include position(relative, $top: 2px);

              font-size: 18px;
            }
          }
        }
      }

      .uk-button {
        /* $button-size: defines the line-height and the min-height of the uk-button;
                         defines the size, the min-width and the min-height of the square button;
                         used to calculate the $top-offset variable;
                         used to calculate the size of the ngdialog-close button;
                         defines the line-height and the width of the before class of the ngdialog-close.*/
        $button-size: $ng-dialog-buttons-height - $buttons-padding * 2 - 2;

        line-height: $button-size;
        min-height: $button-size;

        &.square {
          @include size($button-size);

          min-width: $button-size;
          line-height: 1;

          //Fixing for smaller sizes (such as $size_percentage = 0.7)
          min-height: $button-size;
          padding: 0;
        }
      }
    }
    $button-size: ceil($size_percentage * 54px);
    /* $button-fontsize: defines the font-size of the ngdialog-close before and the i element inside the ngdialog-close.*/
    $button-fontsize: ceil($size_percentage * 32px);
    /* $right-offset: defines the right position of the ngdialog-buttons-top. */
    $right-offset: ceil($size_percentage * 66px);
    /* $top-offset: defines the top position of the ngdialog-buttons-top;
                    used to define the top position of the ngdialog-close.*/
    $top-offset: ($ng-dialog-header-height - $button-size) / 2;

    .ngdialog-buttons-top > div,
    .ngdialog-close {
      @include size($button-size);

      display: inline-block;
      cursor: pointer;
      background-color: $primary-color-darken;
      text-align: center;
      border-radius: 5px;
      color: $background;
      margin-right: 6px;
      vertical-align: top;

      i,
      &:before {
        @include size($button-size);

        @include font-smoothing(antialiased);

        line-height: $button-size;
        width: $button-size;
        color: $background;
        font-size: $button-fontsize;
        font-family: icomoon;
      }

      &:hover {
        background-color: $primary-color-darken-hover;
      }
    }

    .ngdialog-buttons-top {
      @include position(absolute, $top: $top-offset, $right: $right-offset);

      width: auto;

      > div {
        // Fixed spacing elemens inline-block type, which are line breaks between them in code
        float: left;
      }
    }

    .ngdialog-close {
      @include position(absolute, $top: $top-offset, $right: 3px);

      &:before {
        @include position(absolute, $right: 0);

        content: "\F057" !important;
      }
    }
  }
}

