@mixin ngdialog-flyin {
    animation: ngdialog-flyin 0.5s;

    @at-root {
        @-webkit-keyframes ngdialog-flyin {
            0% {
                opacity: 0;
                -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
            }

            100% {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
        }

        @keyframes ngdialog-flyin {
            0% {
                opacity: 0;
                -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
            }

            100% {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
        }
    }
}

@mixin ngdialog-flyout {
    animation: ngdialog-flyout 0.5s;

    @at-root {
        @-webkit-keyframes ngdialog-flyout {
            0% {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }

            100% {
                opacity: 0;
                -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
            }
        }

        @keyframes ngdialog-flyout {
            0% {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }

            100% {
                opacity: 0;
                -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
            }
        }
    }
}