/**
 * UIKit uk-width-* structure to be used on ngDialogs.
 * This file also provides the same structure to adjust the height using the
 * same pattern.
 */
.ngdialog {
    //Heights
    @media (min-height: $breakpoint-medium-height) {
        &.uk-height-1-2,
        &.uk-height-2-4,
        &.uk-height-3-6,
        &.uk-height-5-10 {
            height: 50%;
        }

        &.uk-height-1-3,
        &.uk-height-2-6 {
            height: 33.333%;
        }

        &.uk-height-2-3,
        &.uk-height-4-6 {
            height: 66.666%;
        }

        &.uk-height-1-4 {
            height: 25%;
        }

        &.uk-height-3-4 {
            height: 75%;
        }

        &.uk-height-1-5,
        &.uk-height-2-10 {
            height: 20%;
        }

        &.uk-height-2-5,
        &.uk-height-4-10 {
            height: 40%;
        }

        &.uk-height-3-5,
        &.uk-height-6-10 {
            height: 60%;
        }

        &.uk-height-4-5,
        &.uk-height-8-10 {
            height: 80%;
        }

        &.uk-height-1-6 {
            height: 16.666%;
        }

        &.uk-height-5-6 {
            height: 83.333%;
        }

        &.uk-height-1-10 {
            height: 10%;
        }

        &.uk-height-3-10 {
            height: 30%;
        }

        &.uk-height-7-10 {
            height: 70%;
        }

        &.uk-height-9-10 {
            height: 90%;
        }

        &.uk-height-10-10 {
            height: 100%;
        }
    }

    @media (min-height: $breakpoint-large-height) {
        &.uk-height-large-1-2,
        &.uk-height-large-2-4,
        &.uk-height-large-3-6,
        &.uk-height-large-5-10 {
            height: 50%;
        }

        &.uk-height-large-1-3,
        &.uk-height-large-2-6 {
            height: 33.333%;
        }

        &.uk-height-large-2-3,
        &.uk-height-large-4-6 {
            height: 66.666%;
        }

        &.uk-height-large-1-4 {
            height: 25%;
        }

        &.uk-height-large-3-4 {
            height: 75%;
        }

        &.uk-height-large-1-5,
        &.uk-height-large-2-10 {
            height: 20%;
        }

        &.uk-height-large-2-5,
        &.uk-height-large-4-10 {
            height: 40%;
        }

        &.uk-height-large-3-5,
        &.uk-height-large-6-10 {
            height: 60%;
        }

        &.uk-height-large-4-5,
        &.uk-height-large-8-10 {
            height: 80%;
        }

        &.uk-height-large-1-6 {
            height: 16.666%;
        }

        &.uk-height-large-5-6 {
            height: 83.333%;
        }

        &.uk-height-large-1-10 {
            height: 10%;
        }

        &.uk-height-large-3-10 {
            height: 30%;
        }

        &.uk-height-large-7-10 {
            height: 70%;
        }

        &.uk-height-large-9-10 {
            height: 90%;
        }

        &.uk-height-lage-10-10 {
            height: 100%;
        }
    }

    @media (min-height: $breakpoint-xlarge-height) {
        &.uk-height-xlarge-1-2,
        &.uk-height-xlarge-2-4,
        &.uk-height-xlarge-3-6,
        &.uk-height-xlarge-5-10 {
            height: 50%;
        }

        &.uk-height-xlarge-1-3,
        &.uk-height-xlarge-2-6 {
            height: 33.333%;
        }

        &.uk-height-xlarge-2-3,
        &.uk-height-xlarge-4-6 {
            height: 66.666%;
        }

        &.uk-height-xlarge-1-4 {
            height: 25%;
        }

        &.uk-height-xlarge-3-4 {
            height: 75%;
        }

        &.uk-height-xlarge-1-5,
        &.uk-height-xlarge-2-10 {
            height: 20%;
        }

        &.uk-height-xlarge-2-5,
        &.uk-height-xlarge-4-10 {
            height: 40%;
        }

        &.uk-height-xlarge-3-5,
        &.uk-height-xlarge-6-10 {
            height: 60%;
        }

        &.uk-height-xlarge-4-5,
        &.uk-height-xlarge-8-10 {
            height: 80%;
        }

        &.uk-height-xlarge-1-6 {
            height: 16.666%;
        }

        &.uk-height-xlarge-5-6 {
            height: 83.333%;
        }

        &.uk-height-xlarge-1-10 {
            height: 10%;
        }

        &.uk-height-xlarge-3-10 {
            height: 30%;
        }

        &.uk-height-xlarge-7-10 {
            height: 70%;
        }

        &.uk-height-xlarge-9-10 {
            height: 90%;
        }

        &.uk-height-xlarge-10-10 {
            height: 100%;
        }
    }

    //Widths
    @media (min-width: $breakpoint-medium) {
        &.uk-width-1-2,
        &.uk-width-2-4,
        &.uk-width-3-6,
        &.uk-width-5-10 {
            width: 50%;
        }

        &.uk-width-1-3,
        &.uk-width-2-6 {
            width: 33.333%;
        }

        &.uk-width-2-3,
        &.uk-width-4-6 {
            width: 66.666%;
        }

        &.uk-width-1-4 {
            width: 25%;
        }

        &.uk-width-3-4 {
            width: 75%;
        }

        &.uk-width-1-5,
        &.uk-width-2-10 {
            width: 20%;
        }

        &.uk-width-2-5,
        &.uk-width-4-10 {
            width: 40%;
        }

        &.uk-width-3-5,
        &.uk-width-6-10 {
            width: 60%;
        }

        &.uk-width-4-5,
        &.uk-width-8-10 {
            width: 80%;
        }

        &.uk-width-1-6 {
            width: 16.666%;
        }

        &.uk-width-5-6 {
            width: 83.333%;
        }

        &.uk-width-1-10 {
            width: 10%;
        }

        &.uk-width-3-10 {
            width: 30%;
        }

        &.uk-width-7-10 {
            width: 70%;
        }

        &.uk-width-9-10 {
            width: 90%;
        }

        &.uk-width-10-10 {
            width: 100%;
        }
    }

    @media (min-width: $breakpoint-large) {
        &.uk-width-large-1-2,
        &.uk-width-large-2-4,
        &.uk-width-large-3-6,
        &.uk-width-large-5-10 {
            width: 50%;
        }

        &.uk-width-large-1-3,
        &.uk-width-large-2-6 {
            width: 33.333%;
        }

        &.uk-width-large-2-3,
        &.uk-width-large-4-6 {
            width: 66.666%;
        }

        &.uk-width-large-1-4 {
            width: 25%;
        }

        &.uk-width-large-3-4 {
            width: 75%;
        }

        &.uk-width-large-1-5,
        &.uk-width-large-2-10 {
            width: 20%;
        }

        &.uk-width-large-2-5,
        &.uk-width-large-4-10 {
            width: 40%;
        }

        &.uk-width-large-3-5,
        &.uk-width-large-6-10 {
            width: 60%;
        }

        &.uk-width-large-4-5,
        &.uk-width-large-8-10 {
            width: 80%;
        }

        &.uk-width-large-1-6 {
            width: 16.666%;
        }

        &.uk-width-large-5-6 {
            width: 83.333%;
        }

        &.uk-width-large-1-10 {
            width: 10%;
        }

        &.uk-width-large-3-10 {
            width: 30%;
        }

        &.uk-width-large-7-10 {
            width: 70%;
        }

        &.uk-width-large-9-10 {
            width: 90%;
        }

        &.uk-width-large-10-10 {
            width: 100%;
        }
    }

    @media (min-width: $breakpoint-xlarge) {
        &.uk-width-xlarge-1-2,
        &.uk-width-xlarge-2-4,
        &.uk-width-xlarge-3-6,
        &.uk-width-xlarge-5-10 {
            width: 50%;
        }

        &.uk-width-xlarge-1-3,
        &.uk-width-xlarge-2-6 {
            width: 33.333%;
        }

        &.uk-width-xlarge-2-3,
        &.uk-width-xlarge-4-6 {
            width: 66.666%;
        }

        &.uk-width-xlarge-1-4 {
            width: 25%;
        }

        &.uk-width-xlarge-3-4 {
            width: 75%;
        }

        &.uk-width-xlarge-1-5,
        &.uk-width-xlarge-2-10 {
            width: 20%;
        }

        &.uk-width-xlarge-2-5,
        &.uk-width-xlarge-4-10 {
            width: 40%;
        }

        &.uk-width-xlarge-3-5,
        &.uk-width-xlarge-6-10 {
            width: 60%;
        }

        &.uk-width-xlarge-4-5,
        &.uk-width-xlarge-8-10 {
            width: 80%;
        }

        &.uk-width-xlarge-1-6 {
            width: 16.666%;
        }

        &.uk-width-xlarge-5-6 {
            width: 83.333%;
        }

        &.uk-width-xlarge-1-10 {
            width: 10%;
        }

        &.uk-width-xlarge-3-10 {
            width: 30%;
        }

        &.uk-width-xlarge-7-10 {
            width: 70%;
        }

        &.uk-width-xlarge-9-10 {
            width: 90%;
        }

        &.uk-width-xlarge-10-10 {
            width: 100%;
        }
    }
}