.uk-panel-space {
  padding: 20px;

  &.uk-panel-space-medium {
    padding: 10px;
  }

  &.uk-panel-space-small {
    padding: 5px;
  }
}

.panel-border {
  border: 1px solid $medium-gray;
  border-radius: $border-radius;
  box-sizing: border-box;
  margin: 5px;
}