
.slab-searcher-container {
  input {
    height: $input-height;
    //  height: 100% !important;
    min-height: $input-height;
    width: 100px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border: 1px solid $medium-gray;
    padding: ($input-height - $base-font-size - 2px) / 2 6px;

  }
  button {
    padding: 0px;
    border: none;
    cursor: pointer;
    margin-left: -5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    min-width: $ng-searcher-button-width;
    width: $ng-searcher-button-width;
    line-height: 100%;
    min-height: 100%;

    &:hover {
      padding: 0px;
      border: none;
      cursor: pointer;
      margin-left: -5px;
      border-bottom-left-radius: 0px !important;
      border-top-left-radius: 0px !important;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      min-width: $ng-searcher-button-width;
      width: $ng-searcher-button-width;
      line-height: 100%;
      min-height: 100%;
    }

    &:disabled {
      padding: 0px;
      border: none;
      cursor: pointer;
      margin-left: -5px;
      border-bottom-left-radius: 0px !important;
      border-top-left-radius: 0px !important;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      min-width: $ng-searcher-button-width;
      width: $ng-searcher-button-width;
      line-height: 100%;
      min-height: 100%;
    }
  }

  label {
    margin-left: 5px;
  }
}

.slab-searcher-dialog-container {
  .slab-table-container {
    border: 1px solid $medium-gray;
    border-radius: 3px;
  }
}
