/* $slider-height: used to calculate the $background-line variable;
                   used to define the size;
                   used to calculate the margin top;
                   used to define the margin-left of the ui-slider-handle.*/
$slider-height: $form-elements-height !default;
/* $background-line: defines the height of the ui-slider;
                     to calculate the margin-top and the margin-bottom of the ui-slider;
                     to calculate the margin-top value of the ui-slider-handle.*/
$background-line: round($slider-height / 3);

.ui-slider {
  height: $background-line;

  &:not([class*="uk-width-"]) {
    width: $input-width;
  }
  margin-top: ($slider-height - $background-line) / 2;
  margin-bottom: ($slider-height - $background-line) / 2;
  box-shadow: none;

  .ui-slider-handle {
    @include size($slider-height !important);

    background-color: $slider-circle-color;
    border-radius: 50%;
    border: 6px solid $slider-circle-border-color;
    // outline: none; //cleaned out from version 1
    cursor: pointer;
    top: 0 !important;
    margin-top: -(($slider-height - $background-line) / 2 ) - 1 !important;
    margin-left: -$slider-height / 2;
    background-image: none;
  }

  &.ui-corner-all, &.ui-corner-top, &.ui-corner-right, &.ui-corner-tr {
    border-radius: 10px;
    // border: none; //cleaned out from version 1
    background-color: $slider-background-color;
  }
}
