/* $slab-slider-height: used to calculate the $slab-slider-background-line variable;
                   used to define the size;
                   used to calculate the margin top;
                   used to define the margin-left of the ui-slider-handle.*/
$slab-slider-height: $form-elements-height !default;
/* $slab-slider-background-line: defines the height of the ui-slider;
                     to calculate the margin-top and the margin-bottom of the ui-slider;
                     to calculate the margin-top value of the ui-slider-handle.*/
$slab-slider-background-line: round($slab-slider-height / 3);

.slab-slider {
  height: $slab-slider-background-line;

  &:not([class*="w-"]) {
    width: $input-width;
  }
  margin-top: ($slab-slider-height - $slab-slider-background-line) / 2;
  margin-bottom: ($slab-slider-height - $slab-slider-background-line) / 2;
  box-shadow: none;

  -webkit-appearance: none;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slab-slider:hover {
  opacity: 1;
}

.slab-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  @include size($slab-slider-height !important);

  background-color: $slab-slider-circle-color;
  border-radius: 50%;
  border: 6px solid $slab-slider-circle-border-color;
  background-image: none;
  cursor: pointer;
}

.slab-slider::-moz-range-thumb {
  @include size($slab-slider-height !important);

  background-color: $slab-slider-circle-color;
  border-radius: 50%;
  border: 6px solid $slab-slider-circle-border-color;
  background-image: none;
  cursor: pointer;
}
