/* $table-min-row-height: defines the height of the tr elements inside a uk-table.*/
$table-min-row-height: $form-elements-height !default;
/* $table-row-padding: defines the padding of the td elements inside the uk-table tr.*/
$table-row-padding: $form-row-gutter !default;

.uk-table {
  .uk-row-highlight {
    background-color: $light-gray;
  }

  tr {
    height: $table-min-row-height;

    &.uk-height-auto {
      height: auto;
    }

    td {
      padding: $table-row-padding;
    }
  }

  &.left-header {
    border-right: 1px solid $form-border;
    width: $table-left-header-width;
    overflow-x: scroll;

    tbody {
      @include size(100%);

      display: table;
    }
  }
}

.table-horizontal-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}

.uk-table-remove-border {
  border: 0;

  tr, td {
    border: 0;
  }
}