@charset "utf-8";

@import "variables";

.nav {
  padding-left: 25px;
  white-space: nowrap;
  overflow: visible;
  background-color: $background-hemohub;

  > .nav-item {
    background-color: $background-hemohub;
    padding-top: 2 * $tab-space;
    margin-right: $tab-space;

    > .nav-link {
      height: 100%;
      line-height: $tab-height;
      color: $background;
      text-shadow: none;
      background-color: $secondary-color;
      border-top: 3px solid $secondary-color;
      margin-left: 0;
      padding: 0 12px;
      min-width: $tab-min-width;
      text-align: center;
      border-radius: 4px 4px 0 0;

      &:hover {
        color: $background;
        background-color: $primary-color;
        border-color: $primary-color;
        padding-bottom: 0;
      }

      &.active {
        color: black;
        background-color: $background;
        border-top-color: $primary-color;
        
        &:hover {
          border-color: $primary-color $form-border $background $form-border;
        }
      }
    }
  }
}

.tab-content {
  height: 100%;

  > .active {
    display: flex;
    overflow: auto;
  }
}

.tab-pane {
  flex: 1;
  flex-direction: column;
}
