@charset "utf-8";

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: (
  25: 25%,
  33: 33.333%,
  50: 50%,
  66: 66.666%,
  75: 75%,
  100: 100%
);

/**
 * Import files from default theme folder
 * src/slt-common/assets/styles/default-theme/sass/
 */
@import "styleColor";
@import "styleSheet";
@import "mixins";

// we must load bootstrap after setting our own variables
@import "~bootstrap/scss/bootstrap";

// then we can load ourcomponents
@import "dialog";
@import "icon";
@import "dropdown";
@import "forms_legacy";
@import "progressBar";
@import "tabs";
@import "tabs_legacy";
@import "ukswitcher";
@import "contextMenu";
@import "checkBox";
@import "agGrid";
@import "tree";
@import "status";
@import "table_legacy";
@import "triageCell";
@import "button";
@import "comboBox";
@import "datepicker";
@import "input_legacy";
@import "radio";
@import "slider_legacy";
@import "textarea_legacy";
@import "searcher";

html {
  width: 100%;
  font: normal $base-body-font-size $base-body-font-family;
  color: $base-body-color;

  body {
    &:not(.is-login) {
      min-width: $app-min-width;
      min-height: $app-min-height;
    }

    //&.is-login {
    //  @import "login";
    //}
  }

  input,
  button,
  a,
  a:focus {
    outline: 0 !important;
  }
}

// $primary-color: rgb(85, 174, 97);
