@charset "utf-8";

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: (
  25: 25%,
  33: 33.333%,
  50: 50%,
  66: 66.666%,
  75: 75%,
  100: 100%,
  auto: auto
);

/**
 * Import files from default theme folder
 * src/slt-common/assets/styles/default-theme/sass/
 */
@import "styleColor";
@import "styleSheet";
@import "mixins";

// we must load bootstrap after setting our own variables
@import "../../../../../../node_modules/bootstrap/scss/bootstrap";

@import "icon_legacy";
@import "forms_legacy";
@import "input_legacy";

// then we can load our components
@import "dialog";
@import "icon";
@import "dropdown";
@import "form";
@import "tabs";
@import "contextMenu";
@import "checkBox";
@import "agGrid";
@import "tree";
@import "status";
@import "table";
@import "triageCell";
@import "button";
@import "comboBox";
@import "datepicker";
@import "input";
@import "radio";
@import "slider";
@import "switch";
@import "textarea";
@import "searcher";
@import "spinner";
@import "nanobar";


html {
  width: 100%;
  font: normal $base-body-font-size $base-body-font-family;
  color: $base-body-color;

  body {
    &:not(.is-login) {
      min-width: $app-min-width;
      min-height: $app-min-height;
    }

    //&.is-login {
    //  @import "login";
    //}
  }

  input,
  button,
  a,
  a:focus {
    outline: 0 !important;
  }
}

.slab-flex-1 {
  flex: 1;
}

.slab-overflow-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.slab-mh-ft {
  max-height: fit-content;
}