<div *ngIf="params.isTree" class="d-flex column">
    <div class="slab-flex-1" [style.marginLeft.px]="(level*20)+1">
        <input type="checkbox" id="{{prefix}}-{{id}}-{{description}}" [(ngModel)]="params.data.selected" [disabled]="params.isDisabled"
               (change)="changeValue($event)">
        <label for="{{prefix}}-{{id}}-{{description}}">{{description}}</label>
    </div>
</div>
<div *ngIf="!params.isTree" class="d-flex column">
    <div class="slab-flex-1" style="margin-left: 1px">
        <input type="checkbox" id="{{prefix}}-{{id}}-{{description}}" [(ngModel)]="params.data.selected" [disabled]="params.isDisabled"
               (change)="changeValue($event)">
        <label for="{{prefix}}-{{id}}-{{description}}">{{description}}</label>
    </div>
</div>