<div class="container-fluid">
    <systelab-tabs>
        <systelab-tab [title]="'Tab 1'" [id]="'1'">
            Tab 1 content
        </systelab-tab>
        <systelab-tab [title]="'Tab 2'" [id]="'2'">
            Tab 2 content
        </systelab-tab>
        <systelab-tab [title]="'Tab 3'" [id]="'3'">
            Tab 3 content
        </systelab-tab>
        <systelab-tab [title]="'Tab 4'" [id]="'4'">
            Tab 4 content
        </systelab-tab>
    </systelab-tabs>
    <div class="pt-2">
        <button type="button" class="btn" (click)="tabsDialog();"><i class="icon-info-circle mr-1"></i>Dialog</button>
    </div>
</div>