<div class="container-fluid">
    <h6>Default Tabs style</h6>
    <systelab-tabs id="tabs">
        <systelab-tab [title]="'Tab 1'" [id]="'1'">
            <div id="tab-0">Tab 1 content</div>
        </systelab-tab>
        <systelab-tab [title]="'Tab 2'" [id]="'2'">
            <div id="tab-1">Tab 2 content</div>
        </systelab-tab>
        <systelab-tab [title]="'Tab 3'" [id]="'3'">
            <div id="tab-2">Tab 3 content</div>
        </systelab-tab>
        <systelab-tab [title]="'Tab 4'" [id]="'4'" [warning]="true">
            <div id="tab-3">Tab 4 content</div>
        </systelab-tab>
    </systelab-tabs>
    <h6><br>Tabs without background and padding-top</h6>
    <systelab-tabs id="tabs-without-background" [hideBackground]="true">
        <systelab-tab [title]="'Tab 1'" [id]="'1'">
            <div id="tab-0">Tab 1 content</div>
        </systelab-tab>
        <systelab-tab [title]="'Tab 2'" [id]="'2'">
            <div id="tab-1">Tab 2 content</div>
        </systelab-tab>
        <systelab-tab [title]="'Tab 3'" [id]="'3'">
            <div id="tab-2">Tab 3 content</div>
        </systelab-tab>
        <systelab-tab [title]="'Tab 4'" [id]="'4'" [warning]="true">
            <div id="tab-3">Tab 4 content</div>
        </systelab-tab>
    </systelab-tabs>
    <div class="pt-2">
        <button type="button" class="btn" (click)="tabsDialog();"><i class="icon-info-circle mr-1"></i>Dialog</button>
    </div>
</div>