<form class="uk-form uk-form-horizontal uk-form-horizontal-medium p-3">
    <h4 class="uk-text-bold">Rows system</h4>
    <div class="uk-form-row uk-grid">
        <div class="uk-width-2-10 uk-form-row">
            <label class="uk-form-label">Description</label>
        </div>
        <div class="uk-width-3-10">
            <div class="uk-form-controls uk-grid uk-grid-collapse">
                <input type="text">
            </div>
        </div>
        <div class="uk-width-2-10 uk-form-row">
            <label class="uk-form-label">Mnemonic</label>
        </div>
        <div class="uk-width-3-10">
            <div class="uk-form-controls uk-grid uk-grid-collapse">
                <input type="text">
            </div>
        </div>
    </div>
    <div class="uk-form-row uk-grid">
        <div class="uk-width-2-10 uk-form-row">
            <label class="uk-form-label">Lot Number</label>
        </div>
        <div class="uk-width-3-10">
            <div class="uk-form-controls uk-grid uk-grid-collapse">
                <input type="text">
            </div>
        </div>
        <div class="uk-width-2-10 uk-form-row">
            <label class="uk-form-label">Expiration date</label>
        </div>
        <div class="uk-width-3-10">
            <div class="uk-form-controls uk-grid uk-grid-collapse">
                <input type="text" data-uk-datepicker="{format:'DD/MM/YYYY'}" name="expdate"
                       [(ngModel)]="dateValue">
            </div>
        </div>
    </div>
    <div class="uk-form-row uk-grid">
        <div class="uk-width-2-10 uk-form-row">
            <label class="uk-form-label">Status</label>
        </div>
        <div class="uk-width-3-10">
            <div class="uk-form-controls uk-grid uk-grid-collapse">
                <input type="text">
            </div>
        </div>
        <div class="uk-width-2-10 uk-form-row">
            <label class="uk-form-label">Sort</label>
        </div>
        <div class="uk-width-3-10">
            <div class="uk-form-controls uk-grid uk-grid-collapse">
                <systelab-spinner [spinValues]="touchSpinValues1" id="touch2"></systelab-spinner>
            </div>
        </div>
    </div>
    <div class="uk-form-row uk-grid">
        <div class="uk-width-2-10 uk-form-row">
            <label class="uk-form-label">Activation Date</label>
        </div>
        <div class="uk-width-3-10">
            <div class="uk-form-controls uk-grid uk-grid-collapse">
                <input type="text">
            </div>
        </div>
        <div class="uk-width-2-10 uk-form-row">
            <label class="uk-form-label">Deactivations Date</label>
        </div>
        <div class="uk-width-3-10">
            <div class="uk-form-controls uk-grid uk-grid-collapse">
                <input type="text">
            </div>
        </div>
    </div>

    <h4 class="uk-text-bold">Columns system</h4>
    <div class="uk-grid">
        <div class="uk-width-1-2">
            <div class="uk-form-row">
                <label class="uk-form-label">Description</label>
                <div class="uk-form-controls uk-grid uk-grid-collapse">
                    <input type="text">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">Lot number</label>
                <div class="uk-form-controls uk-grid uk-grid-collapse">
                    <input type="text">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">Status</label>
                <div class="uk-form-controls uk-grid uk-grid-collapse">
                    <input type="text">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">Activation Date</label>
                <div class="uk-form-controls uk-grid uk-grid-collapse">
                    <input type="text">
                </div>
            </div>
        </div>
        <div class="uk-width-1-2">
            <div class="uk-form-row">
                <label class="uk-form-label">Mnemonic</label>
                <div class="uk-form-controls uk-grid uk-grid-collapse">
                    <input type="text">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">Expiration Date</label>
                <div class="uk-form-controls uk-grid uk-grid-collapse">
                    <input type="text" data-uk-datepicker="{format:'DD/MM/YYYY'}" name="expdate"
                           [(ngModel)]="dateValue">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">Sort</label>
                <div class="uk-form-controls uk-grid uk-grid-collapse">
                    <systelab-spinner [spinValues]="touchSpinValues1" id="touch2"></systelab-spinner>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">Deactivations Date</label>
                <div class="uk-form-controls uk-grid uk-grid-collapse">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
</form>
