<form class="d-flex align-items-end flex-column h-100 w-100 p-3">
    <div class="w-100">
        <div class="row align-items-center mt-1">
            <div class="col">
                <h4>Row system</h4>
            </div>
        </div>
    </div>
    <div class="w-100">
        <div class="row align-items-center mt-1">
            <label class="col slab-label-215" for="valueid">
                Element 1
            </label>
            <div class="col">
                <input type="text" id="row-element-1" class="form-control" name="value">
            </div>
            <label class="col slab-label-215" for="valueid">
                Element 2
            </label>
            <div class="col">
                <input type="text" id="row-element-2" class="form-control" name="value">
            </div>
        </div>
        <div class="row align-items-center mt-1">
            <label class="col slab-label-215" for="valueid">
                    Element 3
            </label>
            <div class="col">
                <input type="text" id="row-element-3" class="form-control" name="value">
            </div>
            <label class="col slab-label-215" for="valueid">
                    Element 4
            </label>
            <div class="col">
                <input type="text" id="row-element-4" class="form-control" name="value">
            </div>
        </div>
        <div class="row align-items-center mt-1">
            <label class="col slab-label-215" for="valueid">
                    Element 5
            </label>
            <div class="col">
                <input type="text" id="row-element-5" class="form-control" name="value">
            </div>
            <label class="col slab-label-215" for="valueid">
                    Element 6
            </label>
            <div class="col">
                <input type="text" id="row-element-6" class="form-control" name="value">
            </div>
        </div>
        <div class="row align-items-center mt-1">
            <label class="col slab-label-215" for="valueid">
                    Element 7
            </label>
            <div class="col">
                <input type="text" id="row-element-7" class="form-control" name="value">
            </div>
            <label class="col slab-label-215" for="valueid">
                    Element 8
            </label>
            <div class="col">
                <input type="text" id="row-element-8" class="form-control" name="value">
            </div>
        </div>
    </div>
    <div class="w-100">
        <div class="row align-items-center mt-1">
            <div class="col">
                <h4>Column system</h4>
            </div>
        </div>
    </div>
    <div class="w-100 d-flex">
        <div class="col pl-0">
            <div class="row align-items-center mt-1">
                <label class="col slab-label-215" for="valueid">
                    Element 1
                </label>
                <div class="col">
                    <input type="text" id="col-element-1" class="form-control" name="value">
                </div>
            </div>
            <div class="row align-items-center mt-1">
                <label class="col slab-label-215" for="valueid">
                    Element 2
                </label>
                <div class="col">
                    <input type="text" id="col-element-2" class="form-control" name="value">
                </div>
            </div>
            <div class="row align-items-center mt-1">
                <label class="col slab-label-215" for="valueid">
                    Element 3
                </label>
                <div class="col">
                    <input type="text" id="col-element-3" class="form-control" name="value">
                </div>
            </div>
            <div class="row align-items-center mt-1">
                <label class="col slab-label-215" for="valueid">
                    Element 4
                </label>
                <div class="col">
                    <input type="text" id="col-element-4" class="form-control" name="value">
                </div>
            </div>
        </div>
        <div class="col pr-0">
            <div class="row align-items-center mt-1">
                <label class="col slab-label-215" for="valueid">
                    Element 5
                </label>
                <div class="col">
                    <input type="text" id="col-element-5" class="form-control" name="value">
                </div>
            </div>
            <div class="row align-items-center mt-1">
                <label class="col slab-label-215" for="valueid">
                    Element 6
                </label>
                <div class="col">
                    <input type="text" id="col-element-6" class="form-control" name="value">
                </div>
            </div>
            <div class="row align-items-center mt-1">
                <label class="col slab-label-215" for="valueid">
                    Element 7
                </label>
                <div class="col">
                    <input type="text" id="col-element-7" class="form-control" name="value">
                </div>
            </div>
            <div class="row align-items-center mt-1">
                <label class="col slab-label-215" for="valueid">
                    Element 8
                </label>
                <div class="col">
                    <input type="text" id="col-element-8" class="form-control" name="value">
                </div>
            </div>
        </div>
    </div>
</form>
