<div class="slab-grid-header-context-menu">
    <div #dropdownparent class="dropdown">
        <div class="dropdown-toggle slab-context-menu" data-toggle="dropdown" (click)="dotsClicked($event)">
            <i class="icon-context-menu"></i>
        </div>
        <div #dropdownmenu class="dropdown-menu slab-dropdown-menu">
            <div #dropdown class="slab-dropdown">
                <div *ngIf="isOpened">
                    <ul *ngFor="let action of contextMenuOptions">
                        <li class="{{!isEnabled(elementID, action.actionId) ? 'disabled': '' }}"
                            (click)="isEnabled(elementID, action.actionId) ? executeAction(elementID, action.actionId) : null ">
                            <a>{{action.actionText}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="slab-grid-header-context-menu-label">{{headerName}}</div>
</div>
