<div class="container-fluid">
    <form class="p-2">
        <label class="slab-form-title">Section title</label>
        <div class="row mt-1">
            <div class="col-md-12">
                <label class="col-form-label">Line 1</label>
                <input type="text" class="form-control" id="field0" name="field0" [autoFocus]="true">
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-6">
                <label class="col-form-label">Line 2.a</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="col-form-label">Line 2.b</label>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-6">
                <label class="col-form-label">Line 3.a</label>
                <systelab-select></systelab-select>
            </div>
            <div class="col-md-6">
                <label class="col-form-label">Line 3.b</label>
                <systelab-select></systelab-select>
            </div>
        </div>


        <label class="slab-form-title">Section title</label>

        <div class="row mt-1">
            <div class="col-md-6">
                <label class="col-form-label">Line 4.a</label>
                <systelab-datepicker></systelab-datepicker>
            </div>
            <div class="col-md-6">
                <label class="col-form-label">Line 4.b</label>
                <systelab-datepicker></systelab-datepicker>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-6">
                <label class="col-form-label">Line 5.a</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="col-form-label">Line 5.b</label>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-6">
                <label class="col-form-label">Line 6.a</label>
                <showcase-inner-searcher></showcase-inner-searcher>
            </div>
            <div class="col-md-6">
                <label class="col-form-label">Line 6.b</label>
                <showcase-inner-searcher></showcase-inner-searcher>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-12">
                <label class="col-form-label">Line 7</label>
                <div>
                    <input name="status-radio2" type="radio" id="radio-urgent2"> <label
                        for="radio-urgent2" class="mr-2">Option 1</label>
                    <input name="status-radio2" type="radio" id="radio-urgent3"> <label
                        for="radio-urgent2" class="mr-2">Option 2</label>
                    <input name="status-radio2" type="radio" checked id="radio-urgent4"> <label
                        for="radio-urgent2" class="mr-2">Option 3</label>
                    <input name="status-radio2" type="radio" id="radio-urgent5"> <label
                        for="radio-urgent2">Option 4</label>
                </div>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-12">
                <label class="col-form-label">Line 8</label>
                <systelab-date-time></systelab-date-time>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-12">
                <label class="col-form-label">Line 9</label>
                <systelab-spinner></systelab-spinner>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-12">
                <label class="col-form-label">Line 10</label>
                <showcase-inner-searcher></showcase-inner-searcher>
            </div>
        </div>
    </form>
</div>
