<div class="slab-flex-1 d-flex flex-column" cdkTrapFocus>
    <systelab-dialog-header (close)="close();">Title</systelab-dialog-header>
    <systelab-tabs class="slab-flex-1 slab-overflow-container">
        <systelab-tab [title]="'Title 3'" [id]="'3'">
            <showcase-vertical class="w-100"></showcase-vertical>
        </systelab-tab>
    </systelab-tabs>

    <systelab-dialog-bottom>
        <systelab-button (click)="doSomething()"> Options</systelab-button>
        <systelab-button type="primary" class="ml-auto" (action)="close()"> Submit</systelab-button>
    </systelab-dialog-bottom>
</div>
