<div #combobox
     class="dropdown slab-combobox d-flex w-100"
     [ngClass]="{'disabled': isDisabled}">
    <div #dropdowntoogle class="slab-flex-1 d-flex dropdown-toggle slab-dropdown-toogle" id="{{comboId}}" data-toggle="dropdown">
        <input #input type="text" class="slab-flex-1 form-control d-flex slab-combo-input"
               [disabled]="isDisabled"
               [(ngModel)]="fieldToShow" (keyup)="doSearch($event)"
               [ngStyle]="getInputHeight()"
               [style.font-family]="fontFamily"
               [style.font-size.px]="fontSize"
               [style.font-weight]="fontWeight"
               [style.font-style]="fontStyle"
               (keydown.Tab)="closeDropDown()"
                (click)="onInputClicked($event)"/>
        <button type="button" *ngIf="withFavourites && id" #favouriteButton class="slab-combo-button slab-combo-star border-right-0 rounded-0"
                [ngClass]="{'icon-star': isFavourite, 'icon-star-o': !isFavourite}" (click)="setFavourite($event)"></button>
        <button #combobutton type="button" class="slab-combo-button icon-caret-down" [disabled]="isDisabled"
                (click)="onComboClicked($event)"></button>
    </div>
    <div #dropdownmenu class="dropdown-menu slab-combo-dropdown" (click)="clickDropDownMenu($event)" [ngClass]="{'disabled': isDisabled}">
        <div #dropdown id="slab-combo-dropdown-box" class="slab-combo-dropdown-box">
            <ag-grid-angular *ngIf="isDropdownOpened" #grid id="agGrid" #agGrid
                             style="width: 100%; height: 100%;"
                             class="ag-fresh"
                             [style.font-family]="fontFamily"
                             [style.font-size.px]="fontSize"
                             [style.font-weight]="fontWeight"
                             [style.font-style]="fontStyle"
                             [gridOptions]="gridOptions"
                             (selectionChanged)="onSelectionChanged($event)"
                             (rowSelected)="onRowSelected($event)"
                             (modelUpdated)="onModelUpdated()">
            </ag-grid-angular>
        </div>

    </div>
</div>