<div class="container-fluid">
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="form-h-s">TEST</label>
        <div class="col-md-9">
            <showcase-inner-tree-combobox [withFavourites]="true"
                                          [preferenceName]="'favourites.section-laboratory-combobox'"></showcase-inner-tree-combobox>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="form-h-s">TEST 2</label>
        <div class="col-md-9">
            <showcase-inner-tree-combobox [withFavourites]="true"
                                          [preferenceName]="'favourites.section-laboratory-combobox'"></showcase-inner-tree-combobox>
        </div>
    </div>
</div>
