<showcase-title [title]="'Tabs'" [href]="'tabs'"></showcase-title>
<showcase-tabs></showcase-tabs>

<showcase-title [title]="'Input'" [href]="'input'"></showcase-title>
<showcase-input></showcase-input>

<showcase-title [title]="'Textarea'" [href]="'textarea'"></showcase-title>
<showcase-textarea></showcase-textarea>

<showcase-title [title]="'Searcher'" [href]="'searcher'"></showcase-title>
<showcase-searcher></showcase-searcher>

<showcase-title [title]="'Checkbox'" [href]="'checkbox'"></showcase-title>
<showcase-checkbox></showcase-checkbox>

<showcase-title [title]="'Radio'" [href]="'radio'"></showcase-title>
<showcase-radio></showcase-radio>

<showcase-title [title]="'Button'" [href]="'button'"></showcase-title>
<showcase-button></showcase-button>

<showcase-title [title]="'Spinner'" [href]="'spinner'"></showcase-title>
<showcase-spinner></showcase-spinner>

<showcase-title [title]="'Datepicker'" [href]="'datepicker'"></showcase-title>
<showcase-datepicker></showcase-datepicker>

<showcase-title [title]="'Combobox'" [href]="'combobox'"></showcase-title>
<showcase-combobox></showcase-combobox>

<showcase-title [title]="'Slider'" [href]="'slider'"></showcase-title>
<showcase-slider></showcase-slider>

<showcase-title [title]="'Progress bar'" [href]="'progress-bar'"></showcase-title>
<showcase-progress-bar></showcase-progress-bar>

<showcase-title [title]="'Table'" [href]="'table'"></showcase-title>
<showcase-table></showcase-table>

<showcase-title [title]="'Grid'" [href]="'grid'"></showcase-title>
<showcase-grid></showcase-grid>

<showcase-title [title]="'Tooltip'" [href]="'tooltip'"></showcase-title>
<showcase-tooltip></showcase-tooltip>

<showcase-title [title]="'Dialog'" [href]="'dialog'"></showcase-title>
<showcase-dialog></showcase-dialog>

<showcase-title [title]="'Message Popup'" [href]="'message-popup'"></showcase-title>
<showcase-message-popup></showcase-message-popup>

<showcase-title [title]="'Icon'" [href]="'icon'"></showcase-title>
<showcase-icon></showcase-icon>

<showcase-title [title]="'Headings'" [href]="'headings'"></showcase-title>
<showcase-headings></showcase-headings>

<showcase-title [title]="'Text'" [href]="'text'"></showcase-title>
<showcase-text></showcase-text>

<showcase-title [title]="'Alert'" [href]="'alert'"></showcase-title>
<showcase-alert></showcase-alert>

<showcase-title [title]="'Two-List'" [href]="'two-list'"></showcase-title>
<showcase-two-list></showcase-two-list>

<showcase-title [title]="'Application Frame'" [href]="'application-frame'"></showcase-title>
<showcase-application-frame></showcase-application-frame>

<showcase-title [title]="'Pie'" [href]="'pie'"></showcase-title>
<showcase-pie></showcase-pie>