<h4 class="font-weight-bold">Input</h4>
<a href="https://github.com/systelab/systelab-components/tree/master/src/app/showcase/components/input" class="btn-viewsource" target="_blank">
    <i class="fa fa-github"></i>
    <span>View on GitHub</span>
</a>
<showcase-input></showcase-input>

<h4 class="font-weight-bold">Textarea</h4>
<a href="https://github.com/systelab/systelab-components/tree/master/src/app/showcase/components/textarea" class="btn-viewsource" target="_blank">
    <i class="fa fa-github"></i>
    <span>View on GitHub</span>
</a>
<showcase-textarea></showcase-textarea>

<h4 class="font-weight-bold">Checkbox</h4>
<a href="https://github.com/systelab/systelab-components/tree/master/src/app/showcase/components/checkbox" class="btn-viewsource" target="_blank">
    <i class="fa fa-github"></i>
    <span>View on GitHub</span>
</a>
<showcase-checkbox></showcase-checkbox>

<h4 class="font-weight-bold">Radio</h4>
<a href="https://github.com/systelab/systelab-components/tree/master/src/app/showcase/components/radio" class="btn-viewsource" target="_blank">
    <i class="fa fa-github"></i>
    <span>View on GitHub</span>
</a>
<showcase-radio></showcase-radio>

<h4 class="font-weight-bold">Spinner</h4>
<a href="https://github.com/systelab/systelab-components/tree/master/src/app/showcase/components/spinner" class="btn-viewsource" target="_blank">
    <i class="fa fa-github"></i>
    <span>View on GitHub</span>
</a>
<showcase-spinner></showcase-spinner>

<h4 class="font-weight-bold">Datepicker</h4>
<a href="https://github.com/systelab/systelab-components/tree/master/src/app/showcase/components/datepicker" class="btn-viewsource" target="_blank">
    <i class="fa fa-github"></i>
    <span>View on GitHub</span>
</a>
<showcase-datepicker></showcase-datepicker>

<h4 class="font-weight-bold">Combobox</h4>
<a href="https://github.com/systelab/systelab-components/tree/master/src/app/showcase/components/combobox" class="btn-viewsource" target="_blank">
    <i class="fa fa-github"></i>
    <span>View on GitHub</span>
</a>
<showcase-combobox></showcase-combobox>

<h4 class="font-weight-bold">Slider</h4>
<a href="https://github.com/systelab/systelab-components/tree/master/src/app/showcase/components/slider" class="btn-viewsource" target="_blank">
    <i class="fa fa-github"></i>
    <span>View on GitHub</span>
</a>
<showcase-slider></showcase-slider>

<h4 class="font-weight-bold">Table</h4>
<a href="https://github.com/systelab/systelab-components/tree/master/src/app/showcase/components/table" class="btn-viewsource" target="_blank">
    <i class="fa fa-github"></i>
    <span>View on GitHub</span>
</a>
<showcase-table></showcase-table>

<h4 class="font-weight-bold">Grid</h4>
<a href="https://github.com/systelab/systelab-components/tree/master/src/app/showcase/components/grid" class="btn-viewsource" target="_blank">
    <i class="fa fa-github"></i>
    <span>View on GitHub</span>
</a>
<showcase-grid></showcase-grid>

<h4 class="font-weight-bold">Tooltip</h4>
<a href="https://github.com/systelab/systelab-components/tree/master/src/app/showcase/components/tooltip" class="btn-viewsource" target="_blank">
    <i class="fa fa-github"></i>
    <span>View on GitHub</span>
</a>
<showcase-tooltip></showcase-tooltip>

<h4 class="font-weight-bold">Dialog</h4>
<a href="https://github.com/systelab/systelab-components/tree/master/src/app/showcase/components/dialog" class="btn-viewsource" target="_blank">
    <i class="fa fa-github"></i>
    <span>View on GitHub</span>
</a>
<showcase-dialog></showcase-dialog>
<h4 class="font-weight-bold">Message Popup</h4>
<a href="https://github.com/systelab/systelab-components/tree/master/src/app/showcase/components/message-popup" class="btn-viewsource" target="_blank">
    <i class="fa fa-github"></i>
    <span>View on GitHub</span>
</a>
<showcase-message-popup></showcase-message-popup>


<h4 class="font-weight-bold">Icon</h4>
<a href="https://github.com/systelab/systelab-components/tree/master/src/app/showcase/components/icon" class="btn-viewsource" target="_blank">
    <i class="fa fa-github"></i>
    <span>View on GitHub</span>
</a>
<showcase-icon></showcase-icon>

<h4 class="font-weight-bold">Two-List</h4>
<a href="https://github.com/systelab/systelab-components/tree/master/src/app/showcase/components/two-list" class="btn-viewsource" target="_blank">
    <i class="fa fa-github"></i>
    <span>View on GitHub</span>
</a>
<showcase-two-list></showcase-two-list>

<h4 class="font-weight-bold">Application Frame</h4>
<a href="https://github.com/systelab/systelab-components/tree/master/src/app/showcase/components/application-frame" class="btn-viewsource" target="_blank">
    <i class="fa fa-github"></i>
    <span>View on GitHub</span>
</a>
<showcase-application-frame></showcase-application-frame>

<h4 class="font-weight-bold">Pie</h4>
<a href="https://github.com/systelab/systelab-components/tree/master/src/app/showcase/components/pie" class="btn-viewsource" target="_blank">
    <i class="fa fa-github"></i>
    <span>View on GitHub</span>
</a>
<showcase-pie></showcase-pie>