<div class="container-fluid">
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="resize-textarea">Textarea resizable (only vertical). Includes a
            context menu</label>
        <div class="col-md-9">
            <textarea name="" (contextmenu)="openContextMenu($event)" id="resize-textarea"
                      class="slab-textarea w-100 slab-textarea-vertical-resize"></textarea>
        </div>
        <systelab-context-menu #contextMenu [isEmbedded]="true" [contextMenuOptions]="contextMenuOptions2"
                               (action)="executeContextMenuAction($event)">
        </systelab-context-menu>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="noresize-textarea">Textarea no resizable</label>
        <div class="col-md-9">
            <textarea name="" id="noresize-textarea" class="slab-textarea w-100 slab-textarea-no-resize"></textarea>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label disabled" for="noresize-textarea">Textarea disabled</label>
        <div class="col-md-9">
            <textarea name="" id="disabled-textarea" class="slab-textarea w-100 slab-textarea-no-resize" disabled></textarea>
        </div>
    </div>
</div>
