<systelab-app-frame [userName]="userName" [userFullName]="userFullName" [hospitalName]="hospitalName" [menu]="menu"
                    [tabs]="sidetabs" [actions]="sideactions" (selected)="doSelect($event)">
    <div header-content>
        <button type="button" class="btn btn-sm">Button Top</button>
    </div>
    <div class="h-100 w-100 p-2" style="overflow: auto;" main-content>
        <showcase-inputs *ngIf="currentTab==='T1'"></showcase-inputs>
        <showcase-spinners *ngIf="currentTab==='T2'"></showcase-spinners>
        <showcase-forms *ngIf="currentTab==='T3'"></showcase-forms>
        <showcase-icons-list *ngIf="currentTab==='T4'"></showcase-icons-list>
    </div>
</systelab-app-frame>
