<div class="container-fluid">
    <div class="row mt-1">
        <label class="col slab-label-215" for="full-width-input">Full width</label>
        <div class="col-sm">
            <input type="text" class="form-control" placeholder="Nombre" id="full-width-input">
        </div>
    </div>
    <div class="row mt-1">
        <label class="col slab-label-215" for="third-width-input">Small width</label>
        <div class="col-sm">
            <input type="text" class="form-control" placeholder="Email" id="third-width-input">
        </div>
    </div>
    <div class="row mt-1 disabled">
        <label class="col slab-label-215" for="disabled-input">Disabled input</label>
        <div class="col-sm">
            <input disabled type="text" class="form-control" placeholder="Email" id="disabled-input">
        </div>
    </div>
    <div class="row mt-1">
        <label class="col slab-label-215" for="file-input">Input File</label>
        <div class="col-sm">
            <div class="slab-input-file">
                <input class="form-control" id="uploadFile" type="text" name="uploadFile" [(ngModel)]="fileName">
                <div class="btn nt-sm">
                    <span>...</span>
                    <input id="uploadBtn" type="file" (change)="selectFile($event.target.files)">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <label class="col slab-label-215" for="file-input">html with input style</label>
        <div class="col-sm">
            <div class="slab-input-simulator form-control">
                <font>1<sub>2S</sub>,</font>
                <font class="text-warning">1<sub>2.5S</sub>,</font>
                <font class="text-danger">1<sub>3S</sub></font>
            </div>
        </div>
    </div>
</div>