<div class="container-fluid">
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="full-width-input">Full width</label>
        <div class="col-md-9">
            <input type="text" class="form-control" placeholder="Nombre" id="full-width-input">
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="full-width-input">Number Input</label>
        <div class="col-md-9">
            <input type="number" class="form-control" placeholder="Number" id="number-input">
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="third-width-input">Small width</label>
        <div class="col-md-9">
            <input type="text" class="form-control" placeholder="Email" id="third-width-input">
        </div>
    </div>
    <div class="row mt-1 disabled">
        <label class="col-md-3 col-form-label" for="disabled-input">Disabled input</label>
        <div class="col-md-9">
            <input disabled type="text" class="form-control" placeholder="Email" id="disabled-input">
        </div>
    </div>
    <div class="row mt-1">
        <label class="col-md-3 col-form-label" for="file-input">html with input style</label>
        <div class="col-md-9">
            <div class="col-form-label">
                <font>1<sub>2S</sub>,</font>
                <font class="text-warning">1<sub>2.5S</sub>,</font>
                <font class="text-danger">1<sub>3S</sub></font>
            </div>
        </div>
    </div>
</div>