<form class="w-100">

    <div class="form-group row"> <!-- Full Name -->
        <label for="full_name_id" class="col-sm-2 col-form-label text-truncate">Full Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="full_name_id" name="full_name" placeholder="John Deer">
        </div>
    </div>

    <div class="form-group row">
        <label for="field1" class="col-sm-2 col-form-label text-truncate">Field 1</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="field1" name="field1"
                   placeholder="Street address, P.O. box, company name, c/o">
        </div>
        <label for="field2" class="col-sm-2 col-form-label text-truncate">Field 2</label>

        <div class="col-sm-4">
            <input type="text" class="form-control" id="field2" name="field2"
                   placeholder="Street address, P.O. box, company name, c/o">
        </div>
    </div>

    <div class="form-group row">
        <label for="field3" class="col-sm-2 col-form-label text-truncate">Field 5</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="field3" name="field3"
                   placeholder="Street address, P.O. box, company name, c/o">
        </div>
        <label for="field4" class="col-sm-1 col-form-label text-truncate">Field 6</label>

        <div class="col-sm-3">
            <input type="text" class="form-control" id="field4" name="field4"
                   placeholder="Street address, P.O. box, company name, c/o">
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="field5" name="field5"
                   placeholder="Street address, P.O. box, company name, c/o">
        </div>
    </div>

    <div class="form-group row"> <!-- Street 1 -->
        <label for="street1_id" class="col-sm-2 col-form-label text-truncate">Street Address 1</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="street1_id" name="street1"
                   placeholder="Street address, P.O. box, company name, c/o">
        </div>
    </div>

    <div class="form-group row">
        <label for="field3" class="col-sm-2 col-form-label text-truncate">Field 5</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="field3" name="field3"
                   placeholder="Street address, P.O. box, company name, c/o">
        </div>
        <label for="field4" class="col-sm-1 col-form-label text-truncate">Field 6</label>

        <div class="col-sm-3">
            <input type="text" class="form-control" id="field4" name="field4"
                   placeholder="Street address, P.O. box, company name, c/o">
        </div>
        <label for="field5" class="col-sm-1 col-form-label text-truncate">Field 6</label>

        <div class="col-sm-2">
            <input type="text" class="form-control" id="field5" name="field5"
                   placeholder="Street address, P.O. box, company name, c/o">
        </div>
    </div>

    <div class="form-group row">
        <label for="field31" class="col-sm-2 col-form-label text-truncate">Field 1</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="field31" name="field31"
                   placeholder="Street address, P.O. box, company name, c/o">
        </div>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="field32" name="field32"
                   placeholder="Street address, P.O. box, company name, c/o">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-truncate">Field 1</label>
        <div class="col-sm-10">
            <input name="status-radio2" type="radio" id="radio-urgent2"> <label
                for="radio-urgent2">Urgent</label>
            <input name="status-radio2" type="radio" id="radio-urgent3"> <label
                for="radio-urgent2">Urgent</label>
            <input name="status-radio2" type="radio" id="radio-urgent4"> <label
                for="radio-urgent2">Urgent</label>
            <input name="status-radio2" type="radio" id="radio-urgent5"> <label
                for="radio-urgent2">Urgent</label>
            <input name="status-radio2" type="radio" id="radio-urgent6"> <label
                for="radio-urgent2">Urgent</label>
        </div>
    </div>

    <div class="form-group row">
        <label for="field31" class="col-sm-2 col-form-label text-truncate">Field 1</label>
        <div class="col-sm-5">
            <systelab-select></systelab-select>
        </div>
        <div class="col-sm-5">
            <systelab-select></systelab-select>
        </div>
    </div>
    <div class="form-group row">
        <label for="field31" class="col-sm-2 col-form-label text-truncate">Field 1</label>
        <div class="col-sm-4">
            <systelab-select></systelab-select>
        </div>
        <label for="field31" class="col-sm-2 col-form-label text-truncate">Field 2</label>
        <div class="col-sm-4">
            <systelab-select></systelab-select>
        </div>
    </div>
    <div class="form-group row">
        <label for="field31" class="col-sm-2 col-form-label text-truncate">Field 1</label>
        <div class="col-sm-4">
            <systelab-datepicker></systelab-datepicker>
        </div>
        <label for="field31" class="col-sm-2 col-form-label text-truncate">Field 2</label>
        <div class="col-sm-4">
            <systelab-datepicker></systelab-datepicker>
        </div>
    </div>
    <div class="form-group row">
        <label for="field31" class="col-sm-2 col-form-label text-truncate">Field 1</label>
        <div class="col-sm-4">
            <systelab-date-time></systelab-date-time>
        </div>
        <label for="field31" class="col-sm-2 col-form-label text-truncate">Field 2</label>
        <div class="col-sm-4">
            <systelab-date-time></systelab-date-time>
        </div>
    </div>
</form>
