<systelab-dialog-header (close)="close();">Title</systelab-dialog-header>
<systelab-tabs class="slab-flex-1">
    <systelab-tab [title]="'title 3'" [id]="'3'">
        <showcase-standard class="w-100"></showcase-standard>
    </systelab-tab>
    <systelab-tab [title]="'title 2'" [id]="'2'">
        <div class="slab-flex-1">Second tab</div>
    </systelab-tab>
    <systelab-tab [title]="'title 1'" [id]="'1'" class="p-1">
        <showcase-inner-grid #grid2 class="slab-flex-1 position-relative" [menu]="getMenu()" (action)="doMenuAction($event)"
                             (clickRow)="doSelect($event)"></showcase-inner-grid>
    </systelab-tab>
    <systelab-tab [title]="'title 4'" [id]="'4'" class="p-1">
        <form class="p-2">
            <label class="slab-form-title">Date interval</label>
            <div class="row mt-1">
                <div class="col-md-4">
                    <input name="param-radio" type="radio" id="radio-days" [(ngModel)]="numericDateRadio" value="paramNumber">
                    <label for="radio-number">Last days</label>
                </div>
                <div class="col-md-4">
                    <div>
                        <systelab-spinner id="spinner" [disabled]="numericDateRadio === 'paramDate'"></systelab-spinner>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md-4">
                    <input name="param-radio" type="radio" id="radio-date" [(ngModel)]="numericDateRadio" value="paramDate">
                    <label for="radio-date">From</label>
                </div>
                <div class="col-md-4">
                    <systelab-datepicker id="QCGraphsPerformanceFromDate" [(currentDate)]="fromDate" [disabled]="numericDateRadio === 'paramNumber'"></systelab-datepicker>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md-4">
                    <label class="col-form-label ml-4 pl-2">To</label>
                </div>
                <div class="col-md-4">
                    <systelab-datepicker id="QCGraphsPerformanceToDate" [(currentDate)]="toDate" [disabled]="numericDateRadio === 'paramNumber'"></systelab-datepicker>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md-4">
                    <input name="param-radio" type="radio" id="radio-number" [(ngModel)]="numericDateRadio" value="paramNumber">
                    <label for="radio-number">Last points</label>
                </div>
                <div class="col-md-4">
                    <div>
                        <systelab-spinner id="touch" [disabled]="numericDateRadio === 'paramDate'"></systelab-spinner>
                    </div>
                </div>
            </div>
        </form>
    </systelab-tab>
</systelab-tabs>

<systelab-dialog-bottom>
    <button type="button" class="btn" (click)="grid2.showOptions()"> Options</button>
    <button type="button" class="btn  ml-auto" (click)="close()"> Submit</button>
</systelab-dialog-bottom>
