<systelab-dialog-header (close)="close();">Title</systelab-dialog-header>
<systelab-tabs class="slab-flex-1">
    <systelab-tab [title]="'title 1'" [id]="'1'">
        <showcase-standard></showcase-standard>
    </systelab-tab>
    <systelab-tab [title]="'title 2'" [id]="'2'">
        <showcase-standard></showcase-standard>
    </systelab-tab>
    <systelab-tab [title]="'title 3'" [id]="'3'">
        <showcase-standard></showcase-standard>
    </systelab-tab>
</systelab-tabs>

<systelab-dialog-bottom>
    <div class="dropup slab-button-dropdown ml-auto">
        <button type="button" class="btn btn-lg" (click)="close()"> Submit</button>
    </div>
    <button type="button" class="btn btn-lg ml-1" (click)="close()"> Submit</button>
</systelab-dialog-bottom>
