<form class="d-flex flex-column h-100 w-100 p-4">

    <div class="row align-items-center mt-1">
        <label for="full_name_id" class="col slab-label slab-label-165 text-truncate">Full Name</label>
        <div class="col">
            <input type="text" class="form-control" id="full_name_id" name="full_name" placeholder="John Deer">
        </div>
    </div>

    <div class="row align-items-center mt-1">
        <label for="field1" class="col slab-label slab-label-165 text-truncate">Field 1</label>
        <div class="col">
            <input type="text" class="form-control" id="field1" name="field1">
        </div>
        <label for="field2" class="slab-label text-truncate">Field 2</label>
        <div class="col">
            <input type="text" class="form-control" id="field2" name="field2">
        </div>
    </div>

    <div class="row align-items-center mt-1">
        <label for="field3" class="col slab-label slab-label-165 text-truncate">Field 3</label>
        <div class="col">
            <input type="text" class="form-control" id="field3" name="field3">
        </div>
        <label for="field3" class="slab-label text-truncate">Field 4</label>
        <div class="col">
            <input type="text" class="form-control" id="field3" name="field3">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="field3" name="field3">
        </div>
    </div>

    <div class="row align-items-center mt-1">
        <label for="street1_id" class="col slab-label slab-label-165 text-truncate">Street Address 1</label>
        <div class="col">
            <input type="text" class="form-control" id="street1_id" name="street1_id">
        </div>
    </div>

    <div class="row align-items-center mt-1">
        <label for="field5" class="col slab-label slab-label-165 text-truncate">Field 5</label>
        <div class="col">
            <input type="text" class="form-control" id="field5" name="field5">
        </div>
        <label for="field6" class="slab-label text-truncate">Field 6</label>
        <div class="col">
            <input type="text" class="form-control" id="field6" name="field6">
        </div>
        <label for="field7" class="slab-label text-truncate">Field 7</label>
        <div class="col">
            <input type="text" class="form-control" id="field7" name="field7">
        </div>
    </div>

    <div class="row align-items-center mt-1">
        <label for="field8" class="col slab-label slab-label-165 text-truncate">Field 8</label>
        <div class="col">
            <input type="text" class="form-control" id="field8" name="field8">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="field81" name="field81">
        </div>
    </div>
    
    <div class="row align-items-center mt-1">
        <label for="field" class="col slab-label slab-label-165 text-truncate">Field 9</label>
        <div class="col d-flex justify-content-between">
            <input name="status-radio2" type="radio" id="radio-urgent2"> <label
            for="radio-urgent2">Urgent</label>
            <input name="status-radio2" type="radio" id="radio-urgent3"> <label
            for="radio-urgent2">Urgent</label>
            <input name="status-radio2" type="radio" checked id="radio-urgent4"> <label
            for="radio-urgent2">Urgent</label>
            <input name="status-radio2" type="radio" id="radio-urgent5"> <label
            for="radio-urgent2">Urgent</label>
            <input name="status-radio2" type="radio" id="radio-urgent6"> <label
            for="radio-urgent2">Urgent</label>
        </div>
    </div>
    
    <div class="row align-items-center mt-1">
        <label for="field10" class="col slab-label slab-label-165 text-truncate">Field 10</label>
        <div class="col">
            <systelab-select></systelab-select>
        </div>
        <div class="col">
            <systelab-select></systelab-select>
        </div>
    </div>

    <div class="row align-items-center mt-1">
        <label for="field11" class="col slab-label slab-label-165 text-truncate">Field 11</label>
        <div class="col">
            <systelab-select></systelab-select>
        </div>
        <label for="field12" class="slab-label text-truncate">Field 12</label>
        <div class="col">
            <systelab-select></systelab-select>
        </div>
    </div>

    <div class="row align-items-center mt-1">
        <label for="field13" class="col slab-label slab-label-165 text-truncate">Field 13</label>
        <div class="col">
            <systelab-datepicker></systelab-datepicker>
        </div>
        <label for="field14" class="slab-label text-truncate">Field 14</label>
        <div class="col">
            <systelab-datepicker></systelab-datepicker>
        </div>
    </div>
    
    <div class="row align-items-center mt-1">
        <label for="field15" class="col slab-label slab-label-165 text-truncate">Field 15</label>
        <div class="col">
            <systelab-date-time></systelab-date-time>
        </div>
    </div>
    
    <div class="row align-items-center mt-1">
        <label for="field16" class="col slab-label slab-label-165 text-truncate">Field 16</label>
        <div class="col">
            <systelab-date-time></systelab-date-time>
        </div>
    </div>
</form>
    