<div class="d-flex">
    <p-calendar #calendar [(ngModel)]="currentDate" [showIcon]="false" [locale]="language"
                [dateFormat]="language.dateFormatValue" (onFocus)="saveEventOnFocus($event)"
                (onBlur)="changeDate()"
                [showOtherMonths]="true"
                [required]="isRequired"
                [disabled]="disabled"
                appendTo="body"
                [style.margin-right.px]="5"
                [style.min-width.px]="130"
                class="w-50"
                [ngClass]="{'date-error': error || (isRequired && !currentDate), 'is-disabled': disabled, 'previous-date': previousDate, 'input-expand-height':inputExpandHeight}">
        <p-header id="{{datepickerId}}">
            <a class="icon-angle-double-left slab-icon-medium" (click)="prevYear()"></a>
            <a class="icon-angle-left slab-icon-medium" (click)="prevMonth($event)"></a>
            <a class="icon-angle-double-right slab-icon-medium" (click)="nextYear()"></a>
            <a class="icon-angle-right slab-icon-medium" (click)="nextMonth($event)"></a>
            <div class="ui-datepicker-title">
                <span class="ui-datepicker-month">{{ currentCalendar.currentMonthText }}</span>
                <span class="ui-datepicker-year">{{ currentCalendar.currentYear }}</span>
            </div>
        </p-header>
    </p-calendar>
    <systelab-spinner [spinValues]="touchSpinHourValues" [(valueStr)]="currentHours" id="hours" [fillUnitsWithZero]="true"></systelab-spinner>
    <label class="mx-1 my-0">:</label>
    <systelab-spinner [spinValues]="touchSpinMinuteValues" [(valueStr)]="currentMinutes" id="minutes"
                    [fillUnitsWithZero]="true"></systelab-spinner>
    </div>
