<div class="container-fluid">
    <h5>Grid</h5>
    <form class="position-relative" style="height: 200px;">
        <showcase-inner-grid #grid [rowData]="gridData" [menu]="getMenu()" (action)="doMenuAction($event)"
                             [headerMenu]="getHeaderContextMenuOptions()"
                             [showChecks]="true" [multipleSelection]="true"
                             [multipleSelection]="true" (clickRow)="doSelect($event)"></showcase-inner-grid>
    </form>
    <div class="pt-2">
        <button type="button" class="btn btn-outline-primary" (click)="grid.showOptions();"><i class="icon-info-circle mr-1"></i>Options
        </button>
    </div>

    <h5 class="pt-2">Stacked Bars Grid</h5>
    <form class="position-relative" style="height: 200px;">
        <showcase-inner-bars-grid #barGrid [rowData]="gridData" [menu]="getMenu()" (action)="doMenuAction($event)"
                                  [headerMenu]="getHeaderContextMenuOptions()"
                                  (clickRow)="doSelect($event)"></showcase-inner-bars-grid>
    </form>
    <div class="pt-2">
        <button type="button" class="btn btn-outline-primary" (click)="barGrid.showOptions();"><i class="icon-info-circle mr-1"></i>Options
        </button>
    </div>

    <h5 class="pt-2">Api Grid</h5>
    <form class="position-relative" style="height: 200px;">
        <showcase-inner-api-grid #gridapi [menu]="getMenu()" (action)="doMenuAction($event)"
                                 [headerMenu]="getHeaderContextMenuOptions()"
                                 [multipleSelection]="true" (clickRow)="doSelect($event)"></showcase-inner-api-grid>
    </form>
    <div class="pt-2">
        <button type="button" class="btn btn-outline-primary" (click)="gridapi.showOptions();"><i class="icon-info-circle mr-1"></i>Options
        </button>
    </div>
</div>
