@import "../styles/default-theme/sass/variables";

/* $touchspin-width: defines the width of the touchspin.*/
$touchspin-width: 100px !default;

:host {
  display: inline-block;
  width: $touchspin-width;


  .slab-touchspin {
    display: flex;
  }


  /**
   * 1. An input element, unlike a div, comes with an intrinsic width. We
   *    need to override this behavior, because a flex item cannot shrink
   *    below the length of their content.
   */
  .slab-tsinput {
    min-width: 0; /* [1] */
    width: $touchspin-width;
    text-align: center;
    border-radius: 0;
  }


  /**
   * 1. Resetting of default button minimum size.
   */
  .slab-touchspin-minus,
  .slab-touchspin-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: inherit; /* [1] */
    min-height: inherit; /* [1] */
    @include size($form-elements-height);
  }


  .slab-touchspin-minus {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }


  .slab-touchspin-plus {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
