<div class="container-fluid">
    <div class="row mt-1">
        <label class="col-md-3 col-form-label">Switcher</label>
        <form [formGroup]="myForm" class="col-md-9">
            <systelab-switch formControlName="mySwitch"
                             id="enabled" name="enabled"></systelab-switch>
            <systelab-switch formControlName="mySwitch2"
                            [disabled]="true" id="enabled" name="enabled"></systelab-switch>
            <systelab-switch formControlName="mySwitch3"
                            [disabled]="true" id="enabled" name="enabled"></systelab-switch>
        </form>
    </div>

    <div class="row align-items-top mt-1">
        <label class="col-md-3 col-form-label">Column</label>
        <div class="col-md-9">
            <div>
                <input type="checkbox" id="check_urgent">
                <label for="check_urgent" class="col-form-label"> Urgent</label>
            </div>
            <div class="mt-1">
                <input type="checkbox" checked id="check_not_urgent">
                <label for="check_not_urgent" class="col-form-label"> Not Urgent</label>
            </div>
        </div>
    </div>

    <div class="row mt-1">
        <label class="col-md-3 col-form-label">Inline (using a grid)</label>
        <div class="col-md-4">
            <input type="checkbox" id="check_urgent2">
            <label for="check_urgent2" class="col-form-label"> Urgent</label>
        </div>
        <div class="col-md-4">
            <input type="checkbox" checked id="check_not_urgent2">
            <label for="check_not_urgent2" class="col-form-label"> Not Urgent</label>
        </div>
    </div>
</div>