<systelab-dialog-header (close)="close();">Split</systelab-dialog-header>
<div class="slab-flex-1">
    <split direction="horizontal" (dragProgress)="dragProgressHorizontal($event)">
        <split-area [size]="testSelectorSize" [visible]="isShowSelector">
            <div class="h-100" style="background-color: violet;"></div>
        </split-area>
        <split-area [size]="100-testSelectorSize">
            <split direction="vertical" (dragProgress)="dragProgressVertical($event)">
                <split-area [size]="100-tableSize">
                    <div class="h-100" style="background-color: red;"></div>
                </split-area>
                <split-area [size]="tableSize" [visible]="isShowDetails">
                    <div class="h-100" style="background-color: green;"></div>
                </split-area>
            </split>
        </split-area>
    </split>
</div>
<systelab-dialog-bottom>
    <button type="button" class="btn btn-lg mr-1" (click)="setShowDetails()"
            [class.btn-primary]="isShowDetails">Details
    </button>
    <button type="button" class="btn btn-lg" (click)="setShowSelector()"
            [class.btn-primary]="isShowSelector">Selector
    </button>
</systelab-dialog-bottom>
