<systelab-dialog-header (close)="close();">Split</systelab-dialog-header>
<div class="slab-flex-1">
    <as-split [direction]="'horizontal'" (dragProgress)="dragProgressHorizontal($event)">
        <as-split-area [size]="testSelectorSize" [visible]="isShowSelector">
            <div class="h-100" style="background-color: violet;"></div>
        </as-split-area>
        <as-split-area [size]="100-testSelectorSize">
            <as-split [direction]="'vertical'" (dragProgress)="dragProgressVertical($event)">
                <as-split-area [size]="100-tableSize">
                    <div class="h-100" style="background-color: red;"></div>
                </as-split-area>
                <as-split-area [size]="tableSize" [visible]="isShowDetails">
                    <div class="h-100" style="background-color: green;"></div>
                </as-split-area>
            </as-split>
        </as-split-area>
    </as-split>
</div>
<systelab-dialog-bottom>
    <button type="button" class="btn mr-1" (click)="setShowDetails()"
            [class.btn-primary]="isShowDetails">Details
    </button>
    <button type="button" class="btn" (click)="setShowSelector()"
            [class.btn-primary]="isShowSelector">Selector
    </button>
</systelab-dialog-bottom>
