<div class="container-fluid">
    <button type="button" class="btn mt-2 mr-1" systelabTooltip="{{tooltipText}}">Tooltip on top</button>
    <button type="button" class="btn mt-2 mr-1" systelabTooltip="Tooltip on right" systelabTooltipPlacement="right">Tooltip on right</button>
    <button type="button" class="btn mt-2 mr-1" systelabTooltip="Tooltip on bottom" systelabTooltipPlacement="bottom">Tooltip on bottom</button>
    <button type="button" class="btn mt-2 mr-1" systelabTooltip="Tooltip on left" systelabTooltipPlacement="left">Tooltip on left</button>
    <button type="button" class="btn mt-2 mr-1" systelabTooltipHtml="<em>Tooltip</em> <u>with</u> <b>HTML</b>">Tooltip with HTML</button>
    <button type="button" class="btn mt-2 mr-1" systelabTooltip="Tooltip delay 100 ms and 0 ms to hide" systelabTooltipDelay="100" systelabTooltipHideDelay="0">Tooltip delay</button>
</div>